{% stylesheets
'bundles/coresyscore/lib/Bootstrap/dist/css/bootstrap.css'
'bundles/coresyscore/lib/Bootstrap/dist/css/Bridge.css'
'bundles/coresyscore/lib/Bootstrap4/plugins/bootstrap-switch/css/bootstrap-switch.min.css'
'bundles/coresyscore/lib/Bootstrap4/plugins/colorpicker/bootstrap.colorpickersliders.min.css'
'bundles/coresyscore/lib/fontAwesome/css/font-awesome.min.css'
'bundles/coresyscore/lib/toastr/toastr.min.css'
'bundles/coresyscore/lib/uploadify/uploadifive.css'
'bundles/coresyscore/lib/fancybox/jquery.fancybox.css'
filter="cssrewrite"
output="css/coresys_admin_core.min.css" %}
<link type="text/css" rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset( 'bundles/coresyscore/theme/coresys/css/admin.css') }}"/>