<header>
    <div class="row">
        <div class="col-xs-8 logo-container">
            <button class="navbar-toggler no-waves hidden-md-up" type="button" data-toggle="collapse"
                    data-target="#exCollapsingNavbar" onclick="$('.nav-container').toggleClass('open');">
                &#9776;</button>
            <div class="logo">
                <a href="javascript:void(0)">
                    {% spaceless %}
                        {{ cs_getLogo( cs_configSetting( 'site_name' ) ) }}
                    {% endspaceless %}
                </a>
            </div>
        </div>
        <div class="col-xs-4 text-xs-right right-menu">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" href="{{ url( 'admin_profile_user', {id: app.user.id | default('1')} ) }}">
                        <img src="{{ cs_getUserGavatarImage( app.user, 18 ) }}" style="max-width:18px;max-height:18px"/>
                        My Profile
                    </a>
                    <a class="dropdown-item" href="{{ url( 'fos_user_security_logout' ) }}">
                        <i class="fa fa-power-off"></i>
                        Logout
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 nav-container">
            <div class="container">
                <ul class="nav csmenu nav-waves nav-inline">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url( 'admin_index' ) }}"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                    {% for menu in cs_getAdminMenus() %}
                        {% include menu ~ '' with {adminMenuId: menu.id} %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</header>