function renderUserRoles( data, type, row ) {
    var $wrapper = $( '<div />' );
    if ( $.isArray( data ) && data.length > 0 ) {
        $.each( data, function ( idx, role ) {
            $wrapper.append( $( '<span title="' + role.name + '" class="label label-default" style="margin-right:5px;color:' + role.color + '">' + role.name + '</span>' ) );
        } );
        return $wrapper.html();
    }
    return '<span>N/A</span>';
}