function renderUserImage( data, type, row ) {
    if( !row.gravatar_use) {
        if ( row.image !== null && typeof row.image === 'object' ) {
            var url = Routing.generate( 'media_image_get', {size: 'tiny', slug: row.image.id} );
            return '<img src="' + url + '" style="max-width:20px" />';
        }

        return 'N/A';
    }

    return '<img src="' + row.gravatarUrl + '?d={{ cs_urlEncode( app.request.getSchemeAndHttpHost() ~ asset( '/bundles/coresyscore/images/defaultUser.jpg')) }}&s=20" />';
}