function renderImageSizes( data, type, row ) {
    var sizes = [];
    if ( $.isArray( data ) ) {
        $.each( data, function(idx, size){
            var url = Routing.generate( 'media_image_get', {size: size.name, slug: row.filename} ),
                rel = 'imageSize' + row.id,
                title = size.name + ': ' + size.maxWidth + 'x' + size.maxHeight;
            sizes.push( '<a title="' + title + '" data-toggle="tooltip" target="_blank" href="' + url + '" class="fancybox label label-default" style="margin-right:3px" rel="' + rel + '">' + size.name + '</a>' );
        });

        var url = Routing.generate( 'media_image_get', {size: row.filename} ),
            rel = 'imageSize' + row.id,
            title = 'Original: ' + row.width + 'x' + row.height;
        sizes.push( '<a title="' + title + '" data-toggle="tooltip" target="_blank" href="' + url + '" class="fancybox label label-default" style="margin-right:3px" rel="' + rel + '">Original</a>' );
    }

    return sizes.length ? sizes.join( '' ) : 'N/A';
}