function renderRoleAccess( data, type, row ) {
    var $wrapper = $( '<div>' );
    if ( $.isArray( data ) ) {
        if ( data.length > 0 ) {
            $.each( data, function ( idx, item ) {
                $wrapper.append( $( '<span class="label label-default" style="margin: 2px;">' + item.path + '</span>' ) );
            } );
        } else {
            $wrapper.append( $( '<span>N/A</span>' ) );
        }
    } else {
        $wrapper.append( $( '<span>N/A</span>' ) );
    }

    return $wrapper.html();
}