{% set uniqueID1 = cs_randomInt() %}
{% set uniqueID2 = cs_randomInt() %}
{{ form_start( form, {name:"update-configuration", attr:{name:"update-configuration", class:"form form-horizontal"}} ) }}
<div class="row">
    <div class="col-xs-12">{{ form_errors( form ) }}</div>
    <div class="col-xs-12">
        {{ cs_adminThemeHelper( 'tabs', {tabs:[
            {id: 'config-site', text: 'Settings', icon: 'fa fa-cogs'},
            {id: 'config-meta', text: 'Meta Data', icon: 'fa fa-wrench'},
            {id: 'config-emails', text: 'Emails', icon: 'fa fa-envelope'},
            {id: 'config-login', text: 'Login', icon: 'fa fa-sign-in'},
            {id: 'config-social', text: 'Social Data', icon: 'fa fa-user'},
            {id: 'config-media', text: 'Media', icon: 'fa fa-file-image-o'},
            {id: 'config-sliders', text: 'Sliders', icon: 'fa fa-file-image-o'},
            ]}) }}

        <div class="tab-content">
            <div class="tab-pane fade in active" id="config-site" role="tabpanel">
                {{ form_row( form.siteName ) }}
                {{ form_row( form.siteTitle ) }}
                {{ form_row( form.siteSlogan ) }}
                {{ form_row( form.companyName ) }}
                {% include 'CoreSysCoreBundle:Inputs:submit.html.twig' with {text: '<i class="fa fa-check"></i> Save'} %}
            </div>
            <div class="tab-pane fade" id="config-meta" role="tabpanel">
                {{ form_row( form.metaDescription ) }}
                {{ form_row( form.metaKeywords ) }}
                {{ form_row( form.metaAuthor ) }}
                {% include 'CoreSysCoreBundle:Inputs:submit.html.twig' with {text: '<i class="fa fa-check"></i> Save'} %}
            </div>
            <div class="tab-pane fade" id="config-emails" role="tabpanel">
                {{ form_row( form.adminEmail) }}
                {{ form_row( form.supportEmail) }}
                {% include 'CoreSysCoreBundle:Inputs:submit.html.twig' with {text: '<i class="fa fa-check"></i> Save'} %}
            </div>
            <div class="tab-pane fade" id="config-login" role="tabpanel">
                <div class="row switch-group">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <h5>Social Media Login</h5>
                            {{ form_widget( form.socialLogin, { attr: { help: '' } } ) }}
                            <small>Allow Social Media Logins?</small>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <h5>Facebook Login</h5>
                            {{ form_widget( form.facebookLogin, { attr: { help: '' } } ) }}
                            <small>Allow Users to Login with Facebook?</small>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <h5>Twitter Login</h5>
                            {{ form_widget( form.twitterLogin, { attr: { help: '' } } ) }}
                            <small>Allow Users to Login with Twitter?</small>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <h5>Google Plus Login</h5>
                            {{ form_widget( form.googleLogin, { attr: { help: '' } } ) }}
                            <small>Allow Users to Login with Google+?</small>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <h5>Instagram Login</h5>
                            {{ form_widget( form.instagramLogin, { attr: { help: '' } } ) }}
                            <span>Allow Users to Login with Instagram?</span>
                        </div>
                    </div>
                </div>
                {% include 'CoreSysCoreBundle:Inputs:submit.html.twig' with {text: '<i class="fa fa-check"></i> Save'} %}
            </div>
            <div class="tab-pane fade" id="config-social" role="tabpanel">
                <div class="form-group">
                    {{ form_label( form.social.facebook ) }}
                    <div class="input-group">
                        {{ form_widget( form.social.facebook ) }}
                        <span class="input-group-addon">
                            {{ form_widget( form.social.facebookShow, {attr:{'data-size':'mini'} } ) }}
                        </span>
                    </div>
                    <small>Facebook ID | Show Facebook on site</small>
                </div>
                <div class="form-group">
                    {{ form_label( form.social.twitter ) }}
                    <div class="input-group">
                        {{ form_widget( form.social.twitter ) }}
                        <span class="input-group-addon">
                            {{ form_widget( form.social.twitterShow, {attr:{'data-size':'mini'} }  ) }}
                        </span>
                    </div>
                    <small>Twitter ID | Show Twitter on site</small>
                </div>
                <div class="form-group">
                    {{ form_label( form.social.instagram ) }}
                    <div class="input-group">
                        {{ form_widget( form.social.instagram ) }}
                        <span class="input-group-addon">
                            {{ form_widget( form.social.instagramShow, {attr:{'data-size':'mini'} }  ) }}
                        </span>
                    </div>
                    <small>Instagram ID | Show Instagram on site</small>
                </div>
                <div class="form-group">
                    {{ form_label( form.social.ebay ) }}
                    <div class="input-group">
                        {{ form_widget( form.social.ebay ) }}
                        <span class="input-group-addon">
                            {{ form_widget( form.social.ebayShow, {attr:{'data-size':'mini'} }  ) }}
                        </span>
                    </div>
                    <small>EBay ID | Show EBay on site</small>
                </div>
                <div class="form-group">
                    {{ form_label( form.social.youtube ) }}
                    <div class="input-group">
                        {{ form_widget( form.social.youtube ) }}
                        <span class="input-group-addon">
                            {{ form_widget( form.social.youtubeShow, {attr:{'data-size':'mini'} }  ) }}
                        </span>
                    </div>
                    <small>YouTube ID | Show YouTube on site</small>
                </div>
                <div class="form-group">
                    {{ form_label( form.social.pinterest ) }}
                    <div class="input-group">
                        {{ form_widget( form.social.pinterest ) }}
                        <span class="input-group-addon">
                            {{ form_widget( form.social.pinterestShow, {attr:{'data-size':'mini'} }  ) }}
                        </span>
                    </div>
                    <small>Pinterest ID | Show Pinterest on site</small>
                </div>
                {% include 'CoreSysCoreBundle:Inputs:submit.html.twig' with {text: '<i class="fa fa-check"></i> Save'} %}
            </div>
            <div class="tab-pane fade" id="config-media" role="tabpanel">
                <div class="card card-default">
                    <div class="card-header"><h4 class="card-title">Logo</h4></div>
                    <div class="card-block">
                        {% include 'CoreSysCoreBundle:Helpers:fileUploadSingle.html.twig' with {previewSize: 'logo', auto: false, showPreview: true, preview: config.logo} %}
                    </div>
                </div>
                <div class="card card-default">
                    <div class="card-header"><h4 class="card-title">System Images</h4></div>
                    <div class="card-block">
                        {% include 'CoreSysCoreBundle:Helpers:fileUploadMultiple.html.twig' with {previewSize: 'thumbnail', auto: false, images: config.images } %}
                    </div>
                </div>
                <div class="alert alert-warning text-center text-xs-center">
                    Images added will NOT be part of the system unless the "Save" button is clicked.<br>
                    Navigating away from the page or refreshing the page without saving will lose the newly added system
                    images.
                </div>
                {% include 'CoreSysCoreBundle:Inputs:submit.html.twig' with {text: '<i class="fa fa-check"></i> Save'} %}
            </div>
            <div class="tab-pane fade" id="config-sliders" role="tabpanel">
                <div class="card card-default">
                    <div class="card-header"><h4 class="card-title">System Sliders</h4></div>
                    <div class="card-block">
                        {% include 'CoreSysCoreBundle:Helpers:fileUploadMultiple.html.twig' with {uniqueID: uniqueID1, inputName: 'multi-slider', inputID: 'multi-slider', previewID: 'multi-slider-preview', queueID: 'multi-slider-queue', previewSize: 'thumbnail', auto: true, images: config.sliders } %}
                    </div>
                </div>
                <div class="alert alert-warning text-center text-xs-center">
                    Slider Images added will NOT be part of the system unless the "Save" button is clicked.<br>
                    Navigating away from the page or refreshing the page without saving will lose the newly added system
                    Sliders.
                </div>
                {% include 'CoreSysCoreBundle:Inputs:submit.html.twig' with {text: '<i class="fa fa-check"></i> Save'} %}
            </div>
        </div>

    </div>
</div>
<div class="hidden" style="display:none">
    {{ form_rest( form ) }}
</div>
{{ form_end( form ) }}
<script type="application/javascript">
    function onUploadComplete( file, data, el ) {
        var $target = $( '.uploadify-single-preview' );
        try {
            data = typeof data === 'object' ? data : JSON.parse( data );
            if ( data.filename ) {
                var $img = $( '<img class="img-resposive" style="max-width:100%" src="' + Routing.generate( 'media_image_get', {
                            size: 'logo',
                            slug: data.filename
                        } ) + '" />' );
                $target.html( '' );
                $target.append( $img );
                $( 'select#configuration_logo' ).append( $( '<option value="' + data.id + '">' + data.filename + '</option>' ) );
                $( 'select#configuration_logo' ).val( data.id );
            }
        } catch ( e ) {
            var $html = $( '<div class="text-center text-xs-center">No Preview</div>' );
            $target.html( '' );
            $target.append( $html );
        }
    }

    setTimeout( function () {
        $( '.fancybox' ).fancybox();
    }, 250 );

    {% include 'CoreSysCoreBundle:Helpers:fileUploadSingle.js.twig' with {onUploadComplete: 'onUploadComplete', debug: true, options: uploadifyOptions, targetInput: 'select#configuration_logo'} %}
    {% include 'CoreSysCoreBundle:Helpers:fileUploadMultiple.js.twig' with {debug: false, options: uploadifyOptions, targetInput: 'select#configuration_images'} %}
    {% include 'CoreSysCoreBundle:Helpers:fileUploadMultiple.js.twig' with {uniqueID: uniqueID1, previewID: 'multi-slider-preview', inputName: 'multi-slider', inputID: 'multi-slider', debug: false, options: uploadifyOptions|merge({auto:true, queueID: 'multi-slider-queue'}), targetInput: 'select#configuration_sliders'} %}
</script>