{% block card %}
    <div class="card">
        {{- block( 'card_header' ) }}
        {{- block( 'card_block')  }}
    </div>
{% endblock card %}

{% block card_header %}
    <div class="card-header">
        {{- block( 'card_header_title' ) }}
    </div>
{% endblock card_header %}

{% block card_header_title %}
    <h4 class="card-title">Some Title</h4>
{% endblock card_header_title %}

{% block card_block %}
    <div class="card-block">
        {{ dump() }}
    </div>
{% endblock card_block %}