<div class="card card-{{ cardType | default( 'default' ) }}">
    {% block card_content %}
        {% block card_header %}
            <div class="card-header">
                <h4 class="card-title">{{ cardTitle | default( 'Header Title' ) }}</h4>
            </div>
        {% endblock card_header %}
        <div class="card-block">
            {% block card_block_content %}
                Card block content
            {% endblock card_block_content %}
        </div>
        {% block card_block_footer %}
        {% endblock card_block_footer %}
    {% endblock card_content %}
</div>