{% set useWell = useWell is defined ? useWell : true %}
{% set useQueue = useQueue is defined ? useQueue : true %}
{% set well = well is defined ? well : 'well well-sm' %}
{% set inputName = inputName is defined ? inputName : 'image_file' %}
{% set inputID = inputID is defined ? inputID : 'image-file-input' %}
{% set options = options is defined ? options : {} %}
{% set debug = debug is defined ? debug : false %}
{% set targetInput = targetInput is defined ? targetInput : '[name="image"]' %}
{% set previewSize = previewSize is defined ? previewSize : 'preview' %}

{# START SET THESE DEFAULTS #}
{% set uploadifyOptions = {auto: true, multi: false, queueID: 'file-queue', removeCompleted: true, uploadScript: url( 'media_image_upload_raw' )} %}
{% set uploadifyOptions = uploadifyOptions | merge( options ) %}
{% set submitButton = submitButton is defined ? submitButton : 'input[type="submit"]' %} {# SET THIS DEFAULT #}
{# END SET THESE DEFAULTS #}

{% set onAddQueueItem = onAddQueueItem is defined ? onAddQueueItem : null %}
{% set onCancel = onCancel is defined ? onCancel : null %}
{% set onCheck = onCheck is defined ? onCheck : null %}
{% set onClearQueue = onClearQueue is defined ? onClearQueue : null %}
{% set onDestroy = onDestroy is defined ? onDestroy : null %}
{% set onDrop = onDrop is defined ? onDrop : null %}
{% set onError = onError is defined ? onError : null %}
{% set onFallback = onFallback is defined ? onFallback : null %}
{% set onInit = onInit is defined ? onInit : null %}
{% set onProgress = onProgress is defined ? onProgress : null %}
{% set onQueueComplete = onQueueComplete is defined ? onQueueComplete : null %}
{% set onSelect = onSelect is defined ? onSelect : null %}
{% set onUpload = onUpload is defined ? onUpload : null %}
{% set onUploadComplete = onUploadComplete is defined ? onUploadComplete : null %}
{% set onUploadFile = onUploadFile is defined ? onUploadFile : null %}

{% spaceless %}
var $uploadify = $( 'input#{{ inputID | raw }}' ).uploadifive( {
    onAddQueueItem:   function ( file ) {
        $( '.file-upload-btn-container, #{{ uploadifyOptions.queueID }}' ).show();
        $( '{{ submitButton | raw }}, .modal-footer>button' ).prop( 'disabled', true );
        {% if onAddQueueItem != null %}
        if ( typeof {{ onAddQueueItem | raw }} === 'function' ) {
            {{ onAddQueueItem | raw }}(file, this);
        }
        {% endif %}
        {% if debug %}console.debug( 'onAddQueueItem', file );{% endif %}
    },
    onCancel:         function () {
        $( '.file-upload-btn-container, #{{ uploadifyOptions.queueID }}' ).hide();
        $( '{{ submitButton | raw }}, .modal-footer>button' ).prop( 'disabled', false );
        {% if onCancel != null %}
        if ( typeof {{ onCancel | raw }} === 'function' ) {
            {{ onCancel | raw }}( this );
        }
        {% endif %}
        {% if debug %}console.debug( 'onCancel' );{% endif %}
    },
    onCheck:          function ( file, exists ) {
        {% if onCheck != null %}
        if ( typeof {{ onCheck | raw }} === 'function' ) {
            {{ onCheck | raw }}( file, exists, this );
        }
        {% endif %}
        {% if debug %}console.debug( 'onCheck', file, exists );{% endif %}
    },
    onClearQueue:     function () {
        $( '.file-upload-btn-container, #{{ uploadifyOptions.queueID }}' ).hide();
        $( '{{ submitButton | raw }}, .modal-footer>button' ).prop( 'disabled', false );
        {% if onClearQueue != null %}
        if ( typeof {{ onClearQueue | raw }} === 'function' ) {
            {{ onClearQueue | raw }}( this );
        }
        {% endif %}
        {% if debug %}console.debug( 'onClearQueue' );{% endif %}
    },
    onDestroy:        function () {
        $( '.file-upload-btn-container, #{{ uploadifyOptions.queueID }}' ).hide();
        $( '{{ submitButton | raw }}, .modal-footer>button' ).prop( 'disabled', false );
        {% if onDestroy != null %}
        if ( typeof {{ onDestroy | raw }} === 'function' ) {
            {{ onDestroy | raw }}( this );
        }
        {% endif %}
        {% if debug %}console.debug( 'onDestroy' );{% endif %}
    },
    onDrop:           function ( file, fileDropCount ) {
        {% if onDrop != null %}
        if ( typeof {{ onDrop | raw }} === 'function' ) {
            {{ onDrop | raw }}( file, fileDropCount, this );
        }
        {% endif %}
        {% if debug %}console.debug( 'onDrop', file, fileDropCount );{% endif %}
    },
    onError:          function ( errorType ) {
        {% if onError != null %}
        if ( typeof {{ onError | raw }} === 'function' ) {
            {{ onError | raw }}( errorType, this );
        }
        {% endif %}
        {% if debug %}console.debug( 'onError', errorType );{% endif %}
    },
    onFallback:       function () {
        {% if onFallback != null %}
        if ( typeof {{ onFallback | raw }} === 'function' ) {
            {{ onFallback | raw }}( this );
        }
        {% endif %}
        {% if debug %}console.debug( 'onFallback' );{% endif %}
    },
    onInit:           function () {
        {% if onInit != null %}
        if ( typeof {{ onInit | raw }} === 'function' ) {
            {{ onInit | raw }}( this );
        }
        {% endif %}
        {% if debug %}console.debug( 'onInit' );{% endif %}
    },
    onProgress:       function ( file, e ) {
        {% if onProgress != null %}
        if ( typeof {{ onProgress | raw }} === 'function' ) {
            {{ onProgress | raw }}( file, e, this );
        }
        {% endif %}
        {% if debug %}console.debug( 'onProgress', file, e );{% endif %}
    },
    onQueueComplete:  function ( uploads ) {
        $( '.file-upload-btn-container, #{{ uploadifyOptions.queueID }}' ).hide();
        $( '{{ submitButton | raw }}, .modal-footer>button' ).prop( 'disabled', false );
        {% if onQueueComplete != null %}
        if ( typeof {{ onQueueComplete | raw }} === 'function' ) {
            {{ onQueueComplete | raw }}( uploads, this );
        }
        {% endif %}
        {% if debug %}console.debug( 'onQueueComplete', uploads );{% endif %}
    },
    onSelect:         function ( queue ) {
        {% if onSelect != null %}
        if ( typeof {{ onSelect | raw }} === 'function' ) {
            {{ onSelect | raw }}( queue, this );
        }
        {% endif %}
        {% if debug %}console.debug( 'onSelect', queue );{% endif %}
    },
    onUpload:         function ( filesToUpload ) {
        {% if onUpload != null %}
        if ( typeof {{ onUpload | raw }} === 'function' ) {
            {{ onUpload | raw }}( filesToUpload, this );
        }
        {% endif %}
        {% if debug %}console.debug( 'onUpload', filesToUpload );{% endif %}
    },
    onUploadComplete: function ( file, data ) {
        {% if onUploadComplete != null %}
        if ( typeof {{ onUploadComplete | raw }} === 'function' ) {
            {{ onUploadComplete | raw }}( file, data, this );
        }
        {% else %}
        if ( data !== null && data !== undefined && data !== '' ) {
            data = typeof data === 'object' ? data : JSON.parse( data );
            if ( data.id !== null && data.id !== undefined ) {
                $( '{{ targetInput }}' ).append( $( '<option value="' + data.id + '">' + data.filename + '</option>' ) );
                $( '{{ targetInput }}' ).val( data.id );

                var $previewContainer = $( '.uploadify-single-preview' );
                if ( $previewContainer.length ) {
                    if ( $previewContainer.find( 'img' ).length === 0 ) {
                        $previewContainer.html( '' );
                        $previewContainer.append( $( '<img class="img-responsive" style="max-width:100%" />' ) );
                    }
                    $previewContainer.find( 'img' ).attr( 'src', Routing.generate( 'media_image_get', {
                        size: '{{ previewSize }}',
                        slug: data.filename
                    } ) );
                }
            }
        }
        {% endif %}
        {% if debug %}console.debug( 'onUploadComplete', file, data );{% endif %}
    },
    onUploadFile:     function ( file ) {
        {% if onUploadFile != null %}
        if ( typeof {{ onUploadFile | raw }} === 'function' ) {
            {{ onUploadFile | raw }}( file, this );
        }
        {% endif %}
        {% if debug %}console.debug( 'onUploadFIle', file );{% endif %}
    },
{% for k,v in uploadifyOptions %}
{% if php_is_numeric( v ) %}
{{ k }}: {{ v | raw }}{{ loop.last ? '' : ',' }}
{% elseif php_is_bool( v ) %}
{{ k }}: {{ v ? 'true' : 'false' }}{{ loop.last ? '' : ',' }}
{% else %}
{{ k }}: "{{ v | raw }}"{{ loop.last ? '' : ',' }}
{% endif %}
{% endfor %}
} );
{% endspaceless %}