{% set useQueue = useQueue is defined ? useQueue : true %}
{% set inputName = inputName is defined ? inputName | raw : 'multi_image_file' %}
{% set inputID = inputID is defined ? inputID | raw : 'multi-image-file-input' %}
{% set options = options is defined ? options : {} %}
{% set debug = debug is defined ? debug : false %}
{% set targetInput = targetInput is defined ? targetInput | raw : '[name="images"]' %}
{% set preview = preview is defined ? preview : true %}
{% set previewID = previewID is defined ? previewID | raw : 'multi-file-preview' %}
{% set previewCol = previewCol is defined ? previewCol | raw : 'col-xs-3' %}
{% set previewSize = previewSize is defined ? previewSize : 'thumbnail' %}
{% set orderApi = orderApi is defined ? orderApi : 'api_post_image_order' %}
{% set deleteApi = deleteApi is defined ? deleteApi : 'api_delete_image' %}
{% set uniqueID = uniqueID is defined ? uniqueID : '12345' %}

{# START SET THESE DEFAULTS #}
{% set uploadifyOptions = {auto: true, multi: true, queueID: 'multi-file-queue',  removeCompleted: true, uploadScript: url( 'media_image_upload_raw' )} %}
{% set uploadifyOptions = uploadifyOptions | merge( options ) %}
{% set submitButton = submitButton is defined ? submitButton : 'input[type="submit"]' %} {# SET THIS DEFAULT #}
{# END SET THESE DEFAULTS #}

{% set onAddQueueItem = onAddQueueItem is defined ? onAddQueueItem : null %}
{% set onCancel = onCancel is defined ? onCancel : null %}
{% set onCheck = onCheck is defined ? onCheck : null %}
{% set onClearQueue = onClearQueue is defined ? onClearQueue : null %}
{% set onDestroy = onDestroy is defined ? onDestroy : null %}
{% set onDrop = onDrop is defined ? onDrop : null %}
{% set onError = onError is defined ? onError : null %}
{% set onFallback = onFallback is defined ? onFallback : null %}
{% set onInit = onInit is defined ? onInit : null %}
{% set onProgress = onProgress is defined ? onProgress : null %}
{% set onQueueComplete = onQueueComplete is defined ? onQueueComplete : null %}
{% set onSelect = onSelect is defined ? onSelect : null %}
{% set onUpload = onUpload is defined ? onUpload : null %}
{% set onUploadComplete = onUploadComplete is defined ? onUploadComplete : null %}
{% set onUploadFile = onUploadFile is defined ? onUploadFile : null %}

{% spaceless %}
var multiSelected = [],
        multiDeleteSuppress = false,
        $uploadifyMulti{{ uniqueID }} = $( 'input#{{ inputID | raw }}' ).uploadifive( {
            onAddQueueItem:   function ( file ) {
                $( '.multi-file-upload-btn-container, #{{ uploadifyOptions.queueID }}' ).show();
                $( '{{ submitButton | raw }}, .modal-footer>button' ).prop( 'disabled', true );
                {% if onAddQueueItem != null %}
                if ( typeof {{ onAddQueueItem | raw }} === 'function' ) {
                    {{ onAddQueueItem | raw }}(file, this);
                }
                {% endif %}
                {% if debug %}console.debug( 'onAddQueueItem', file );{% endif %}
            },
            onCancel:         function () {
                {#$( '.multi-file-upload-btn-container, #{{ uploadifyOptions.queueID }}' ).hide();#}
                {#$( '{{ submitButton | raw }}, .modal-footer>button' ).prop( 'disabled', false );#}
                {% if onCancel != null %}
                if ( typeof {{ onCancel | raw }} === 'function' ) {
                    {{ onCancel | raw }}( this );
                }
                {% endif %}
                {% if debug %}console.debug( 'onCancel' );{% endif %}
            },
            onCheck:          function ( file, exists ) {
                {% if onCheck != null %}
                if ( typeof {{ onCheck | raw }} === 'function' ) {
                    {{ onCheck | raw }}( file, exists, this );
                }
                {% endif %}
                {% if debug %}console.debug( 'onCheck', file, exists );{% endif %}
            },
            onClearQueue:     function () {
                $( '.multi-file-upload-btn-container, #{{ uploadifyOptions.queueID }}' ).hide();
                $( '{{ submitButton | raw }}, .modal-footer>button' ).prop( 'disabled', false );
                {% if onClearQueue != null %}
                if ( typeof {{ onClearQueue | raw }} === 'function' ) {
                    {{ onClearQueue | raw }}( this );
                }
                {% endif %}
                {% if debug %}console.debug( 'onClearQueue' );{% endif %}
            },
            onDestroy:        function () {
                $( '.multi-file-upload-btn-container, #{{ uploadifyOptions.queueID }}' ).hide();
                $( '{{ submitButton | raw }}, .modal-footer>button' ).prop( 'disabled', false );
                {% if onDestroy != null %}
                if ( typeof {{ onDestroy | raw }} === 'function' ) {
                    {{ onDestroy | raw }}( this );
                }
                {% endif %}
                {% if debug %}console.debug( 'onDestroy' );{% endif %}
            },
            onDrop:           function ( file, fileDropCount ) {
                {% if onDrop != null %}
                if ( typeof {{ onDrop | raw }} === 'function' ) {
                    {{ onDrop | raw }}( file, fileDropCount, this );
                }
                {% endif %}
                {% if debug %}console.debug( 'onDrop', file, fileDropCount );{% endif %}
            },
            onError:          function ( errorType ) {
                {% if onError != null %}
                if ( typeof {{ onError | raw }} === 'function' ) {
                    {{ onError | raw }}( errorType, this );
                }
                {% endif %}
                {% if debug %}console.debug( 'onError', errorType );{% endif %}
            },
            onFallback:       function () {
                {% if onFallback != null %}
                if ( typeof {{ onFallback | raw }} === 'function' ) {
                    {{ onFallback | raw }}( this );
                }
                {% endif %}
                {% if debug %}console.debug( 'onFallback' );{% endif %}
            },
            onInit:           function () {
                {% if onInit != null %}
                if ( typeof {{ onInit | raw }} === 'function' ) {
                    {{ onInit | raw }}( this );
                }
                {% endif %}
                {% if debug %}console.debug( 'onInit' );{% endif %}
            },
            onProgress:       function ( file, e ) {
                {% if onProgress != null %}
                if ( typeof {{ onProgress | raw }} === 'function' ) {
                    {{ onProgress | raw }}( file, e, this );
                }
                {% endif %}
                {% if debug %}console.debug( 'onProgress', file, e );{% endif %}
            },
            onQueueComplete:  function ( uploads ) {
                $( '.multi-file-upload-btn-container, #{{ uploadifyOptions.queueID }}' ).hide();
                $( '{{ submitButton | raw }}, .modal-footer>button' ).prop( 'disabled', false );
                {% if onQueueComplete != null %}
                if ( typeof {{ onQueueComplete | raw }} === 'function' ) {
                    {{ onQueueComplete | raw }}( uploads, this );
                }
                {% endif %}
                {% if debug %}console.debug( 'onQueueComplete', uploads );{% endif %}
            },
            onSelect:         function ( queue ) {
                {% if onSelect != null %}
                if ( typeof {{ onSelect | raw }} === 'function' ) {
                    {{ onSelect | raw }}( queue, this );
                }
                {% endif %}
                {% if debug %}console.debug( 'onSelect', queue );{% endif %}
            },
            onUpload:         function ( filesToUpload ) {
                {% if onUpload != null %}
                if ( typeof {{ onUpload | raw }} === 'function' ) {
                    {{ onUpload | raw }}( filesToUpload, this );
                }
                {% endif %}
                {% if debug %}console.debug( 'onUpload', filesToUpload );{% endif %}
            },
            onUploadComplete: function ( file, data ) {
                {% if onUploadComplete != null %}
                if ( typeof {{ onUploadComplete | raw }} === 'function' ) {
                    {{ onUploadComplete | raw }}( file, data, this );
                }
                {% else %}
                if ( data !== null && data !== undefined && data !== '' ) {
                    data = typeof data === 'object' ? data : JSON.parse( data );
                    if ( data.id !== null && data.id !== undefined ) {
                        setTimeout( function () {
                            $( '{{ targetInput }}' ).append( $( '<option value="' + data.id + '" selected="selected">' + data.filename + '</option>' ) );
                            setTimeout( function () {
                                var values = $( '{{ targetInput }}' ).val();
                                values.push( data.id );
                                $( '{{ targetInput }}' ).val( values );
                            }, 250 );

                            var $container          = $( '#{{ previewID }}' ),
                                $wrapper            = $( '<div data-saved="0" data-id="' + data.id + '" class="{{ previewCol }} multi-file-preview-item" />' ),
                                $thumbnailContainer = $( '<div class="thumbnail" />' ),
                                $imgLink            = $( '<a rel="gallery" href="' + Routing.generate( 'media_image_get', {size: data.filename} ) + '" class="fancybox" />' ),
                                $img                = $( '<img class="img-responsive" style="max-width:100%" src="' + Routing.generate( 'media_image_get', {
                                            size: '{{ previewSize }}',
                                            slug: data.filename
                                        } ) + '" />' ),
                                $imgFilename        = $( '<div style="position:absolute;left:0;bottom:0;width:86%;margin-left:7%;text-align:center;font-size:1.1rem;border-radius:4px;color:#FFFFFF;background:#000000">' + data.filename + '</div>' ),
                                $optionsContainer   = $( '<div class="multi-file-preview-tools" />' ),
                                $optionsMove        = $( '<div class="handle" style="position: absolute;top: 1px;left: 1px;width: auto;height: auto;padding: 5px;background: rgba(255,255,255,.7);cursor: pointer;border-bottom-right-radius: 5px;"><i class="fa fa-arrows"></i></div>' ),
                                $optionsSelect      = $( '<div onclick="javascript:multiToggleSelect(' + data.id + ')" class="multi-selector" style="position: absolute;top: 1px;padding: 5px;background: #FFFFFF;border-radius: 5px;margin-left: 38%;margin-right: 38%;width: 24%;text-align: center;cursor: pointer;" title="Toggle Selection" data-toggle="tooltip"><i class="fa fa-2x fa-circle-o text-danger"></i></div>' ),
                                $optionsDel         = $( '<button type="button" data-saved="0" data-id="' + data.id + '" title="Delete Image" data-toggle="tooltip" class="btn pull-right btn-sm btn-danger multi-file-delete" />' ),
                                $optionsDelIcon     = $( '<i class="fa fa-trash-o" />' ),
                                $notSaved           = $( '<div style="position:absolute;left:0;bottom:0;width:86%;margin-left:7%;margin-right:7%;font-size:1.5rem" class="text-xs-center text-center label label-danger">NOT SAVED</div>' );

                            console.debug( 'Preview Container', $container );
                            $.CoreSysTheme.showNotice( 'success',  'Image uploaded.' );

                            $container.append(
                                    $wrapper.append(
                                                $thumbnailContainer.append(
                                                    $imgLink.append(
                                                            $img
                                                    )
                                            ).append(
                                                    $imgFilename
                                            )
                                    ).append(
                                            $optionsContainer.append(
                                                    $optionsMove
                                            ).append(
                                                    $optionsSelect
                                            ).append(
                                                    $optionsDel.append(
                                                            $optionsDelIcon
                                                    )
                                            )
                                    ).append(
                                            $notSaved
                                    )
                            );

                            loadMultiFancybox{{ uniqueID }}();
                        }, 250 );
                    }
                }
                {% endif %}
                initMultiSortable{{ uniqueID }}();
                {% if debug %}console.debug( 'onUploadComplete', file, data );{% endif %}
            },
            onUploadFile:     function ( file ) {
                {% if onUploadFile != null %}
                if ( typeof {{ onUploadFile | raw }} === 'function' ) {
                    {{ onUploadFile | raw }}( file, this );
                }
                {% endif %}
                {% if debug %}console.debug( 'onUploadFIle', file );{% endif %}
            },
{% for k,v in uploadifyOptions %}
{% if php_is_numeric( v ) %}
{{ k }}: {{ v | raw }}{{ loop.last ? '' : ',' }}
{% elseif php_is_bool( v ) %}
{{ k }}: {{ v ? 'true' : 'false' }}{{ loop.last ? '' : ',' }}
{% else %}
{{ k }}: "{{ v | raw }}"{{ loop.last ? '' : ',' }}
{% endif %}
{% endfor %}
} );
function loadMultiFancybox{{ uniqueID }}() {
    setTimeout( function () {
        console.debug( "Loaded fancybox", $( '.fancybox' ) );
        $( '.fancybox' ).fancybox();
    }, 100 );
}
function multiAddSelect{{ uniqueID }}( $el, id ) {
    console.warn( 'ADD' );
    multiSelected.push( {element: $el, id: id} );
    $el.addClass( 'selected' );
    $( '.multi-select-remove-selected' ).show();
    $el.find( '.multi-selector' ).find( '.fa' ).removeClass( 'text-danger fa-circle-o' )
            .addClass( 'text-success fa-check-circle-o' );
}

function multiRemoveSelect{{ uniqueID }}( $el, id ) {
    console.warn( 'REMOVE' );
    var index = null;
    $.each( multiSelected, function ( idx, item ) {
        if ( item.id === id ) {
            index = idx;
            return false;
        }
    } );
    if ( index !== null ) {
        multiSelected.splice( index, 1 );
    }

    if ( multiSelected.length === 0 ) {
        $( '.multi-select-remove-selected' ).hide();
    }

    $el.removeClass( 'selected' );
    $el.find( '.multi-selector' ).find( '.fa' ).addClass( 'text-danger fa-circle-o' )
            .removeClass( 'text-success fa-check-circle-o' );
}

function multiToggleSelect{{ uniqueID }}( id ) {
    var $container = $( '.multi-file-preview-item[data-id="' + id + '"]' );
    console.debug( 'Select', id, $container );
    if ( $container.length > 0 ) {
        var selected = $container.hasClass( 'selected' );
        if ( !selected ) {
            multiAddSelect( $container, id );
        } else {
            multiRemoveSelect( $container, id );
        }
    }
}
function initMultiSortable{{ uniqueID }}() {
    $( '.multi-file-preview' ).sortable( {
        handle: '.handle',
        update: function () {
            var ids = [];
            $( '.multi-file-preview>div' ).each( function () {
                var id = $( this ).attr( 'data-id' );
                if ( id !== undefined ) {
                    ids.push( id );
                }
            } );

            $.ajax( {
                url:         Routing.generate( '{{ orderApi }}' ),
                contentType: 'application/json',
                data:        JSON.stringify( {'ids': ids} ),
                type:        'post',
                success:     function () {
                    $.CoreSysTheme.showNotice( 'success',  'Ordering updated' );
                },
                error:       function () {
                    $.CoreSysTheme.showNotice( 'error',  'Could not update order' );
                }
            } );
        }
    } );
}
function multiRemoveSelected{{ uniqueID }}() {
    if ( multiSelected.length > 0 ) {
        bootbox.confirm( 'Are you sure you want to remove the selected images?', function ( res ) {
            if ( res ) {
                multiDeleteSuppress = true;
                $.each( multiSelected, function ( idx, item ) {
                    console.debug( 'item', item );
                    item.element.find( 'button.multi-file-delete' ).click();
                } );
                multiSelected = [];
                $( '.multi-select-remove-selected' ).hide();
                multiDeleteSuppress = false;
            }
        } );
    } else {
        $.CoreSysTheme.showNotice( 'error',  'Nothing to remove' );
    }
}

function removeMultiImage{{ uniqueID }}( $btn ) {
    var $btn  = $( $btn ),
        saved = $btn.attr( 'data-save' ) === 1,
        id    = $btn.attr( 'data-id' );

    if ( id === null || id === undefined ) {
        $.CoreSysTheme.showNotice( 'error',  'Could not locate ID for the image to remove.', 'Error Removing Image' );
        return;
    }

    function performRemove{{ uniqueID }}( id ) {
        $.ajax( {
            url:         Routing.generate( '{{ deleteApi }}', {entity: id} ),
            type:        'DELETE',
            contentType: 'application/json',
            success:     function ( res ) {
                $( '.multi-file-preview' ).find( '[data-id="' + id + '"]' ).remove();
                $.CoreSysTheme.showNotice( 'success',  'Successfully removed System Image' );

                // remove the option from the targetInput
                $( '{{ targetInput }}' ).find( 'option[value="' + id + '"]' ).remove();
            },
            error:       function ( err ) {
                $.CoreSysTheme.showNotice( 'error',  'Could not remove image' );
            }
        } );
    }

    if ( multiDeleteSuppress ) {
        performRemove{{ uniqueID }}( id );
    } else {
        bootbox.confirm( 'Are you sure you want to remove this image?', function ( res ) {
            if ( res ) {
                performRemove{{ uniqueID }}( id );
            }
        } );
    }
}
setTimeout( function () {
    initMultiSortable{{ uniqueID }}();
    loadMultiFancybox{{ uniqueID }}();
}, 250 );
{% endspaceless %}