{% set useWell = useWell is defined ? useWell : true %}
{% set useQueue = useQueue is defined ? useQueue : true %}
{% set inputName = inputName is defined ? inputName : 'multi_image_file' %}
{% set inputID = inputID is defined ? inputID : 'multi-image-file-input' %}
{% set well = well is defined ? well : 'well well-sm' %}
{% set images = images is defined ? images : [] %}
{% set preview = preview is defined ? preview : true %}
{% set previewID = previewID is defined ? previewID : 'multi-file-preview' %}
{% set previewCol = previewCol is defined ? previewCol : 'col-xs-3' %}
{% set previewSize = previewSize is defined ? previewSize : 'thumbnail' %}
{% set uniqueID = uniqueID is defined ? uniqueID : '12345' %}

{# START SET THESE DEFAULTS #}
{% set queueID = queueID is defined ? queueID : 'multi-file-queue' %} {# SET THIS DEFAULT #}
{% set auto = auto is defined ? auto : true %} {# SET THIS DEFAULT #}
{# END SET THESE DEFAULTS #}

{% spaceless %}
    <style>
        .multi-file-preview-item {
            border: 1px solid transparent;
            margin-bottom: .5rem;
        }

        .multi-file-preview-item:hover,
        .multi-file-preview-item.selected {
            border-color: green;
            box-shadow: 0 0 5px #00FF00;
        }

        .multi-file-preview-item >
        .multi-file-preview-tools {
            position: absolute;
            top: 0;
            left: 0;
            width: 86%;
            margin-left: 7%;
            margin-right: 7%;
            margin-top: 1px;
            height: auto;
            padding: 5px 2px;
            background: transparent;
            -webkit-trasition: all .5s;
            -moz-trasition: all .5s;
            -o-trasition: all .5s;
            trasition: all .5s;
            opacity: 0;
        }

        .multi-file-preview-item:hover >
        .multi-file-preview-tools {
            opacity: 1;
        }

        .multi-file-preview {
            margin-top: 1rem;
        }
    </style>

    {% if useWell %}
        <div class="{{ well }}">
    {% endif %}

    {% if not auto %}
    <div class="input-group">
    {% endif %}

    <input
            type="file"
            name="{{ inputName }}"
            rel="uploadify"
            class="form-control"
            id="{{ inputID }}"/>

    {% if not auto %}
    <span class="input-group-btn multi-file-upload-btn-container" style="display:none">
            <button type="button"
                    onclick="javascript:$('input#{{ inputID | raw }}').uploadifive('upload');"
                    class="btn btn-primary btn-sm multi-file-upload-btn">
                <i class="fa fa-upload"></i>
                Upload Now
            </button>
        </span>
    </div>
    {% endif %}

    {% if useQueue %}
        <div id="{{ queueID }}" style="display:none"></div>
    {% endif %}

    <div class="row multi-select-remove-selected" style="display:none">
        <div class="col-xs-12">
            <div class="pull-right">
                <button type="button" class="btn btn-danger btn-sm" onclick="multiRemoveSelected{{ uniqueID }}()">
                    <i class="fa fa-trash-o"></i>
                    Remove Selected
                </button>
            </div>
        </div>
    </div>

    <div id="{{ previewID }}" style="" class="row multi-file-preview">
        {% for image in images %}
            <div class="{{ previewCol }} multi-file-preview-item" data-saved="1" data-id="{{ image.id }}">
                <div class="thumbnail">
                    <a class="fancybox" href="{{ url( 'media_image_get', {size: image.filename}) }}" rel="gallery">
                        <img class="img-responsive" style="max-width:100%"
                             src="{{ url( 'media_image_get', {size: previewSize, slug: image.filename} ) }}"/>
                    </a>
                    <div style="position:absolute;left:0;bottom:0;width:86%;margin-left:7%;text-align:center;font-size:1.1rem;border-radius:4px;color:#FFF;background:#000">
                        {{ image.filename }}
                    </div>
                </div>
                <div class="multi-file-preview-tools">
                    <div class="handle"
                         style="position: absolute;top: 1px;left: 1px;width: auto;height: auto;padding: 5px;background: rgba(255,255,255,.7);cursor: pointer;border-bottom-right-radius: 5px;">
                        <i class="fa fa-arrows"></i></div>
                    <div onclick="javascript:multiToggleSelect{{ uniqueID }}({{ image.id }})" class="multi-selector"
                         style="position: absolute;top: 1px;padding: 5px;background: #FFF;border-radius: 5px;margin-left: 38%;margin-right: 38%;width: 24%;text-align: center;cursor: pointer;">
                        <i class="fa fa-2x fa-circle-o text-danger" title="Toggle Selection" data-toggle="tooltip"></i>
                    </div>
                    <button data-id="{{ image.id }}"
                            data-saved="1"
                            type="button"
                            title="Delete Image"
                            data-toggle="tooltip"
                            onclick="javascript:removeMultiImage{{ uniqueID }}($(this))"
                            class="btn btn-sm btn-danger pull-right multi-file-delete">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if useWell %}
        </div>
    {% endif %}
{% endspaceless %}