{% set useWell = useWell is defined ? useWell : true %}
{% set useQueue = useQueue is defined ? useQueue : true %}
{% set inputName = inputName is defined ? inputName : 'image_file' %}
{% set inputID = inputID is defined ? inputID : 'image-file-input' %}
{% set well = well is defined ? well : 'well well-sm' %}
{% set preview = preview is defined ? preview : null %}
{% set previewSize = previewSize is defined ? previewSize : 'preview' %}
{% set showPreview = showPreview is defined ? showPreview : false %}

{# START SET THESE DEFAULTS #}
{% set queueID = queueID is defined ? queueID : 'file-queue' %} {# SET THIS DEFAULT #}
{% set auto = auto is defined ? auto : true %} {# SET THIS DEFAULT #}
{# END SET THESE DEFAULTS #}

{% spaceless %}
    {% if useWell %}
        <div class="{{ well }}">
    {% endif %}

    {% if showPreview %}
    <div class="row">
    <div class="col-xs-3 uploadify-single-preview">
        {% if preview is not null %}
            <img class="img-responsive" style="max-width:100%"
                 src="{{ url( 'media_image_get', {size: previewSize, slug: preview.filename}) }}"/>
        {% else %}
            <div class="text-center text-xs-center">
                No Preview
            </div>
        {% endif %}
    </div>
    <div class="col-xs-9">
    {% endif %}

    {% if not auto %}
    <div class="input-group">
    {% endif %}

    <input
            type="file"
            name="{{ inputName }}"
            rel="uploadify"
            class="form-control"
            id="{{ inputID }}"/>

    {% if not auto %}
    <span class="input-group-btn file-upload-btn-container" style="display:none">
            <button type="button"
                    onclick="javascript:$('input#{{ inputID | raw }}').uploadifive('upload');"
                    class="btn btn-primary btn-sm file-upload-btn">
                <i class="fa fa-upload"></i>
                Upload Now
            </button>
        </span>
    </div>
    {% endif %}

    {% if showPreview %}
    </div>
    </div>
    {% endif %}

    {% if useQueue %}
        <div id="{{ queueID }}" style="display:none"></div>
    {% endif %}

    {% if useWell %}
        </div>
    {% endif %}
{% endspaceless %}