{% if modalFooter is not defined %}{% set modalFooter = 'Title' %}{% endif %}
</div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
    {{ modalFooter | raw }}
</div>
</div>
</div>
</div>