{% if modalId is not defined %}{% set modalId = null %}{% endif %}
{% if modalTitle is not defined %}{% set modalTitle = 'Title' %}{% endif %}
<div class="modal fade" data-background="static" id="{{ modalId }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{ modalTitle | raw }}</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body text-xs-center">