<div class="card card-{{ type }}">
    {% if title %}
        <div class="card-header">
            {% if headerBtns %}
                <span class="pull-right">
                <span class="btn-group btn-group-sm">
                    {{ headerBtns | raw }}
                </span>
            </span>
            {% endif %}
            <span class="card-title">{{ title }}</span>
        </div>
    {% endif %}
    <div class="card-block">