<div class="panel panel-{{ type }}">
    {% if title %}
        <div class="panel-heading">
            <h3 class="panel-title">{{ title }}</h3>
        </div>
    {% endif %}
    <div class="panel-body">