<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Title {{ title }}</h4>
        </div>
        <div class="modal-body">
            {% include template with {create: true} %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="$(this).closest('.modal-content').find('form').find('button[type=submit]').click()">{{ create ? 'Create' : 'Update' }}</button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->