{% stylesheets
'bundles/coresyscore/lib/fancybox/jquery.fancybox.css'
filter="cssrewrite"
output="css/fancybox.css" %}
<link type="text/css" rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}