{% stylesheets
'bundles/coresyscore/lib/uploadify/uploadifive.css'
filter="cssrewrite"
output="css/uploadifive.css" %}
<link type="text/css" rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}