{{ form_start( form ) }}
<div class="form-group">
    {{ form_label( form.title ) }}
    <div class="input-group">
        {{ form_widget( form.title ) }}
        <span class="input-group-addon">
            {{ form_widget( form.active ) }}
        </span>
    </div>
</div>

{{ form_row( form.description ) }}
{{ form_row( form.alt ) }}
{{ form_row( form.applyWatermark, {attr:{help: 'Apply watermark?'} }) }}

{% if create is defined and create == true %}
    {{ form_row( form.file ) }}
{% endif %}

<div style="display:none">
    {{ form_rest( form ) }}
</div>
<div style="display:none">
    <button type="submit"></button>
</div>

{{ form_end( form ) }}