{{ "{% include 'CoreSysCoreBundle:Helpers:editRestForm.html.twig'" }}
{{ '    with' }}
{{ '    {' }}
{{ "        resource: '" ~ entity ~ "'," }}
{{ "        template: '" ~ templateNamespace ~ ":" ~ entity ~ "Rest:form.html.twig'" }}
{{ '    }' }}
{{ '%}' }}