{{ "{{ form_start( form, { name: '" ~  entitylower ~ "-form' } ) }}" }}

{{ "{{ form_row( form ) }}" }}

{{ "<div style=\"display:none\">" }}
{{ "    {{ form_rest( form ) }}" }}
{{ '    <button type="submit"></button>' }}
{{ "</div>" }}
{{ "{{ form_end( form ) }}" }}