/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* ==========================================================================
   Links
   ========================================================================== */
*:focus {
  outline: none;
}
*:active,
*:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
pre {
  margin: 0px;
}
/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}
/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 0;
}
dd {
  margin: 0 0 0 40px;
}
/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ==========================================================================
   Opinionated defaults
   ========================================================================== */
html {
  font-size: 1em;
  line-height: 1.4;
}
* {
  padding: 0px;
  margin: 0px;
}
img {
  border: none;
}
ul {
  list-style: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/* ==========================================================================
   Mixins
   ========================================================================== */
/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
   Grids
   ========================================================================== */
.page-content {
  padding: 85px 5px 5px;
  transition: all 0.2s ease-in-out;
}
.dark-theme .page-content {
  padding-top: 77px;
}
.with-side-menu .page-content {
  padding-left: 245px;
}
@media (max-width: 991px) {
  .with-side-menu .page-content {
    padding-left: 0;
    padding-right: 0;
  }
}
.control-panel .page-content {
  padding-right: 62px;
}
.control-panel.open .page-content {
  padding-right: 295px;
}
.with-side-menu-compact .page-content {
  padding-left: 115px;
}
@media (max-width: 991px) {
  .with-side-menu-compact .page-content {
    padding-left: 0;
    padding-right: 0;
  }
}
.with-side-menu-addl .page-content {
  padding-left: 335px;
}
@media (max-width: 991px) {
  .with-side-menu-addl .page-content {
    padding-left: 0;
    padding-right: 0;
  }
}
.with-side-menu-addl-full .page-content {
  padding-left: 475px;
}
@media (max-width: 991px) {
  .with-side-menu-addl-full .page-content {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 991px) {
  .control-panel .page-content {
    padding-right: 45px;
  }
}
@media (max-width: 767px) {
  .control-panel-container {
    display: none;
  }
  .control-panel .page-content {
    padding-right: 0;
  }
}
.control-panel .control-panel-container {
  position: fixed;
  right: 0;
  top: 0;
  width: 44px;
  height: 100%;
  background: #F4F8FB;
  overflow: hidden;
  border-left: solid 1px #C5D6DE;
  padding-top: 80px;
}
.control-panel .control-panel-container .icon-toggle {
  text-align: center;
  display: block;
  background: #DCE5EC;
  vertical-align: middle;
  height: 44px;
  line-height: 44px;
}
.control-panel .control-panel-container .icon-toggle .caret-down {
  display: none;
}
.control-panel .control-panel-container .icon-toggle:hover {
  background: #92A0AB;
  color: #FFFFFF;
}
.control-panel .control-panel-container .actions,
.control-panel .control-panel-container .text {
  display: none;
  cursor: pointer;
}
.control-panel .control-panel-container .tasks .icon-toggle {
  line-height: 48px;
}
.control-panel .control-panel-container .emails .icon-toggle {
  line-height: 47px;
}
.control-panel .control-panel-container .add .icon-toggle {
  line-height: 48px;
}
.control-panel-container ul {
  display: table;
  width: 100%;
}
.control-panel-container li {
  display: table-row;
  height: auto;
  overflow: hidden;
}
.control-panel-container li a {
  color: #93A1AE;
  font-size: 1.2rem;
}
.control-panel-container li .control-item-header {
  display: table-cell;
  background: #DCE5EC;
  border-bottom: 1px solid #F3F7FA;
  overflow: hidden;
  vertical-align: middle;
  height: 44px;
}
.control-panel-container .control-panel-toggle {
  width: 100%;
  font-size: 1.6rem;
  color: #C5D1DD;
  display: block;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.control-panel-container .control-panel-toggle.open {
  text-align: left;
  padding-left: 15px;
}
.control-panel-container .control-panel-toggle.open .fa:before {
  content: "\f101";
}
.control-panel-container .control-item-content {
  display: none;
}
.control-panel.open .control-panel-container {
  width: 280px;
}
.control-panel.open .control-panel-container ul {
  display: block;
}
.control-panel.open .control-panel-container li {
  display: block;
}
.control-panel.open .control-panel-container li .control-item-header {
  display: block;
  background: #DCE5EC;
  border-bottom: 1px solid #F3F7FA;
  overflow: hidden;
  padding: 0 10px;
  vertical-align: middle;
}
.control-panel.open .control-panel-container .icon-toggle {
  border: none;
  display: inline-block;
  float: left;
  height: auto !important;
  width: 50px;
  text-align: left;
  position: relative;
}
.control-panel.open .control-panel-container .icon-toggle .caret-down {
  display: inline-block;
  font-size: 0.9rem;
  position: relative;
  margin-right: 3px;
}
.control-panel.open .control-panel-container .icon-toggle:hover {
  background: transparent;
  color: #92A0AB;
}
.control-panel.open .control-panel-container .text {
  float: left;
  display: block;
  line-height: 44px;
}
.control-panel.open .control-panel-container .actions {
  float: right;
  display: block;
}
.control-panel.open .control-panel-container .actions a {
  display: inline-block;
  margin-left: 4px;
  font-size: 1rem;
  line-height: 44px;
}
.control-panel.open .control-panel-container .actions a:hover {
  color: #0082C6;
}
.control-panel.open .control-panel-container .control-item-content {
  padding: 10px;
  background: #F3F7FA;
  display: none;
}
.control-panel.open .control-panel-container .control-item-content.open {
  display: block;
}
.control-panel.open .control-panel-container .control-item-content-text,
.control-panel.open .control-panel-container .control-item-lists {
  border: 1px solid #E0E0E0;
  border-radius: 3px;
  background: #FFFFFF;
  font-size: 0.9rem;
}
.control-panel.open .control-panel-container .control-item-lists li {
  border-bottom: 1px solid #E0E0E0;
  position: relative;
}
.control-panel.open .control-panel-container .control-item-lists li:after {
  font-family: FontAwesome;
  content: "\f0e0";
  position: absolute;
  top: 8px;
  right: 11px;
  font-size: 0.9rem;
  color: #C8D5DB;
}
.control-panel.open .control-panel-container .control-item-lists li:last-child {
  border-bottom: none;
}
.control-panel.open .control-panel-container .control-item-lists li > a,
.control-panel.open .control-panel-container .control-item-content-text {
  padding: 8px 11px;
  display: block;
  font-size: 0.9rem;
}
.control-panel.open .control-panel-container .control-item-lists li h6 {
  margin-bottom: 0 !important;
  color: #343434;
  font-weight: 600;
}
.control-panel.open .control-panel-container .control-item-lists li p {
  font-size: 0.9rem !important;
  margin-bottom: 0 !important;
  color: #343434;
}
.control-panel.open .control-panel-container .control-item-actions {
  overflow: hidden;
  height: auto;
  margin-bottom: 10px;
}
.control-panel.open .control-panel-container .control-item-actions .link {
  font-size: 0.9rem;
  float: left;
  color: #2A9DE0;
}
.control-panel.open .control-panel-container .control-item-actions .mark {
  font-size: 0.9rem;
  float: right;
  background: #D5DCE2;
  border-radius: 3px;
  color: #343434;
  padding: 0 5px;
}
.control-panel.open .control-panel-container .control-item-actions .mark:hover {
  background: #2A9DE0;
  color: #FFFFFF;
}
.control-panel.open .control-panel-container .message {
  font-size: 0.9rem;
}
.control-panel.open .control-panel-container .message span {
  float: left;
}
.control-panel.open .control-panel-container .message a {
  float: right;
  font-size: 0.9rem;
}
.control-panel.open .control-panel-container a.reply-all {
  position: absolute;
  right: 0;
  bottom: 0;
}
.control-panel.open .control-panel-container a.reply-all:hover {
  color: #0082C6;
}
.page-center {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.page-center-in {
  display: table-cell;
  vertical-align: middle;
  padding: 15px 0;
}
.box-typical-center {
  display: table;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
.box-typical-center-in {
  display: table-cell;
  vertical-align: middle;
  padding: 15px;
}
.col-xxl-1,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12 {
  position: relative;
  min-height: 1px;
  padding-right: .9375rem;
  padding-left: .9375rem;
}
@media (min-width: 1500px) {
  .col-xxl-1,
  .col-xxl-2,
  .col-xxl-3,
  .col-xxl-4,
  .col-xxl-5,
  .col-xxl-6,
  .col-xxl-7,
  .col-xxl-8,
  .col-xxl-9,
  .col-xxl-10,
  .col-xxl-11,
  .col-xxl-12 {
    float: left;
  }
  .col-xxl-1 {
    width: 8.333333%;
  }
  .col-xxl-2 {
    width: 16.666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.333333%;
  }
  .col-xxl-5 {
    width: 41.666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.333333%;
  }
  .col-xxl-8 {
    width: 66.666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.333333%;
  }
  .col-xxl-11 {
    width: 91.666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}
@media (min-width: 1500px) {
  .hidden-xxl-up {
    display: none !important;
  }
}
.hidden-xxl-down {
  display: none !important;
}
