@charset "UTF-8";
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* ==========================================================================
   Links
   ========================================================================== */
*:focus {
  outline: none;
}
*:active,
*:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
pre {
  margin: 0px;
}
/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}
/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 0;
}
dd {
  margin: 0 0 0 40px;
}
/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ==========================================================================
   Opinionated defaults
   ========================================================================== */
html {
  font-size: 1em;
  line-height: 1.4;
}
* {
  padding: 0px;
  margin: 0px;
}
img {
  border: none;
}
ul {
  list-style: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/* ==========================================================================
   Mixins
   ========================================================================== */
/* ==========================================================================
   Variables
   ========================================================================== */
@font-face {
  font-family: "startui";
  src: url("../fonts/startui.eot");
  src: url("../fonts/startui.eot?#iefix") format("embedded-opentype"), url("../fonts/startui.woff") format("woff"), url("../fonts/startui.ttf") format("truetype"), url("../fonts/startui.svg#startui") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  content: attr(data-icon);
  font-family: "startui" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  position: relative;
  top: -0.15em;
}
[class^="font-icon-"]:before,
[class*=" font-icon-"]:before {
  font-family: "startui" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  position: relative;
  top: -0.15em;
}
.font-icon-alarm:before {
  content: "\62";
}
.font-icon-build:before {
  content: "\63";
}
.font-icon-burger:before {
  content: "\64";
}
.font-icon-calend:before {
  content: "\65";
}
.font-icon-cart:before {
  content: "\66";
}
.font-icon-cogwheel:before {
  content: "\67";
}
.font-icon-comments:before {
  content: "\68";
}
.font-icon-contacts:before {
  content: "\69";
}
.font-icon-dashboard:before {
  content: "\6a";
}
.font-icon-dots:before {
  content: "\6b";
}
.font-icon-expand:before {
  content: "\6c";
}
.font-icon-filter:before {
  content: "\6d";
}
.font-icon-help:before {
  content: "\6e";
}
.font-icon-home:before {
  content: "\6f";
}
.font-icon-page:before {
  content: "\70";
}
.font-icon-pencil:before {
  content: "\71";
}
.font-icon-re:before {
  content: "\72";
}
.font-icon-rollup:before {
  content: "\73";
}
.font-icon-search:before {
  content: "\74";
}
.font-icon-share:before {
  content: "\75";
}
.font-icon-star:before {
  content: "\76";
}
.font-icon-users:before {
  content: "\77";
}
.font-icon-wallet:before {
  content: "\78";
}
.font-icon-minus:before {
  content: "\79";
}
.font-icon-pencil-thin:before {
  content: "\7a";
}
.font-icon-close:before {
  content: "\41";
}
.font-icon-speed:before {
  content: "\61";
}
.font-icon-menu-addl:before {
  content: "\42";
}
.font-icon-search:before {
  content: "\74";
}
.font-icon-edit:before {
  content: "\43";
}
.font-icon-chart:before {
  content: "\44";
}
.font-icon-zigzag:before {
  content: "\45";
}
.font-icon-tablet:before {
  content: "\46";
}
.font-icon-widget:before {
  content: "\47";
}
.font-icon-map:before {
  content: "\48";
}
.font-icon-chart-2:before {
  content: "\49";
}
.font-icon-doc:before {
  content: "\4a";
}
.font-icon-question:before {
  content: "\4b";
}
.font-icon-user:before {
  content: "\4c";
}
.font-icon-notebook:before {
  content: "\4d";
}
.font-icon-mail:before {
  content: "\4e";
}
.font-icon-close-2:before {
  content: "\4f";
}
.font-icon-pen:before {
  content: "\50";
}
.font-icon-arrow-down:before {
  content: "\51";
}
.font-icon-arrow-left:before {
  content: "\52";
}
.font-icon-arrow-right:before {
  content: "\53";
}
.font-icon-arrow-top:before {
  content: "\54";
}
.font-icon-check-circle:before {
  content: "\55";
}
.font-icon-cam-photo:before {
  content: "\56";
}
.font-icon-cam-video:before {
  content: "\57";
}
.font-icon-sound:before {
  content: "\58";
}
.font-icon-earth:before {
  content: "\59";
}
.font-icon-mail-2:before {
  content: "\5a";
}
.font-icon-upload:before {
  content: "\30";
}
.font-icon-dropbox:before {
  content: "\31";
}
.font-icon-google-drive:before {
  content: "\32";
}
.font-icon-yandex-disk:before {
  content: "\33";
}
.font-icon-box:before {
  content: "\34";
}
.font-icon-arrow-square-down:before {
  content: "\35";
}
.font-icon-refresh:before {
  content: "\36";
}
.font-icon-list-square:before {
  content: "\37";
}
.font-icon-list-rotate:before {
  content: "\38";
}
.font-icon-download:before {
  content: "\39";
}
.font-icon-heart:before {
  content: "\21";
}
.font-icon-check-bird:before {
  content: "\22";
}
.font-icon-clock:before {
  content: "\23";
}
.font-icon-trash:before {
  content: "\24";
}
.font-icon-circle-lined-error:before {
  content: "\25";
}
.font-icon-circle-lined-i:before {
  content: "\26";
}
.font-icon-circle-lined-smile:before {
  content: "\27";
}
.font-icon-circle-lined-success:before {
  content: "\28";
}
.font-icon-one-drive:before {
  content: "\29";
}
.font-icon-cloud-upload-2:before {
  content: "\2a";
}
.font-icon-plus:before {
  content: "\2b";
}
.font-icon-minus-1:before {
  content: "\2c";
}
.font-icon-arrow-square-up:before {
  content: "\2d";
}
.font-icon-revers:before {
  content: "\2e";
}
.font-icon-import:before {
  content: "\2f";
}
.font-icon-award:before {
  content: "\3a";
}
.font-icon-case:before {
  content: "\3b";
}
.font-icon-earth-bordered:before {
  content: "\3c";
}
.font-icon-comment:before {
  content: "\3d";
}
.font-icon-eye:before {
  content: "\3e";
}
.font-icon-fb-fill:before {
  content: "\3f";
}
.font-icon-in-fill:before {
  content: "\40";
}
.font-icon-lamp:before {
  content: "\5b";
}
.font-icon-picture:before {
  content: "\5d";
}
.font-icon-pdf-fill:before {
  content: "\5e";
}
.font-icon-notebook-bird:before {
  content: "\5f";
}
.font-icon-quote:before {
  content: "\60";
}
.font-icon-vk-fill:before {
  content: "\7b";
}
.font-icon-video-fill:before {
  content: "\7c";
}
.font-icon-tw-fill:before {
  content: "\7d";
}
.font-icon-answer:before {
  content: "\7e";
}
.font-icon-archive:before {
  content: "\5c";
}
.font-icon-case-2:before {
  content: "\e000";
}
.font-icon-clip:before {
  content: "\e001";
}
.font-icon-cloud:before {
  content: "\e002";
}
.font-icon-comments-2:before {
  content: "\e003";
}
.font-icon-del:before {
  content: "\e004";
}
.font-icon-event:before {
  content: "\e005";
}
.font-icon-download-3:before {
  content: "\e006";
}
.font-icon-download-2:before {
  content: "\e007";
}
.font-icon-dots-vert-square:before {
  content: "\e008";
}
.font-icon-fire:before {
  content: "\e009";
}
.font-icon-folder:before {
  content: "\e00a";
}
.font-icon-lock:before {
  content: "\e00b";
}
.font-icon-ok:before {
  content: "\e00c";
}
.font-icon-picture-2:before {
  content: "\e00d";
}
.font-icon-pin:before {
  content: "\e00e";
}
.font-icon-refresh-2:before {
  content: "\e00f";
}
.font-icon-view-cascade:before {
  content: "\e010";
}
.font-icon-users-group:before {
  content: "\e011";
}
.font-icon-upload-2:before {
  content: "\e012";
}
.font-icon-view-grid:before {
  content: "\e013";
}
.font-icon-view-rows:before {
  content: "\e014";
}
.font-icon-warning:before {
  content: "\e015";
}
.font-icon-facebook:before {
  content: "\e016";
}
.font-icon-instagram:before {
  content: "\e017";
}
.font-icon-google-plus:before {
  content: "\e018";
}
.font-icon-linkedin:before {
  content: "\e019";
}
.font-icon-twitter:before {
  content: "\e01a";
}
.font-icon-phone:before {
  content: "\e01b";
}
.font-icon-gp-fill:before {
  content: "\e01c";
}
.font-icon-ok-fill:before {
  content: "\e01d";
}
.font-icon-editor-align-center:before {
  content: "\e01e";
}
.font-icon-editor-align-justify:before {
  content: "\e01f";
}
.font-icon-editor-align-left:before {
  content: "\e020";
}
.font-icon-editor-align-right:before {
  content: "\e021";
}
.font-icon-editor-bold:before {
  content: "\e022";
}
.font-icon-editor-code:before {
  content: "\e023";
}
.font-icon-editor-eraser:before {
  content: "\e024";
}
.font-icon-editor-font:before {
  content: "\e025";
}
.font-icon-editor-fullscreen:before {
  content: "\e026";
}
.font-icon-editor-help:before {
  content: "\e027";
}
.font-icon-editor-img:before {
  content: "\e028";
}
.font-icon-editor-link:before {
  content: "\e029";
}
.font-icon-editor-list:before {
  content: "\e02a";
}
.font-icon-editor-magic:before {
  content: "\e02b";
}
.font-icon-editor-numeric-list:before {
  content: "\e02c";
}
.font-icon-editor-table:before {
  content: "\e02d";
}
.font-icon-editor-underline:before {
  content: "\e02e";
}
.font-icon-editor-video:before {
  content: "\e02f";
}
.font-icon-alarm-2:before {
  content: "\e030";
}
.font-icon-alarm-rotate:before {
  content: "\e031";
}
.font-icon-binoculars:before {
  content: "\e032";
}
.font-icon-cart-2:before {
  content: "\e033";
}
.font-icon-card:before {
  content: "\e034";
}
.font-icon-bookmark:before {
  content: "\e035";
}
.font-icon-chart-3:before {
  content: "\e036";
}
.font-icon-chart-4:before {
  content: "\e037";
}
.font-icon-check-square:before {
  content: "\e038";
}
.font-icon-del-circle:before {
  content: "\e039";
}
.font-icon-comp:before {
  content: "\e03a";
}
.font-icon-cloud-download:before {
  content: "\e03b";
}
.font-icon-downloaded:before {
  content: "\e03c";
}
.font-icon-link:before {
  content: "\e03d";
}
.font-icon-i-circle:before {
  content: "\e03e";
}
.font-icon-notebook-lines:before {
  content: "\e03f";
}
.font-icon-pdf:before {
  content: "\e040";
}
.font-icon-pen-square:before {
  content: "\e041";
}
.font-icon-play-prev:before {
  content: "\e042";
}
.font-icon-play-next:before {
  content: "\e043";
}
.font-icon-play-circle:before {
  content: "\e044";
}
.font-icon-play:before {
  content: "\e045";
}
.font-icon-pin-2:before {
  content: "\e046";
}
.font-icon-server:before {
  content: "\e047";
}
.font-icon-warning-circle:before {
  content: "\e048";
}
.font-icon-users-two:before {
  content: "\e049";
}
.font-icon-weather-cloud:before {
  content: "\e04a";
}
.font-icon-weather-cloud-circles:before {
  content: "\e04b";
}
.font-icon-weather-cloud-drops-lightning:before {
  content: "\e04c";
}
.font-icon-weather-cloud-moon:before {
  content: "\e04d";
}
.font-icon-weather-cloud-one-circle:before {
  content: "\e04e";
}
.font-icon-weather-cloud-one-drop:before {
  content: "\e04f";
}
.font-icon-weather-cloud-rain-snow:before {
  content: "\e050";
}
.font-icon-weather-cloud-sun:before {
  content: "\e051";
}
.font-icon-weather-cloud-two-circles:before {
  content: "\e052";
}
.font-icon-weather-cloud-two-drops:before {
  content: "\e053";
}
.font-icon-weather-cloud-two-snow:before {
  content: "\e054";
}
.font-icon-weather-clouds:before {
  content: "\e055";
}
.font-icon-weather-clound-lightning:before {
  content: "\e056";
}
.font-icon-weather-sun:before {
  content: "\e057";
}
.font-icon-weather-snowflake:before {
  content: "\e058";
}
.font-icon-weather-snow:before {
  content: "\e059";
}
.font-icon-weather-rain:before {
  content: "\e05a";
}
.font-icon-weather-one-snow:before {
  content: "\e05b";
}
.font-icon-weather-moon-small-cloud:before {
  content: "\e05c";
}
.font-icon-weather-moon-cloud-rain:before {
  content: "\e05d";
}
.font-icon-weather-moon-cloud:before {
  content: "\e05e";
}
.font-icon-weather-moon:before {
  content: "\e05f";
}
.font-icon-weather-lightning:before {
  content: "\e060";
}
.font-icon-weather-house-water:before {
  content: "\e061";
}
.font-icon-weather-funnel:before {
  content: "\e062";
}
.font-icon-weather-drop:before {
  content: "\e063";
}
.font-icon-weather-sun-cloud:before {
  content: "\e064";
}
.font-icon-weather-sun-clouds:before {
  content: "\e065";
}
.font-icon-weather-sun-rain:before {
  content: "\e066";
}
.font-icon-weather-thermometer:before {
  content: "\e067";
}
.font-icon-weather-umbrella:before {
  content: "\e068";
}
.font-icon-weather-waves:before {
  content: "\e069";
}
.font-icon-wp:before {
  content: "\e06a";
}
.font-icon-player-full-screen:before {
  content: "\e06b";
}
.font-icon-player-next:before {
  content: "\e06c";
}
.font-icon-player-settings:before {
  content: "\e06d";
}
.font-icon-player-sound:before {
  content: "\e06e";
}
.font-icon-player-subtitres:before {
  content: "\e06f";
}
.font-icon-player-wide-screen:before {
  content: "\e070";
}
.font-icon-case-3:before {
  content: "\e071";
}
.font-icon-github:before {
  content: "\e072";
}
.font-icon-learn:before {
  content: "\e073";
}
.font-icon-play-next-square:before {
  content: "\e074";
}
.font-icon-play-prev-square:before {
  content: "\e075";
}
.font-icon-play-square:before {
  content: "\e076";
}
.font-icon-picture-double:before {
  content: "\e077";
}
.font-icon-snippet:before {
  content: "\e078";
}
.font-icon-post:before {
  content: "\e079";
}
.font-icon-plus-1:before {
  content: "\e07a";
}
/* ==========================================================================
   Menu List
   ========================================================================== */
.side-menu-list {
  margin: 0 0 25px;
}
.side-menu-list .lbl {
  font-weight: 600;
  color: #818181;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}
.side-menu-list ul {
  display: none;
}
.side-menu-list ul a {
  padding-left: 18px;
}
.side-menu-list .label {
  margin: 0 0 0 .5em;
  font-weight: 400;
  font-size: 0.75rem /*12/16*/;
  padding: .2em .45em .04em;
  position: relative;
  top: -1px;
}
.side-menu-list > li {
  line-height: 16px;
}
.side-menu-list > li.divider {
  border-top: solid 1px #c5d6de;
}
.side-menu-list > li.divider:first-child {
  border-top: none;
}
.side-menu-list a.active {
  background-color: #ecf2f5;
}
.side-menu-list a,
.side-menu-list li > span {
  display: block;
  padding: 11px 10px 11px 5px;
  position: relative;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border-left: solid 4px transparent;
}
.side-menu-list a:hover,
.side-menu-list li > span:hover {
  background-color: #ecf2f5;
}
.side-menu-list a:hover .lbl,
.side-menu-list li > span:hover .lbl {
  color: #343434;
}
.side-menu-list a.label-right,
.side-menu-list li > span.label-right {
  padding-right: 38px;
}
.side-menu-list a.label-right .label,
.side-menu-list li > span.label-right .label {
  position: absolute;
  right: 21px;
  top: 50%;
  margin-top: -8px;
}
.side-menu-list li.with-sub {
  transition: all 0.2s ease-in-out;
}
.side-menu-list li.with-sub > span {
  padding-right: 25px;
}
.side-menu-list li.with-sub > span:before {
  content: '';
  position: absolute;
  right: 21px;
  top: 50%;
  margin-top: -2px;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: #ADB7BE transparent transparent transparent;
  transition: all 0.2s ease-in-out;
  transform: rotate(-90deg);
}
.side-menu-list li.with-sub li.with-sub > span {
  padding-left: 19px;
}
.side-menu-list li.with-sub li.with-sub li > a,
.side-menu-list li.with-sub li.with-sub li > span {
  padding-left: 30px;
}
.side-menu-list li.with-sub li.with-sub li.with-sub > span {
  padding-left: 30px;
}
.side-menu-list li.with-sub li.with-sub li.with-sub li > a,
.side-menu-list li.with-sub li.with-sub li.with-sub li > span {
  padding-left: 40px;
}
.side-menu-list li.with-sub li.with-sub li.with-sub li.with-sub > span {
  padding-left: 40px;
}
.side-menu-list li.with-sub li.with-sub li.with-sub li.with-sub li > a,
.side-menu-list li.with-sub li.with-sub li.with-sub li.with-sub li > span {
  padding-left: 50px;
}
.side-menu-list li.opened {
  background-color: #f6f8fa;
}
.side-menu-list li.opened > span:before {
  transform: rotate(0deg);
}
.side-menu-list li.opened > span .lbl {
  color: #343434;
}
.side-menu-list li.opened > ul {
  display: block !important;
}
.side-menu-list .font-icon.active:after,
.side-menu-list .glyphicon.active:after,
.side-menu-list .fa.active:after,
.side-menu-list .tag-color.active:after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: -4px;
  right: -4px;
  background: #fa424a;
  border-radius: 50%;
  border: solid 1px #FFFFFF;
  transition: all 0.2s ease-in-out;
}
.side-menu-list .fa {
  margin-top: -2px;
  min-width: 18px;
}
.side-menu-list .glyphicon {
  top: 11px;
}
.side-menu-list .tag-color {
  display: block;
  width: 16px;
  height: 16px;
  background: #000000;
  border-radius: 2px;
  top: 11px;
}
.side-menu-list .tag-color.green {
  background-color: #46c35f;
}
.side-menu-list .tag-color.grey-blue {
  background-color: #9fc4e2;
}
.side-menu-list .tag-color.red {
  background-color: #fa424a;
}
.side-menu-list .tag-color.pink {
  background-color: #e84f9a;
}
.side-menu-list .tag-color.orange {
  background-color: #ff7721;
}
/* ==========================================================================
   STYLE: Big Icon
   ========================================================================== */
.side-menu-big-icon .side-menu-list {
  text-align: center;
  margin-top: -10px;
}
.side-menu-big-icon .side-menu-list .lbl {
  display: block;
  color: #343434;
}
.side-menu-big-icon .side-menu-list ul a {
  padding: 10px;
  background-color: #aeb8bf;
}
.side-menu-big-icon .side-menu-list ul a:hover {
  background-color: #919fa9;
}
.side-menu-big-icon .side-menu-list a,
.side-menu-big-icon .side-menu-list > li > span {
  padding: 15px 10px;
  border-left: none;
}
.side-menu-big-icon .side-menu-list > li.with-sub > span {
  padding-right: 10px;
}
.side-menu-big-icon .side-menu-list > li.with-sub > span:before {
  display: none;
}
.side-menu-big-icon .side-menu-list > li.with-sub > span:after {
  content: '\52';
  font-family: "startui" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  position: relative;
  top: -0.15em;
  color: #919fa9;
  opacity: .5;
  position: absolute;
  right: 10px;
  top: 19px;
  transition: all 0.2s ease-in-out;
}
.side-menu-big-icon .side-menu-list > li.opened {
  color: #FFFFFF;
  background-color: #919fa9;
}
.side-menu-big-icon .side-menu-list > li.opened > a,
.side-menu-big-icon .side-menu-list > li.opened > span {
  background-color: #919fa9;
}
.side-menu-big-icon .side-menu-list > li.opened .font-icon,
.side-menu-big-icon .side-menu-list > li.opened .glyphicon,
.side-menu-big-icon .side-menu-list > li.opened .fa,
.side-menu-big-icon .side-menu-list > li.opened .lbl {
  color: #FFFFFF;
}
.side-menu-big-icon .side-menu-list > li.opened .font-icon.active:after,
.side-menu-big-icon .side-menu-list > li.opened .glyphicon.active:after,
.side-menu-big-icon .side-menu-list > li.opened .fa.active:after {
  border-color: #919fa9;
}
.side-menu-big-icon .side-menu-list > li.opened.with-sub > span:after {
  color: #FFFFFF;
  opacity: 1;
  transform: rotate(-90deg);
}
.side-menu-big-icon .side-menu-list .font-icon,
.side-menu-big-icon .side-menu-list .glyphicon,
.side-menu-big-icon .side-menu-list .fa {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  color: #919fa9;
  line-height: 1;
  font-size: 2rem;
  margin: 0 0 5px;
}
.side-menu-big-icon .side-menu-list .font-icon.active:after,
.side-menu-big-icon .side-menu-list .glyphicon.active:after,
.side-menu-big-icon .side-menu-list .fa.active:after {
  width: 14px;
  height: 14px;
  top: -8px;
  right: -7px;
  border-width: 2px;
}
/* ==========================================================================
   Icon's Colors
   ========================================================================== */
.side-menu-list > li.brown .font-icon,
.side-menu-list > li.brown .glyphicon,
.side-menu-list > li.brown .fa {
  color: #cd6724;
}
.side-menu-list > li.brown.opened a,
.side-menu-list > li.brown.opened > span,
.side-menu-list > li.brown.opened.with-sub > span,
.side-menu-list > li.brown .with-sub > span {
  border-left-color: #cd6724;
}
.side-menu-list > li.green .font-icon,
.side-menu-list > li.green .glyphicon,
.side-menu-list > li.green .fa {
  color: #46c35f;
}
.side-menu-list > li.green.opened a,
.side-menu-list > li.green.opened > span,
.side-menu-list > li.green .with-sub > span {
  border-left-color: #46c35f;
}
.side-menu-list > li.gold .font-icon,
.side-menu-list > li.gold .glyphicon,
.side-menu-list > li.gold .fa {
  color: #f29824;
}
.side-menu-list > li.gold.opened a,
.side-menu-list > li.gold.opened > span,
.side-menu-list > li.gold .with-sub > span {
  border-left-color: #f29824;
}
.side-menu-list > li.blue .font-icon,
.side-menu-list > li.blue .glyphicon,
.side-menu-list > li.blue .fa {
  color: #00a8ff;
}
.side-menu-list > li.blue.opened a,
.side-menu-list > li.blue.opened > span,
.side-menu-list > li.blue .with-sub > span {
  border-left-color: #00a8ff;
}
.side-menu-list > li.purple .font-icon,
.side-menu-list > li.purple .glyphicon,
.side-menu-list > li.purple .fa {
  color: #ac6bec;
}
.side-menu-list > li.purple.opened a,
.side-menu-list > li.purple.opened > span,
.side-menu-list > li.purple .with-sub > span {
  border-left-color: #ac6bec;
}
.side-menu-list > li.orange-red .font-icon,
.side-menu-list > li.orange-red .glyphicon,
.side-menu-list > li.orange-red .fa {
  color: #ff561c;
}
.side-menu-list > li.orange-red.opened a,
.side-menu-list > li.orange-red.opened > span,
.side-menu-list > li.orange-red .with-sub > span {
  border-left-color: #ff561c;
}
.side-menu-list > li.grey .font-icon,
.side-menu-list > li.grey .glyphicon,
.side-menu-list > li.grey .fa {
  color: #adb7be;
}
.side-menu-list > li.grey.opened a,
.side-menu-list > li.grey.opened > span,
.side-menu-list > li.grey .with-sub > span {
  border-left-color: #adb7be;
}
.side-menu-list > li.red .font-icon,
.side-menu-list > li.red .glyphicon,
.side-menu-list > li.red .fa {
  color: #fa424a;
}
.side-menu-list > li.red.opened a,
.side-menu-list > li.red.opened > span,
.side-menu-list > li.red .with-sub > span {
  border-left-color: #fa424a;
}
.side-menu-list > li.aquamarine .font-icon,
.side-menu-list > li.aquamarine .glyphicon,
.side-menu-list > li.aquamarine .fa {
  color: #21a788;
}
.side-menu-list > li.aquamarine.opened a,
.side-menu-list > li.aquamarine.opened > span,
.side-menu-list > li.aquamarine .with-sub > span {
  border-left-color: #21a788;
}
.side-menu-list > li.magenta .font-icon,
.side-menu-list > li.magenta .glyphicon,
.side-menu-list > li.magenta .fa {
  color: #b348ae;
}
.side-menu-list > li.magenta.opened a,
.side-menu-list > li.magenta.opened > span,
.side-menu-list > li.magenta .with-sub > span {
  border-left-color: #b348ae;
}
.side-menu-list > li.blue-dirty .font-icon,
.side-menu-list > li.blue-dirty .glyphicon,
.side-menu-list > li.blue-dirty .fa {
  color: #1b99cf;
}
.side-menu-list > li.blue-dirty.opened a,
.side-menu-list > li.blue-dirty.opened > span,
.side-menu-list > li.blue-dirty .with-sub > span {
  border-left-color: #1b99cf;
}
.side-menu-list > li.coral .font-icon,
.side-menu-list > li.coral .glyphicon,
.side-menu-list > li.coral .fa {
  color: #fe664c;
}
.side-menu-list > li.coral.opened a,
.side-menu-list > li.coral.opened > span,
.side-menu-list > li.coral .with-sub > span {
  border-left-color: #fe664c;
}
.side-menu-list > li.pink-red .font-icon,
.side-menu-list > li.pink-red .glyphicon,
.side-menu-list > li.pink-red .fa {
  color: #f5465e;
}
.side-menu-list > li.pink-red.opened a,
.side-menu-list > li.pink-red.opened > span,
.side-menu-list > li.pink-red .with-sub > span {
  border-left-color: #f5465e;
}
.side-menu-list > li.pink .font-icon,
.side-menu-list > li.pink .glyphicon,
.side-menu-list > li.pink .fa {
  color: #e84f9a;
}
.side-menu-list > li.pink.opened a,
.side-menu-list > li.pink.opened > span,
.side-menu-list > li.pink .with-sub > span {
  border-left-color: #e84f9a;
}
.side-menu-list > li.blue-darker .font-icon,
.side-menu-list > li.blue-darker .glyphicon,
.side-menu-list > li.blue-darker .fa {
  color: #1280d0;
}
.side-menu-list > li.blue-darker.opened a,
.side-menu-list > li.blue-darker.opened > span,
.side-menu-list > li.blue-darker .with-sub > span {
  border-left-color: #1280d0;
}
.side-menu-list > li.blue-sky .font-icon,
.side-menu-list > li.blue-sky .glyphicon,
.side-menu-list > li.blue-sky .fa {
  color: #23b9e2;
}
.side-menu-list > li.blue-sky.opened a,
.side-menu-list > li.blue-sky.opened > span,
.side-menu-list > li.blue-sky .with-sub > span {
  border-left-color: #23b9e2;
}
/* ==========================================================================
   Side menu
   ========================================================================== */
.side-menu {
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  background: #FFFFFF;
  height: 100%;
  border-right: solid 1px #c5d6de;
  overflow: auto;
  z-index: 60;
  padding: 90px 0 110px;
}
.dark-theme .side-menu {
  padding-top: 60px;
}
.side-menu .jspPane {
  padding-top: 90px !important;
}
.dark-theme .side-menu .jspPane {
  padding-top: 60px !important;
}
.side-menu .side-menu-title {
  font-weight: 600;
  text-transform: uppercase;
  color: #6c7a86;
  padding: 0 22px 8px;
  font-size: 0.875rem /*14/16*/;
}
.side-menu .side-menu-avatar {
  padding: 28px 0;
  background: #f6f8fa;
  margin: -10px 0 1px;
}
.side-menu .side-menu-avatar .avatar-preview {
  display: block;
  margin: 0 auto;
}
.side-menu.side-menu-compact {
  width: 100px;
  padding-bottom: 0;
  padding-top: 80px;
}
.side-menu.side-menu-compact .jspPane {
  padding-top: 80px !important;
}
.side-menu.side-menu-compact .side-menu-avatar {
  padding: 18px 0;
  margin-top: 0;
}
.side-menu.side-menu-compact .side-menu-list {
  text-align: center;
}
.side-menu.side-menu-compact .side-menu-list > li.opened .lbl {
  color: #343434;
}
.side-menu.side-menu-compact .side-menu-list a {
  padding: 20px 9px 20px 5px;
}
.side-menu.side-menu-compact .side-menu-list .font-icon,
.side-menu.side-menu-compact .side-menu-list .glyphicon,
.side-menu.side-menu-compact .side-menu-list .fa {
  position: relative;
  left: auto;
  top: 0;
  margin: 0;
  display: inline-block;
  font-size: 2.125rem /*34/16*/;
  line-height: normal;
  min-height: 40px;
}
.side-menu.side-menu-compact .side-menu-list .font-icon.active:after,
.side-menu.side-menu-compact .side-menu-list .glyphicon.active:after,
.side-menu.side-menu-compact .side-menu-list .fa.active:after {
  width: 16px;
  height: 16px;
  border-width: 2px;
  top: -6px;
  right: -6px;
}
.side-menu.side-menu-compact .side-menu-list .lbl {
  display: block;
  font-size: 0.875rem /*14/16*/;
}
@media (max-width: 991px) {
  .side-menu {
    left: -240px;
    transition: all 0.2s ease-in-out;
  }
  .menu-left-opened .side-menu {
    left: 0 !important;
  }
  .with-side-menu-addl .side-menu.side-menu-compact {
    left: -270px;
  }
}
/* ==========================================================================
   Additional Side Menu
   ========================================================================== */
.side-menu-addl {
  position: fixed;
  left: 100px;
  top: 0;
  width: 220px;
  height: 100%;
  background: #FFFFFF;
  border-right: solid 1px #c5d6de;
  overflow: auto;
  z-index: 60;
  padding: 100px 0 0;
  transition: all 0.2s ease-in-out;
}
.side-menu-addl .jspPane {
  padding-top: 100px !important;
}
.side-menu-addl .side-menu-addl-title {
  margin: 0 0 15px;
  padding: 8px 45px 8px 18px;
  position: relative;
}
.side-menu-addl .side-menu-addl-title .caption {
  font-size: 0.875rem /*14/16*/;
  font-weight: 600;
  color: #818181;
}
.side-menu-addl .side-menu-addl-title .font-icon,
.side-menu-addl .side-menu-addl-title .glyphicon,
.side-menu-addl .side-menu-addl-title .fa {
  color: #adb7be;
  position: absolute;
  top: 8px;
  right: 20px;
  font-size: 1rem;
  line-height: 18px;
}
.side-menu-addl .side-menu-addl-top {
  padding: 0 18px 15px;
  border-bottom: solid 1px #c5d6de;
  margin: -5px 0 0;
}
.side-menu-addl .side-menu-addl-list a {
  display: table;
  width: 100%;
  font-size: 0.875rem /*14/16*/;
  font-weight: 600;
  color: #818181;
}
.side-menu-addl .side-menu-addl-list a .tbl-cell {
  padding: 8px 0;
  vertical-align: middle;
}
.side-menu-addl .side-menu-addl-list a .tbl-cell.tbl-cell-caption {
  padding-left: 18px;
  padding-right: 20px;
}
.side-menu-addl .side-menu-addl-list a .tbl-cell.tbl-cell-num {
  padding-right: 20px;
  text-align: right;
  white-space: nowrap;
  width: 10px;
}
.side-menu-addl .side-menu-addl-list a:hover {
  background: #ecf2f5;
}
.side-menu-addl .side-menu-addl-list li.header a {
  color: #343434;
}
.side-menu-addl .side-menu-addl-list .divider {
  margin: 10px 0;
  height: 0;
  overflow: hidden;
  border-top: solid 1px #c5d6de;
}
.side-menu-addl .side-menu-list a,
.side-menu-addl .side-menu-list > li > span {
  border-left: none;
}
.with-side-menu-addl-full .side-menu-addl {
  left: 240px;
}
@media (max-width: 1199px) {
  .side-menu-addl {
    padding-top: 85px;
  }
  .side-menu-addl .jspPane {
    padding-top: 85px !important;
  }
  .side-menu-addl .side-menu-addl-top {
    margin-top: 0;
    padding-top: 10px;
  }
}
@media (max-width: 991px) {
  .side-menu-addl {
    left: -220px;
  }
  .with-side-menu-addl-full .side-menu-addl {
    left: -220px;
  }
  .menu-left-opened .side-menu-addl {
    left: 100px;
  }
  .with-side-menu-addl-full.menu-left-opened .side-menu-addl {
    left: 240px;
  }
}
/* ==========================================================================
   Overlay (mobile version)
   ========================================================================== */
.mobile-menu-left-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 59;
  background: rgba(48, 75, 88, 0.5);
}
@media (max-width: 991px) {
  .menu-left-opened .mobile-menu-left-overlay {
    display: block;
  }
}
/* ==========================================================================
   Table of Contents
   ========================================================================== */
.side-table-of-contents {
  padding: .5rem 22px 15px;
  font-size: 1rem;
  font-weight: 600;
}
.side-table-of-contents a {
  color: #343434;
}
.side-table-of-contents a:hover {
  color: #00a8ff;
}
.side-table-of-contents a.active {
  font-weight: 700;
  color: #343434 !important;
}
.side-table-of-contents li {
  padding: 0 0 .8em;
}
.side-table-of-contents ul {
  font-size: 0.875rem /*14/16*/;
  padding-left: 1rem;
  padding-top: .7rem;
}
.side-table-of-contents ul a {
  text-decoration: none;
  color: #919fa9;
  border: none;
}
.side-table-of-contents ul a:hover {
  color: #00a8ff;
}
/* ==========================================================================
   STYLE: Dark Theme (common)
   ========================================================================== */
.dark-theme .side-menu {
  background-color: #343434;
  border-right-color: #343434;
}
.dark-theme .side-menu .jspDrag {
  border-color: #343434;
  background-color: #535353;
}
.dark-theme .side-menu .side-menu-avatar {
  background-color: #343434;
  border-bottom: solid 1px #272727;
}
.dark-theme .side-menu .side-menu-list .lbl {
  color: #FFFFFF;
}
.dark-theme .side-menu .side-menu-list a:hover,
.dark-theme .side-menu .side-menu-list > li > span:hover {
  background-color: #919fa9;
}
.dark-theme .side-menu .side-menu-list a:hover .lbl,
.dark-theme .side-menu .side-menu-list > li > span:hover .lbl {
  color: #FFFFFF;
}
.dark-theme .side-menu .side-menu-list a:hover .font-icon,
.dark-theme .side-menu .side-menu-list > li > span:hover .font-icon,
.dark-theme .side-menu .side-menu-list a:hover .glyphicon,
.dark-theme .side-menu .side-menu-list > li > span:hover .glyphicon,
.dark-theme .side-menu .side-menu-list a:hover .fa,
.dark-theme .side-menu .side-menu-list > li > span:hover .fa {
  color: #FFFFFF;
}
.dark-theme .side-menu .side-menu-list a:hover .font-icon.active:after,
.dark-theme .side-menu .side-menu-list > li > span:hover .font-icon.active:after,
.dark-theme .side-menu .side-menu-list a:hover .glyphicon.active:after,
.dark-theme .side-menu .side-menu-list > li > span:hover .glyphicon.active:after,
.dark-theme .side-menu .side-menu-list a:hover .fa.active:after,
.dark-theme .side-menu .side-menu-list > li > span:hover .fa.active:after {
  border-color: #919fa9 !important;
}
.dark-theme .side-menu .side-menu-list > li.with-sub > span:before {
  border-top-color: #919fa9;
}
.dark-theme .side-menu .side-menu-list > li.with-sub > span:hover:before {
  border-top-color: #FFFFFF;
}
.dark-theme .side-menu .side-menu-list > li.with-sub ul > li.with-sub a,
.dark-theme .side-menu .side-menu-list > li.with-sub ul > li.with-sub > span {
  border-left-color: transparent;
}
.dark-theme .side-menu .side-menu-list > li.with-sub ul > li.with-sub a:hover,
.dark-theme .side-menu .side-menu-list > li.with-sub ul > li.with-sub > span:hover {
  background-color: #FFFFFF !important;
}
.dark-theme .side-menu .side-menu-list > li.with-sub ul > li.with-sub a:hover .lbl,
.dark-theme .side-menu .side-menu-list > li.with-sub ul > li.with-sub > span:hover .lbl {
  color: #343434;
}
.dark-theme .side-menu .side-menu-list > li.with-sub ul > li.with-sub a:hover .font-icon,
.dark-theme .side-menu .side-menu-list > li.with-sub ul > li.with-sub > span:hover .font-icon,
.dark-theme .side-menu .side-menu-list > li.with-sub ul > li.with-sub a:hover .glyphicon,
.dark-theme .side-menu .side-menu-list > li.with-sub ul > li.with-sub > span:hover .glyphicon,
.dark-theme .side-menu .side-menu-list > li.with-sub ul > li.with-sub a:hover .fa,
.dark-theme .side-menu .side-menu-list > li.with-sub ul > li.with-sub > span:hover .fa {
  color: #919fa9;
}
.dark-theme .side-menu .side-menu-list > li.with-sub ul > li.with-sub a:hover .font-icon.active:after,
.dark-theme .side-menu .side-menu-list > li.with-sub ul > li.with-sub > span:hover .font-icon.active:after,
.dark-theme .side-menu .side-menu-list > li.with-sub ul > li.with-sub a:hover .glyphicon.active:after,
.dark-theme .side-menu .side-menu-list > li.with-sub ul > li.with-sub > span:hover .glyphicon.active:after,
.dark-theme .side-menu .side-menu-list > li.with-sub ul > li.with-sub a:hover .fa.active:after,
.dark-theme .side-menu .side-menu-list > li.with-sub ul > li.with-sub > span:hover .fa.active:after {
  border-color: #FFFFFF !important;
}
.dark-theme .side-menu .side-menu-list > li.opened {
  background-color: #919fa9;
}
.dark-theme .side-menu .side-menu-list > li.opened > span:before {
  border-top-color: #FFFFFF;
}
.dark-theme .side-menu .side-menu-list > li.opened > span .lbl {
  color: #FFFFFF;
}
.dark-theme .side-menu .side-menu-list > li.opened .font-icon,
.dark-theme .side-menu .side-menu-list > li.opened .glyphicon,
.dark-theme .side-menu .side-menu-list > li.opened .fa {
  color: #FFFFFF;
}
.dark-theme .side-menu .side-menu-list > li.opened .font-icon.active:after,
.dark-theme .side-menu .side-menu-list > li.opened .glyphicon.active:after,
.dark-theme .side-menu .side-menu-list > li.opened .fa.active:after {
  border-color: #919fa9;
}
.dark-theme .side-menu .side-menu-list > li.opened a,
.dark-theme .side-menu .side-menu-list > li.opened > span {
  border-left-color: transparent;
}
.dark-theme .side-menu .side-menu-list > li.opened.with-sub a,
.dark-theme .side-menu .side-menu-list > li.opened.with-sub > span {
  border-left-color: transparent;
}
.dark-theme .side-menu .side-menu-list > li.opened.with-sub a:hover,
.dark-theme .side-menu .side-menu-list > li.opened.with-sub > span:hover {
  background-color: #FFFFFF !important;
}
.dark-theme .side-menu .side-menu-list > li.opened.with-sub a:hover .lbl,
.dark-theme .side-menu .side-menu-list > li.opened.with-sub > span:hover .lbl {
  color: #343434;
}
.dark-theme .side-menu .side-menu-list > li.opened.with-sub a:hover .font-icon,
.dark-theme .side-menu .side-menu-list > li.opened.with-sub > span:hover .font-icon,
.dark-theme .side-menu .side-menu-list > li.opened.with-sub a:hover .glyphicon,
.dark-theme .side-menu .side-menu-list > li.opened.with-sub > span:hover .glyphicon,
.dark-theme .side-menu .side-menu-list > li.opened.with-sub a:hover .fa,
.dark-theme .side-menu .side-menu-list > li.opened.with-sub > span:hover .fa {
  color: #919fa9;
}
.dark-theme .side-menu .side-menu-list > li.opened.with-sub a:hover .font-icon.active:after,
.dark-theme .side-menu .side-menu-list > li.opened.with-sub > span:hover .font-icon.active:after,
.dark-theme .side-menu .side-menu-list > li.opened.with-sub a:hover .glyphicon.active:after,
.dark-theme .side-menu .side-menu-list > li.opened.with-sub > span:hover .glyphicon.active:after,
.dark-theme .side-menu .side-menu-list > li.opened.with-sub a:hover .fa.active:after,
.dark-theme .side-menu .side-menu-list > li.opened.with-sub > span:hover .fa.active:after {
  border-color: #FFFFFF !important;
}
.dark-theme .side-menu .side-menu-list .font-icon,
.dark-theme .side-menu .side-menu-list .glyphicon,
.dark-theme .side-menu .side-menu-list .fa {
  color: #919fa9;
  transition: all 0.2s ease-in-out;
}
.dark-theme .side-menu .side-menu-list .font-icon.active:after,
.dark-theme .side-menu .side-menu-list .glyphicon.active:after,
.dark-theme .side-menu .side-menu-list .fa.active:after {
  border-color: #343434;
}
.dark-theme .side-menu.side-menu-compact .side-menu-avatar {
  margin-top: -30px;
}
.dark-theme .side-menu.side-menu-compact .side-menu-list {
  text-align: center;
}
.dark-theme .side-menu.side-menu-compact .side-menu-list > li.opened .lbl {
  color: #FFFFFF;
}
/* ==========================================================================
   STYLE: Dark Theme Blue
   ========================================================================== */
.dark-theme.dark-theme-blue .side-menu-list a:hover,
.dark-theme.dark-theme-blue .side-menu-list > li > span:hover {
  background-color: #00a8ff;
}
.dark-theme.dark-theme-blue .side-menu-list a:hover .font-icon.active:after,
.dark-theme.dark-theme-blue .side-menu-list > li > span:hover .font-icon.active:after,
.dark-theme.dark-theme-blue .side-menu-list a:hover .glyphicon.active:after,
.dark-theme.dark-theme-blue .side-menu-list > li > span:hover .glyphicon.active:after,
.dark-theme.dark-theme-blue .side-menu-list a:hover .fa.active:after,
.dark-theme.dark-theme-blue .side-menu-list > li > span:hover .fa.active:after {
  border-color: #00a8ff !important;
}
.dark-theme.dark-theme-blue .side-menu-list > li.opened {
  background-color: #00a8ff;
}
.dark-theme.dark-theme-blue .side-menu-list > li.opened .font-icon.active:after,
.dark-theme.dark-theme-blue .side-menu-list > li.opened .glyphicon.active:after,
.dark-theme.dark-theme-blue .side-menu-list > li.opened .fa.active:after {
  border-color: #00a8ff;
}
.dark-theme.dark-theme-blue .side-menu-list > li.opened.with-sub a:hover .font-icon,
.dark-theme.dark-theme-blue .side-menu-list > li.opened.with-sub > span:hover .font-icon,
.dark-theme.dark-theme-blue .side-menu-list > li.opened.with-sub a:hover .glyphicon,
.dark-theme.dark-theme-blue .side-menu-list > li.opened.with-sub > span:hover .glyphicon,
.dark-theme.dark-theme-blue .side-menu-list > li.opened.with-sub a:hover .fa,
.dark-theme.dark-theme-blue .side-menu-list > li.opened.with-sub > span:hover .fa {
  color: #00a8ff;
}
.dark-theme.dark-theme-blue .side-menu-list > li.opened.with-sub a:hover .font-icon.active:after,
.dark-theme.dark-theme-blue .side-menu-list > li.opened.with-sub > span:hover .font-icon.active:after,
.dark-theme.dark-theme-blue .side-menu-list > li.opened.with-sub a:hover .glyphicon.active:after,
.dark-theme.dark-theme-blue .side-menu-list > li.opened.with-sub > span:hover .glyphicon.active:after,
.dark-theme.dark-theme-blue .side-menu-list > li.opened.with-sub a:hover .fa.active:after,
.dark-theme.dark-theme-blue .side-menu-list > li.opened.with-sub > span:hover .fa.active:after {
  border-color: #FFFFFF !important;
}
/* ==========================================================================
   STYLE: Dark Theme Green
   ========================================================================== */
.dark-theme.dark-theme-green .side-menu-list a:hover,
.dark-theme.dark-theme-green .side-menu-list > li > span:hover {
  background-color: #46c35f;
}
.dark-theme.dark-theme-green .side-menu-list a:hover .font-icon.active:after,
.dark-theme.dark-theme-green .side-menu-list > li > span:hover .font-icon.active:after,
.dark-theme.dark-theme-green .side-menu-list a:hover .glyphicon.active:after,
.dark-theme.dark-theme-green .side-menu-list > li > span:hover .glyphicon.active:after,
.dark-theme.dark-theme-green .side-menu-list a:hover .fa.active:after,
.dark-theme.dark-theme-green .side-menu-list > li > span:hover .fa.active:after {
  border-color: #46c35f !important;
}
.dark-theme.dark-theme-green .side-menu-list > li.opened {
  background-color: #46c35f;
}
.dark-theme.dark-theme-green .side-menu-list > li.opened .font-icon.active:after,
.dark-theme.dark-theme-green .side-menu-list > li.opened .glyphicon.active:after,
.dark-theme.dark-theme-green .side-menu-list > li.opened .fa.active:after {
  border-color: #46c35f;
}
.dark-theme.dark-theme-green .side-menu-list > li.opened.with-sub a:hover .font-icon,
.dark-theme.dark-theme-green .side-menu-list > li.opened.with-sub > span:hover .font-icon,
.dark-theme.dark-theme-green .side-menu-list > li.opened.with-sub a:hover .glyphicon,
.dark-theme.dark-theme-green .side-menu-list > li.opened.with-sub > span:hover .glyphicon,
.dark-theme.dark-theme-green .side-menu-list > li.opened.with-sub a:hover .fa,
.dark-theme.dark-theme-green .side-menu-list > li.opened.with-sub > span:hover .fa {
  color: #46c35f;
}
.dark-theme.dark-theme-green .side-menu-list > li.opened.with-sub a:hover .font-icon.active:after,
.dark-theme.dark-theme-green .side-menu-list > li.opened.with-sub > span:hover .font-icon.active:after,
.dark-theme.dark-theme-green .side-menu-list > li.opened.with-sub a:hover .glyphicon.active:after,
.dark-theme.dark-theme-green .side-menu-list > li.opened.with-sub > span:hover .glyphicon.active:after,
.dark-theme.dark-theme-green .side-menu-list > li.opened.with-sub a:hover .fa.active:after,
.dark-theme.dark-theme-green .side-menu-list > li.opened.with-sub > span:hover .fa.active:after {
  border-color: #FFFFFF !important;
}
/* ==========================================================================
   STYLE: Dark Theme Ultramarine
   ========================================================================== */
.dark-theme.dark-theme-ultramarine .side-menu-list a:hover,
.dark-theme.dark-theme-ultramarine .side-menu-list > li > span:hover {
  background-color: #1a5bc3;
}
.dark-theme.dark-theme-ultramarine .side-menu-list a:hover .font-icon.active:after,
.dark-theme.dark-theme-ultramarine .side-menu-list > li > span:hover .font-icon.active:after,
.dark-theme.dark-theme-ultramarine .side-menu-list a:hover .glyphicon.active:after,
.dark-theme.dark-theme-ultramarine .side-menu-list > li > span:hover .glyphicon.active:after,
.dark-theme.dark-theme-ultramarine .side-menu-list a:hover .fa.active:after,
.dark-theme.dark-theme-ultramarine .side-menu-list > li > span:hover .fa.active:after {
  border-color: #1a5bc3 !important;
}
.dark-theme.dark-theme-ultramarine .side-menu-list > li.opened {
  background-color: #1a5bc3;
}
.dark-theme.dark-theme-ultramarine .side-menu-list > li.opened .font-icon.active:after,
.dark-theme.dark-theme-ultramarine .side-menu-list > li.opened .glyphicon.active:after,
.dark-theme.dark-theme-ultramarine .side-menu-list > li.opened .fa.active:after {
  border-color: #1a5bc3;
}
.dark-theme.dark-theme-ultramarine .side-menu-list > li.opened.with-sub a:hover .font-icon,
.dark-theme.dark-theme-ultramarine .side-menu-list > li.opened.with-sub > span:hover .font-icon,
.dark-theme.dark-theme-ultramarine .side-menu-list > li.opened.with-sub a:hover .glyphicon,
.dark-theme.dark-theme-ultramarine .side-menu-list > li.opened.with-sub > span:hover .glyphicon,
.dark-theme.dark-theme-ultramarine .side-menu-list > li.opened.with-sub a:hover .fa,
.dark-theme.dark-theme-ultramarine .side-menu-list > li.opened.with-sub > span:hover .fa {
  color: #1a5bc3;
}
.dark-theme.dark-theme-ultramarine .side-menu-list > li.opened.with-sub a:hover .font-icon.active:after,
.dark-theme.dark-theme-ultramarine .side-menu-list > li.opened.with-sub > span:hover .font-icon.active:after,
.dark-theme.dark-theme-ultramarine .side-menu-list > li.opened.with-sub a:hover .glyphicon.active:after,
.dark-theme.dark-theme-ultramarine .side-menu-list > li.opened.with-sub > span:hover .glyphicon.active:after,
.dark-theme.dark-theme-ultramarine .side-menu-list > li.opened.with-sub a:hover .fa.active:after,
.dark-theme.dark-theme-ultramarine .side-menu-list > li.opened.with-sub > span:hover .fa.active:after {
  border-color: #FFFFFF !important;
}
/* ==========================================================================
   STYLE: Theme Side Ebony Clay
   ========================================================================== */
.theme-side-ebony-clay .side-menu {
  background: #263238;
  border-right-color: transparent;
}
.theme-side-ebony-clay .side-menu .jspDrag {
  border-color: #263238;
  background-color: #374248;
}
.theme-side-ebony-clay .side-menu .side-menu-list .lbl {
  color: #FFFFFF;
}
.theme-side-ebony-clay .side-menu .side-menu-list a:hover,
.theme-side-ebony-clay .side-menu .side-menu-list > li > span:hover {
  background-color: #374248;
}
.theme-side-ebony-clay .side-menu .side-menu-list a:hover .font-icon.active:after,
.theme-side-ebony-clay .side-menu .side-menu-list > li > span:hover .font-icon.active:after,
.theme-side-ebony-clay .side-menu .side-menu-list a:hover .glyphicon.active:after,
.theme-side-ebony-clay .side-menu .side-menu-list > li > span:hover .glyphicon.active:after,
.theme-side-ebony-clay .side-menu .side-menu-list a:hover .fa.active:after,
.theme-side-ebony-clay .side-menu .side-menu-list > li > span:hover .fa.active:after,
.theme-side-ebony-clay .side-menu .side-menu-list a:hover .tag-color.active:after,
.theme-side-ebony-clay .side-menu .side-menu-list > li > span:hover .tag-color.active:after {
  border-color: #374248 !important;
}
.theme-side-ebony-clay .side-menu .side-menu-list > li.with-sub > span:before {
  border-top-color: #9BA1A4;
}
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened {
  background-color: #374248;
}
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened > span:before {
  border-top-color: #9BA1A4;
}
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened > span .lbl {
  color: #FFFFFF;
}
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened .font-icon,
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened .glyphicon,
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened .fa {
  color: #FFFFFF;
}
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened .font-icon.active:after,
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened .glyphicon.active:after,
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened .fa.active:after,
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened .tag-color.active:after {
  border-color: #374248;
}
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened a,
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened > span {
  border-left-color: transparent;
}
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened.with-sub a,
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened.with-sub > span {
  border-left-color: transparent;
}
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened.with-sub a:hover,
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened.with-sub > span:hover {
  background-color: #2D383E !important;
}
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened.with-sub a:hover .font-icon.active:after,
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened.with-sub > span:hover .font-icon.active:after,
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened.with-sub a:hover .glyphicon.active:after,
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened.with-sub > span:hover .glyphicon.active:after,
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened.with-sub a:hover .fa.active:after,
.theme-side-ebony-clay .side-menu .side-menu-list > li.opened.with-sub > span:hover .fa.active:after {
  border-color: #2D383E !important;
}
.theme-side-ebony-clay .side-menu .side-menu-list .font-icon.active:after,
.theme-side-ebony-clay .side-menu .side-menu-list .glyphicon.active:after,
.theme-side-ebony-clay .side-menu .side-menu-list .fa.active:after,
.theme-side-ebony-clay .side-menu .side-menu-list .tag-color.active:after {
  border-color: #263238;
}
.theme-side-ebony-clay .side-menu .side-menu-list .font-icon,
.theme-side-ebony-clay .side-menu .side-menu-list .glyphicon,
.theme-side-ebony-clay .side-menu .side-menu-list .fa {
  color: #FFFFFF;
  transition: all 0.2s ease-in-out;
}
/* ==========================================================================
   STYLE: Theme Side Madison & Caribbean
   ========================================================================== */
.theme-side-madison-caribbean .side-menu {
  background: #2D3E4D;
  border-right-color: transparent;
}
.theme-side-madison-caribbean .side-menu .side-menu-title {
  color: #FFFFFF;
}
.theme-side-madison-caribbean .side-menu .jspDrag {
  border-color: #2D3E4D;
  background-color: #263543;
}
.theme-side-madison-caribbean .side-menu .side-menu-list .lbl {
  color: #FFFFFF;
}
.theme-side-madison-caribbean .side-menu .side-menu-list a:hover,
.theme-side-madison-caribbean .side-menu .side-menu-list > li > span:hover {
  background-color: #263543;
}
.theme-side-madison-caribbean .side-menu .side-menu-list a:hover .font-icon.active:after,
.theme-side-madison-caribbean .side-menu .side-menu-list > li > span:hover .font-icon.active:after,
.theme-side-madison-caribbean .side-menu .side-menu-list a:hover .glyphicon.active:after,
.theme-side-madison-caribbean .side-menu .side-menu-list > li > span:hover .glyphicon.active:after,
.theme-side-madison-caribbean .side-menu .side-menu-list a:hover .fa.active:after,
.theme-side-madison-caribbean .side-menu .side-menu-list > li > span:hover .fa.active:after {
  border-color: #263543 !important;
}
.theme-side-madison-caribbean .side-menu .side-menu-list > li.with-sub > span:before {
  border-top-color: #9BA1A4;
}
.theme-side-madison-caribbean .side-menu .side-menu-list > li.opened {
  background-color: #263543;
}
.theme-side-madison-caribbean .side-menu .side-menu-list > li.opened > span:before {
  border-top-color: #9BA1A4;
}
.theme-side-madison-caribbean .side-menu .side-menu-list > li.opened > span .lbl {
  color: #FFFFFF;
}
.theme-side-madison-caribbean .side-menu .side-menu-list > li.opened .font-icon.active:after,
.theme-side-madison-caribbean .side-menu .side-menu-list > li.opened .glyphicon.active:after,
.theme-side-madison-caribbean .side-menu .side-menu-list > li.opened .fa.active:after {
  border-color: #263543;
}
.theme-side-madison-caribbean .side-menu .side-menu-list > li.opened a,
.theme-side-madison-caribbean .side-menu .side-menu-list > li.opened > span {
  border-left-color: transparent;
}
.theme-side-madison-caribbean .side-menu .side-menu-list > li.opened.with-sub a,
.theme-side-madison-caribbean .side-menu .side-menu-list > li.opened.with-sub > span {
  border-left-color: transparent;
}
.theme-side-madison-caribbean .side-menu .side-menu-list > li.opened.with-sub a:hover,
.theme-side-madison-caribbean .side-menu .side-menu-list > li.opened.with-sub > span:hover {
  background-color: #1f2b36 !important;
}
.theme-side-madison-caribbean .side-menu .side-menu-list > li.opened.with-sub a:hover .font-icon.active:after,
.theme-side-madison-caribbean .side-menu .side-menu-list > li.opened.with-sub > span:hover .font-icon.active:after,
.theme-side-madison-caribbean .side-menu .side-menu-list > li.opened.with-sub a:hover .glyphicon.active:after,
.theme-side-madison-caribbean .side-menu .side-menu-list > li.opened.with-sub > span:hover .glyphicon.active:after,
.theme-side-madison-caribbean .side-menu .side-menu-list > li.opened.with-sub a:hover .fa.active:after,
.theme-side-madison-caribbean .side-menu .side-menu-list > li.opened.with-sub > span:hover .fa.active:after {
  border-color: #1f2b36 !important;
}
.theme-side-madison-caribbean .side-menu .side-menu-list .font-icon,
.theme-side-madison-caribbean .side-menu .side-menu-list .glyphicon,
.theme-side-madison-caribbean .side-menu .side-menu-list .fa {
  color: #00c3aa;
  transition: all 0.2s ease-in-out;
}
.theme-side-madison-caribbean .side-menu .side-menu-list .font-icon.active:after,
.theme-side-madison-caribbean .side-menu .side-menu-list .glyphicon.active:after,
.theme-side-madison-caribbean .side-menu .side-menu-list .fa.active:after {
  border-color: #263543;
}
/* ==========================================================================
   STYLE: Theme Side Caesium Dark & Caribbean
   ========================================================================== */
.theme-side-caesium-dark-caribbean .side-menu {
  background: #2a2b3b;
  border-right-color: transparent;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-title {
  color: #ACADB4;
}
.theme-side-caesium-dark-caribbean .side-menu .jspDrag {
  border-color: #2a2b3b;
  background-color: #1f202c;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list .lbl {
  color: #ACADB4;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list a:hover,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li > span:hover {
  background-color: #00c3aa;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list a:hover .font-icon,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li > span:hover .font-icon,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list a:hover .glyphicon,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li > span:hover .glyphicon,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list a:hover .fa,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li > span:hover .fa {
  color: #FFFFFF;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list a:hover .font-icon.active:after,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li > span:hover .font-icon.active:after,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list a:hover .glyphicon.active:after,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li > span:hover .glyphicon.active:after,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list a:hover .fa.active:after,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li > span:hover .fa.active:after {
  border-color: #00c3aa !important;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list a:hover .lbl,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li > span:hover .lbl {
  color: #FFFFFF;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.with-sub > span:before {
  border-top-color: #919299;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.with-sub > span:hover:before {
  border-top-color: #FFFFFF;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened {
  background-color: #00c3aa;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened > span:before {
  border-top-color: #919299;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened .font-icon,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened .glyphicon,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened .fa {
  color: #FFFFFF;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened .font-icon.active:after,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened .glyphicon.active:after,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened .fa.active:after {
  border-color: #22222f;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened a,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened > span {
  border-left-color: transparent;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened a .lbl,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened > span .lbl {
  color: #FFFFFF;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened.with-sub {
  background-color: #22222f;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened.with-sub a,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened.with-sub > span {
  border-left-color: transparent;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened.with-sub a:hover,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened.with-sub > span:hover {
  background-color: #00c3aa !important;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened.with-sub a:hover .font-icon.active:after,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened.with-sub > span:hover .font-icon.active:after,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened.with-sub a:hover .glyphicon.active:after,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened.with-sub > span:hover .glyphicon.active:after,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened.with-sub a:hover .fa.active:after,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened.with-sub > span:hover .fa.active:after {
  border-color: #00c3aa !important;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened.with-sub a:hover .lbl,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list > li.opened.with-sub > span:hover .lbl {
  color: #FFFFFF;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list .font-icon,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list .glyphicon,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list .fa {
  color: #E3E3E5;
  transition: all 0.2s ease-in-out;
}
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list .font-icon.active:after,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list .glyphicon.active:after,
.theme-side-caesium-dark-caribbean .side-menu .side-menu-list .fa.active:after {
  border-color: #2a2b3b;
}
/* ==========================================================================
   STYLE: Theme Side Tin
   ========================================================================== */
.theme-side-tin .side-menu {
  background: #424242;
  border-right-color: transparent;
}
.theme-side-tin .side-menu .side-menu-title {
  color: #B4B5BB;
}
.theme-side-tin .side-menu .jspDrag {
  border-color: #424242;
  background-color: #333333;
}
.theme-side-tin .side-menu .side-menu-list .lbl {
  color: #B4B5BB;
}
.theme-side-tin .side-menu .side-menu-list a:hover,
.theme-side-tin .side-menu .side-menu-list > li > span:hover {
  background-color: #383838;
}
.theme-side-tin .side-menu .side-menu-list a:hover .font-icon.active:after,
.theme-side-tin .side-menu .side-menu-list > li > span:hover .font-icon.active:after,
.theme-side-tin .side-menu .side-menu-list a:hover .glyphicon.active:after,
.theme-side-tin .side-menu .side-menu-list > li > span:hover .glyphicon.active:after,
.theme-side-tin .side-menu .side-menu-list a:hover .fa.active:after,
.theme-side-tin .side-menu .side-menu-list > li > span:hover .fa.active:after {
  border-color: #383838 !important;
}
.theme-side-tin .side-menu .side-menu-list > li.with-sub > span:before {
  border-top-color: #9C9C9C;
}
.theme-side-tin .side-menu .side-menu-list > li.opened {
  background-color: #383838;
}
.theme-side-tin .side-menu .side-menu-list > li.opened .font-icon.active:after,
.theme-side-tin .side-menu .side-menu-list > li.opened .glyphicon.active:after,
.theme-side-tin .side-menu .side-menu-list > li.opened .fa.active:after {
  border-color: #383838;
}
.theme-side-tin .side-menu .side-menu-list > li.opened a,
.theme-side-tin .side-menu .side-menu-list > li.opened > span {
  border-left-color: transparent;
}
.theme-side-tin .side-menu .side-menu-list > li.opened.with-sub a,
.theme-side-tin .side-menu .side-menu-list > li.opened.with-sub > span {
  border-left-color: transparent;
}
.theme-side-tin .side-menu .side-menu-list > li.opened.with-sub a:hover,
.theme-side-tin .side-menu .side-menu-list > li.opened.with-sub > span:hover {
  background-color: #2e2e2e !important;
}
.theme-side-tin .side-menu .side-menu-list > li.opened.with-sub a:hover .font-icon.active:after,
.theme-side-tin .side-menu .side-menu-list > li.opened.with-sub > span:hover .font-icon.active:after,
.theme-side-tin .side-menu .side-menu-list > li.opened.with-sub a:hover .glyphicon.active:after,
.theme-side-tin .side-menu .side-menu-list > li.opened.with-sub > span:hover .glyphicon.active:after,
.theme-side-tin .side-menu .side-menu-list > li.opened.with-sub a:hover .fa.active:after,
.theme-side-tin .side-menu .side-menu-list > li.opened.with-sub > span:hover .fa.active:after {
  border-color: #2e2e2e !important;
}
.theme-side-tin .side-menu .side-menu-list .font-icon,
.theme-side-tin .side-menu .side-menu-list .glyphicon,
.theme-side-tin .side-menu .side-menu-list .fa {
  color: #E6E6E6;
  transition: all 0.2s ease-in-out;
}
.theme-side-tin .side-menu .side-menu-list .font-icon.active:after,
.theme-side-tin .side-menu .side-menu-list .glyphicon.active:after,
.theme-side-tin .side-menu .side-menu-list .fa.active:after {
  border-color: #424242;
}
/* ==========================================================================
   STYLE: Theme Side Litmus & Blue
   ========================================================================== */
.theme-side-litmus-blue .side-menu {
  background: #2c313e;
  border-right-color: transparent;
}
.theme-side-litmus-blue .side-menu .side-menu-title {
  color: #FFFFFF;
}
.theme-side-litmus-blue .side-menu .jspDrag {
  border-color: #2c313e;
  background-color: #242732;
}
.theme-side-litmus-blue .side-menu .side-menu-list .lbl {
  color: #FFFFFF;
}
.theme-side-litmus-blue .side-menu .side-menu-list a:hover,
.theme-side-litmus-blue .side-menu .side-menu-list > li > span:hover {
  background-color: #00a8ff;
}
.theme-side-litmus-blue .side-menu .side-menu-list a:hover .font-icon.active:after,
.theme-side-litmus-blue .side-menu .side-menu-list > li > span:hover .font-icon.active:after,
.theme-side-litmus-blue .side-menu .side-menu-list a:hover .glyphicon.active:after,
.theme-side-litmus-blue .side-menu .side-menu-list > li > span:hover .glyphicon.active:after,
.theme-side-litmus-blue .side-menu .side-menu-list a:hover .fa.active:after,
.theme-side-litmus-blue .side-menu .side-menu-list > li > span:hover .fa.active:after {
  border-color: #00a8ff !important;
}
.theme-side-litmus-blue .side-menu .side-menu-list > li.with-sub > span:before {
  border-top-color: #9C9C9C;
}
.theme-side-litmus-blue .side-menu .side-menu-list > li.with-sub > span:hover:before {
  border-top-color: #FFFFFF;
}
.theme-side-litmus-blue .side-menu .side-menu-list > li.opened {
  background: #00a8ff;
}
.theme-side-litmus-blue .side-menu .side-menu-list > li.opened .font-icon.active:after,
.theme-side-litmus-blue .side-menu .side-menu-list > li.opened .glyphicon.active:after,
.theme-side-litmus-blue .side-menu .side-menu-list > li.opened .fa.active:after {
  border-color: #282c38;
}
.theme-side-litmus-blue .side-menu .side-menu-list > li.opened a,
.theme-side-litmus-blue .side-menu .side-menu-list > li.opened > span {
  border-left-color: transparent;
}
.theme-side-litmus-blue .side-menu .side-menu-list > li.opened.with-sub {
  background-color: #282c38;
}
.theme-side-litmus-blue .side-menu .side-menu-list > li.opened.with-sub a,
.theme-side-litmus-blue .side-menu .side-menu-list > li.opened.with-sub > span {
  border-left-color: transparent;
}
.theme-side-litmus-blue .side-menu .side-menu-list > li.opened.with-sub a:hover,
.theme-side-litmus-blue .side-menu .side-menu-list > li.opened.with-sub > span:hover {
  background-color: #00a8ff !important;
}
.theme-side-litmus-blue .side-menu .side-menu-list > li.opened.with-sub a:hover .font-icon.active:after,
.theme-side-litmus-blue .side-menu .side-menu-list > li.opened.with-sub > span:hover .font-icon.active:after,
.theme-side-litmus-blue .side-menu .side-menu-list > li.opened.with-sub a:hover .glyphicon.active:after,
.theme-side-litmus-blue .side-menu .side-menu-list > li.opened.with-sub > span:hover .glyphicon.active:after,
.theme-side-litmus-blue .side-menu .side-menu-list > li.opened.with-sub a:hover .fa.active:after,
.theme-side-litmus-blue .side-menu .side-menu-list > li.opened.with-sub > span:hover .fa.active:after {
  border-color: #00a8ff !important;
}
.theme-side-litmus-blue .side-menu .side-menu-list .font-icon,
.theme-side-litmus-blue .side-menu .side-menu-list .glyphicon,
.theme-side-litmus-blue .side-menu .side-menu-list .fa {
  color: #FFFFFF;
  transition: all 0.2s ease-in-out;
}
.theme-side-litmus-blue .side-menu .side-menu-list .font-icon.active:after,
.theme-side-litmus-blue .side-menu .side-menu-list .glyphicon.active:after,
.theme-side-litmus-blue .side-menu .side-menu-list .fa.active:after {
  border-color: #2c313e;
}
/* ==========================================================================
   STYLE: Theme Rebecca Purple
   ========================================================================== */
.theme-rebecca-purple .side-menu .side-menu-list .lbl {
  color: #838383;
}
.theme-rebecca-purple .side-menu .side-menu-list a:hover,
.theme-rebecca-purple .side-menu .side-menu-list > li > span:hover {
  background-color: #F4F4F4;
}
.theme-rebecca-purple .side-menu .side-menu-list a:hover .font-icon.active:after,
.theme-rebecca-purple .side-menu .side-menu-list > li > span:hover .font-icon.active:after,
.theme-rebecca-purple .side-menu .side-menu-list a:hover .glyphicon.active:after,
.theme-rebecca-purple .side-menu .side-menu-list > li > span:hover .glyphicon.active:after,
.theme-rebecca-purple .side-menu .side-menu-list a:hover .fa.active:after,
.theme-rebecca-purple .side-menu .side-menu-list > li > span:hover .fa.active:after {
  border-color: #F4F4F4 !important;
}
.theme-rebecca-purple .side-menu .side-menu-list > li.with-sub > span:before {
  border-top-color: #BBBBBB;
}
.theme-rebecca-purple .side-menu .side-menu-list > li.with-sub > span:hover:before {
  border-top-color: #999999;
}
.theme-rebecca-purple .side-menu .side-menu-list > li.opened {
  background: #F4F4F4;
}
.theme-rebecca-purple .side-menu .side-menu-list > li.opened .font-icon.active:after,
.theme-rebecca-purple .side-menu .side-menu-list > li.opened .glyphicon.active:after,
.theme-rebecca-purple .side-menu .side-menu-list > li.opened .fa.active:after {
  border-color: #F4F4F4;
}
.theme-rebecca-purple .side-menu .side-menu-list > li.opened a,
.theme-rebecca-purple .side-menu .side-menu-list > li.opened > span {
  border-left-color: transparent;
}
.theme-rebecca-purple .side-menu .side-menu-list > li.opened.with-sub {
  background-color: #F4F4F4;
}
.theme-rebecca-purple .side-menu .side-menu-list > li.opened.with-sub a,
.theme-rebecca-purple .side-menu .side-menu-list > li.opened.with-sub > span {
  border-left-color: transparent;
}
.theme-rebecca-purple .side-menu .side-menu-list > li.opened.with-sub a:hover,
.theme-rebecca-purple .side-menu .side-menu-list > li.opened.with-sub > span:hover {
  background-color: #CBCDD0 !important;
}
.theme-rebecca-purple .side-menu .side-menu-list > li.opened.with-sub a:hover .font-icon,
.theme-rebecca-purple .side-menu .side-menu-list > li.opened.with-sub > span:hover .font-icon,
.theme-rebecca-purple .side-menu .side-menu-list > li.opened.with-sub a:hover .glyphicon,
.theme-rebecca-purple .side-menu .side-menu-list > li.opened.with-sub > span:hover .glyphicon,
.theme-rebecca-purple .side-menu .side-menu-list > li.opened.with-sub a:hover .fa,
.theme-rebecca-purple .side-menu .side-menu-list > li.opened.with-sub > span:hover .fa {
  color: #454545;
}
.theme-rebecca-purple .side-menu .side-menu-list > li.opened.with-sub a:hover .font-icon.active:after,
.theme-rebecca-purple .side-menu .side-menu-list > li.opened.with-sub > span:hover .font-icon.active:after,
.theme-rebecca-purple .side-menu .side-menu-list > li.opened.with-sub a:hover .glyphicon.active:after,
.theme-rebecca-purple .side-menu .side-menu-list > li.opened.with-sub > span:hover .glyphicon.active:after,
.theme-rebecca-purple .side-menu .side-menu-list > li.opened.with-sub a:hover .fa.active:after,
.theme-rebecca-purple .side-menu .side-menu-list > li.opened.with-sub > span:hover .fa.active:after {
  border-color: #CBCDD0 !important;
}
.theme-rebecca-purple .side-menu .side-menu-list > li.opened.with-sub a:hover .lbl,
.theme-rebecca-purple .side-menu .side-menu-list > li.opened.with-sub > span:hover .lbl {
  color: #454545;
}
.theme-rebecca-purple .side-menu .side-menu-list .font-icon,
.theme-rebecca-purple .side-menu .side-menu-list .glyphicon,
.theme-rebecca-purple .side-menu .side-menu-list .fa {
  color: #838383;
  transition: all 0.2s ease-in-out;
}
/* ==========================================================================
   STYLE: Theme Picton Blue
   ========================================================================== */
.theme-picton-blue .side-menu .side-menu-list a:hover,
.theme-picton-blue .side-menu .side-menu-list > li > span:hover {
  background-color: #EFF6FC;
}
.theme-picton-blue .side-menu .side-menu-list a:hover .font-icon.active:after,
.theme-picton-blue .side-menu .side-menu-list > li > span:hover .font-icon.active:after,
.theme-picton-blue .side-menu .side-menu-list a:hover .glyphicon.active:after,
.theme-picton-blue .side-menu .side-menu-list > li > span:hover .glyphicon.active:after,
.theme-picton-blue .side-menu .side-menu-list a:hover .fa.active:after,
.theme-picton-blue .side-menu .side-menu-list > li > span:hover .fa.active:after {
  border-color: #EFF6FC !important;
}
.theme-picton-blue .side-menu .side-menu-list > li.with-sub > span:before {
  border-top-color: #5fa7e7;
}
.theme-picton-blue .side-menu .side-menu-list > li.opened {
  background: #EFF6FC;
}
.theme-picton-blue .side-menu .side-menu-list > li.opened .font-icon.active:after,
.theme-picton-blue .side-menu .side-menu-list > li.opened .glyphicon.active:after,
.theme-picton-blue .side-menu .side-menu-list > li.opened .fa.active:after {
  border-color: #EFF6FC;
}
.theme-picton-blue .side-menu .side-menu-list > li.opened a,
.theme-picton-blue .side-menu .side-menu-list > li.opened > span {
  border-left-color: transparent;
}
.theme-picton-blue .side-menu .side-menu-list > li.opened.with-sub a,
.theme-picton-blue .side-menu .side-menu-list > li.opened.with-sub > span {
  border-left-color: transparent;
}
.theme-picton-blue .side-menu .side-menu-list > li.opened.with-sub a .lbl,
.theme-picton-blue .side-menu .side-menu-list > li.opened.with-sub > span .lbl {
  color: #818181;
}
.theme-picton-blue .side-menu .side-menu-list > li.opened.with-sub a:hover,
.theme-picton-blue .side-menu .side-menu-list > li.opened.with-sub > span:hover {
  background-color: #D1E5F8 !important;
}
.theme-picton-blue .side-menu .side-menu-list > li.opened.with-sub a:hover .lbl,
.theme-picton-blue .side-menu .side-menu-list > li.opened.with-sub > span:hover .lbl {
  color: #454545;
}
.theme-picton-blue .side-menu .side-menu-list .font-icon,
.theme-picton-blue .side-menu .side-menu-list .glyphicon,
.theme-picton-blue .side-menu .side-menu-list .fa {
  color: #5fa7e7;
  transition: all 0.2s ease-in-out;
}
/* ==========================================================================
   STYLE: Theme Picton Blue & White & Ebony
   ========================================================================== */
.theme-picton-blue-white-ebony .side-menu {
  background: #263238;
  border-right-color: transparent;
}
.theme-picton-blue-white-ebony .side-menu .jspDrag {
  border-color: #263238;
  background-color: #374248;
}
.theme-picton-blue-white-ebony .side-menu .side-menu-list .lbl {
  color: #929FA6;
}
.theme-picton-blue-white-ebony .side-menu .side-menu-list a:hover,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li > span:hover {
  background-color: #374248;
}
.theme-picton-blue-white-ebony .side-menu .side-menu-list a:hover .lbl,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li > span:hover .lbl {
  color: #FFFFFF;
}
.theme-picton-blue-white-ebony .side-menu .side-menu-list a:hover .font-icon,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li > span:hover .font-icon,
.theme-picton-blue-white-ebony .side-menu .side-menu-list a:hover .glyphicon,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li > span:hover .glyphicon,
.theme-picton-blue-white-ebony .side-menu .side-menu-list a:hover .fa,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li > span:hover .fa {
  color: #FFFFFF;
}
.theme-picton-blue-white-ebony .side-menu .side-menu-list a:hover .font-icon.active:after,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li > span:hover .font-icon.active:after,
.theme-picton-blue-white-ebony .side-menu .side-menu-list a:hover .glyphicon.active:after,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li > span:hover .glyphicon.active:after,
.theme-picton-blue-white-ebony .side-menu .side-menu-list a:hover .fa.active:after,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li > span:hover .fa.active:after {
  border-color: #374248 !important;
}
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.with-sub > span:before {
  border-top-color: #9BA1A4;
}
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened {
  background-color: #374248;
}
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened .lbl {
  color: #FFFFFF;
}
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened > span:before {
  border-top-color: #9BA1A4;
}
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened .font-icon,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened .glyphicon,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened .fa {
  color: #FFFFFF;
}
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened .font-icon.active:after,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened .glyphicon.active:after,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened .fa.active:after,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened .tag-color.active:after {
  border-color: #374248;
}
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened a,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened > span {
  border-left-color: transparent;
}
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened.with-sub a,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened.with-sub > span {
  border-left-color: transparent;
}
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened.with-sub a:hover,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened.with-sub > span:hover {
  background-color: #2D383E !important;
}
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened.with-sub a:hover .font-icon.active:after,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened.with-sub > span:hover .font-icon.active:after,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened.with-sub a:hover .glyphicon.active:after,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened.with-sub > span:hover .glyphicon.active:after,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened.with-sub a:hover .fa.active:after,
.theme-picton-blue-white-ebony .side-menu .side-menu-list > li.opened.with-sub > span:hover .fa.active:after {
  border-color: #2D383E !important;
}
.theme-picton-blue-white-ebony .side-menu .side-menu-list .font-icon.active:after,
.theme-picton-blue-white-ebony .side-menu .side-menu-list .glyphicon.active:after,
.theme-picton-blue-white-ebony .side-menu .side-menu-list .fa.active:after,
.theme-picton-blue-white-ebony .side-menu .side-menu-list .tag-color.active:after {
  border-color: #263238;
}
.theme-picton-blue-white-ebony .side-menu .side-menu-list .font-icon,
.theme-picton-blue-white-ebony .side-menu .side-menu-list .glyphicon,
.theme-picton-blue-white-ebony .side-menu .side-menu-list .fa {
  color: #929FA6;
  transition: all 0.2s ease-in-out;
}
#show-hide-sidebar {
  position: relative;
  top: 10px;
}
body.sidebar-hidden .side-menu {
  display: none;
}
body.sidebar-hidden .page-content {
  padding-left: 20px;
}
@media screen and (max-width: 991px) {
  #show-hide-sidebar {
    display: none !important;
  }
}
