{% javascripts
'bundles/coresyscore/lib/responsive-bootstrap-toolkit/bootstrap-toolkit.min.js'
'bundles/coresyscore/lib/clickout/jquery.clickout.js'
'bundles/coresyscore/lib/jScrollPane/jquery.mousewheel.js'
'bundles/coresyscore/lib/jScrollPane/jquery.jscrollpane.js'
'bundles/coresyscore/js/modernizr.min.js'
'bundles/coresyscore/lib/bootstrap-notify/bootstrap-notify.min.js'
'bundles/coresyscore/lib/bootstrap-notify/bootstrap-notify-init.js'
'bundles/coresyscore/lib/bootstrap-select/js/bootstrap-select.min.js'
'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'
'https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'
'bundles/coresyscore/lib/summernote/dist/summernote.min.js'
'bundles/coresyscore/lib/bootstrap-sweetalert/sweetalert.min.js'
'bundles/coresyscore/lib/bootstrap-tabdrop/tabdrop.js'
output="js/startui_admin_core.js" %}
<script type="application/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}