{% javascripts
'bundles/coresyscore/js/coreSysTheme.js'
'bundles/coresyscore/theme/startui/js/app.js'
output="js/startui_admin_app.js" %}
<script type="application/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}