{% stylesheets
'bundles/coresyscore/lib/Bootstrap4/css/bootstrap.css'
'bundles/coresyscore/lib/fontAwesome/css/font-awesome.min.css'
'bundles/coresyscore/lib/jqueryui/jquery-ui.min.css'
'bundles/coresyscore/lib/summernote/dist/summernote.css'
'bundles/coresyscore/lib/bootstrap-sweetalert/sweetalert.css'
'bundles/coresyscore/lib/bootstrap-select/css/bootstrap-select.min.css'
'bundles/coresyscore/lib/bootstrap-tabdrop/tabdrop.css'
filter="cssrewrite"
output="css/startui_admin_global.min.css" %}
<link type="text/css" rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset( 'bundles/coresyscore/theme/startui/css/main.css') }}"/>