{% javascripts
'bundles/coresyscore/lib/jquery/jquery.min.js'
'bundles/coresyscore/lib/jqueryui/jquery-ui.js'
'bundles/coresyscore/lib/Tether/js/tether.min.js'
'bundles/coresyscore/lib/Bootstrap4/js/bootstrap.min.js'
output="js/startui_admin_global.js" %}
<script type="application/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}