<!DOCTYPE html>
<html>
<head lang="en">
    {% block head %}

    {% block head_meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block head_meta_title %}StartUI - Premium Bootstrap 4 Admin Dashboard Template{% endblock head_meta_title %}</title>
    {% endblock head_meta %}

    {% block head_favicons %}
    {#<link href="img/favicon.144x144.png" rel="apple-touch-icon" type="image/png" sizes="144x144">#}
    {#<link href="img/favicon.114x114.png" rel="apple-touch-icon" type="image/png" sizes="114x114">#}
    {#<link href="img/favicon.72x72.png" rel="apple-touch-icon" type="image/png" sizes="72x72">#}
    {#<link href="img/favicon.57x57.png" rel="apple-touch-icon" type="image/png">#}
    {#<link href="img/favicon.png" rel="icon" type="image/png">#}
    {#<link href="img/favicon.ico" rel="shortcut icon">#}
    {% endblock head_favicons %}

        {% block head_css_shims %}
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock head_css_shims %}

        {% include 'CoreSysCoreBundle:Theme:StartUI/Admin/headCss.html.twig' %}

        {% block head_css %}
        {% endblock head_css %}

        <script type="application/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="application/javascript"
                src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        {% include 'CoreSysCoreBundle:Theme:StartUI/Admin/headJs.html.twig' %}

        {% block head_js %}
        {% endblock head_js %}

    {% endblock head %}
</head>
<body class="{% block body_class %}with-side-menu{% endblock body_class %}" {% block body_tag %}{% endblock body_tag %}>
{% block body %}

{% block body_header %}
    <header class="site-header">
        <div class="container-fluid">
            {% block body_header_logo_container %}
                <a href="{{ url( 'admin_index' ) }}" class="site-logo">
                    {% block body_header_logo %}
                        {% spaceless %}
                            {{ cs_getLogo( cs_configSetting( 'site_name' ) ) }}
                        {% endspaceless %}
                    {% endblock body_header_logo %}
                </a>
            {% endblock body_header_logo_container %}
            <span id="show-hide-sidebar" class="checkbox-toggle">
	            <input type="checkbox" id="show-hide-sidebar-toggle" checked>
	            <label for="show-hide-sidebar-toggle"></label>
	        </span>

            <button class="hamburger hamburger--htla hamburger-side-menu">
                <span>toggle menu</span>
            </button>

            <div class="site-header-content">
                {% block body_header_content_container %}
                    <div class="site-header-content-in">
                        <div class="site-header-shown">

                            <div class="dropdown user-menu">
                                <button class="dropdown-toggle" id="dd-user-menu" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <img src="{{ cs_getUserImage( app.user, 40 ) }}" style="max-width:40px;max-height:40px"/>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-user-menu">
                                    <a class="dropdown-item" href="{{ url( 'admin_profile_user', {id: app.user.id | default('1')} ) }}">
                                        <i class="fa fa-user"></i>
                                        Profile
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ url( 'fos_user_security_logout' ) }}">
                                        <i class="fa fa-power-off"></i>
                                        Logout
                                    </a>
                                </div>
                            </div>

                        </div><!--.site-header-shown-->

                        <div class="mobile-menu-right-overlay"></div>
                        <div class="site-header-collapsed">
                            <div class="site-header-collapsed-in">
                                {% block body_header_content_search %}
                                {% endblock body_header_content_search %}
                            </div><!--.site-header-collapsed-in-->
                        </div><!--.site-header-collapsed-->
                    </div><!--site-header-content-in-->
                {% endblock body_header_content_container %}
            </div>
        </div><!--.container-fluid-->
    </header>
{% endblock body_header %}

    <div class="mobile-menu-left-overlay"></div>

{% block body_side_menu %}
    <nav class="side-menu">
        <ul class="side-menu-list menu-render">
            {{ cs_renderAdminMenu( null, {
                urlName: 'admin_index',
                label: 'Dashboard',
                icon: 'fa fa-dashboard'
            } ) }}
            {{ cs_adminThemeHelper( 'adminMenus', { menus: cs_getAdminMenus( true ) }) }}
        </ul>

        <section>
            <ul class="side-menu-list">
                <li>
                    <a href="{{ url( 'fos_user_security_logout' ) }}">
                        <i class="fa fa-power-off"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </section>
    </nav>
{% endblock body_side_menu %}

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-8">
                    {% block body_breadcrumbs %}
                        <nav class="breadcrumb">
                            <a class="breadcrumb-item" href="{{ url( 'admin_index' ) }}"><i class="fa fa-dashboard"></i> Dashboard</a>
                            {% block body_breadcrumbs_items %}
                            {% endblock body_breadcrumbs_items %}
                        </nav>
                    {% endblock body_breadcrumbs %}
                </div>
                <div class="col-xs-4 text-xs-right text-right" style="padding-top:.5rem;">
                    {% block body_title_actions %}
                    {% endblock body_title_actions %}
                </div>
            </div>

            {% block body_content %}
            {% endblock body_content %}
        </div>
    </div>

    {% block body_modals %}
    {% endblock body_modals %}

    {% include 'CoreSysCoreBundle:Theme:StartUI/Admin/bodyJs.html.twig' %}

    {% block body_js_core %}
    {% endblock body_js_core %}

    {% block body_js_plugins %}
    {% endblock body_js_plugins %}

    {% block body_js %}
    {% endblock body_js %}

{% block body_js_app %}
    {% include 'CoreSysCoreBundle:Theme:StartUI/Admin/coreJs.html.twig' %}
    {% if app.session.flashBag | length > 0 %}
    <script type="application/javascript">
        setTimeout( function () {
            {% for type,msgs in app.session.flashBag.all() %}
            {% for msg in msgs %}
            $.CoreSysTheme.showNotice( '{{ type }}', '{{ msg }}' );
            {% endfor %}
            {% endfor %}
        }, 250 );
    </script>
    {% endif %}
{% endblock body_js_app %}

{% endblock body %}
</body>
</html>