    {{ form_start( form ) }}
    {{ form_errors( form ) }}
<div class="form-group">
    <div class="input-group">
        {{ form_widget( form.path ) }}
        <span class="input-group-addon">
                {{ form_widget( form.active, { attr: {'data-size':'mini'} } ) }}
            </span>
    </div>
    <small>Access path to restrict access for</small>
</div>
    {{ form_row( form.ip ) }}
    {{ form_row( form.anonymous, {label: 'Allow Anonymous?', attr: {help: 'Allow Anonymous?' } } ) }}
    {{ form_row( form.methods ) }}

    <div class="row">
        <div class="col-xs-12 col-sm-6">{{ form_row( form.host ) }}</div>
        <div class="col-xs-12 col-sm-6">{{ form_row( form.channel ) }}</div>
    </div>

    {{ form_row( form.roles ) }}
<div style="display:none">
    {{ form_rest( form ) }}
    <button type="submit"></button>
</div>
{{ form_end( form ) }}