{% extends cs_extendAdmin() %}

{% set uploadifyOptions = {auto: false} %}

{% block body_breadcrumbs_items %}
    <span class="breadcrumb-item active">Configuration</span>
{% endblock body_breadcrumbs_items %}

{% block body_content %}
    {{ cs_openCard( 'default', 'Configuration' ) }}
    {% include 'CoreSysCoreBundle:ConfigurationRest:form.html.twig' %}
    {{ cs_closeCard() }}
{% endblock body_content %}

{% block head_css %}
    {{ parent() }}
    {% include 'CoreSysCoreBundle:Helpers:plugins/fancyBoxCss.html.twig' %}
    {% include 'CoreSysCoreBundle:Helpers:plugins/uploadifiveCss.html.twig' %}
{% endblock head_css %}

{% block head_js %}
    {{ parent() }}
    {% include 'CoreSysCoreBundle:Helpers:plugins/fancyBoxJs.html.twig' %}
    {% include 'CoreSysCoreBundle:Helpers:plugins/uploadifiveJs.html.twig' %}
{% endblock head_js %}