{% extends cs_extendAdmin() %}

{% block body_title %}Dashboard{% endblock body_title %}

{% block body_breadcrumbs %}
    <nav class="breadcrumb">
        <span class="breadcrumb-item active"><i class="fa fa-dashboard"></i> Dashboard</span>
    </nav>
{% endblock body_breadcrumbs %}

{% block body_content %}
    {% embed 'CoreSysCoreBundle:Helpers:card.html.twig' with {cardTitle: 'Some Title'} %}
        {% block card_block_content %}
        Card Content Here
            <input type="checkbox" id="test-cb" value="1" checked="checked" />
        {% endblock card_block_content %}
    {% endembed %}
{% endblock body_content %}

{% block body_js %}
    {{ parent() }}
{% endblock body_js %}