{% extends cs_extendAdmin() %}

{% block body_title %}
    Image Management
{% endblock body_title %}

{% block head_css %}
    {{ parent() }}
    {{ cs_datatableStyles() }}
{% endblock head_css %}

{% block body_title_actions %}
{% endblock body_title_actions %}

{% block body_content %}
    {{ cs_datatable_html( entity ) }}
{% endblock body_content %}

{% block body_js %}
    {{ parent() }}
    {{ cs_datatableJavascript() }}
    <script type="application/javascript">
        {{ cs_datatable_js( entity ) }}

        function loadFancybox() {
            $( 'a.fancybox' ).not( '[data-loaded]' ).fancybox();
            $( 'a.fancybox' ).each( function () { $( this ).attr( 'data-loaded', 1 ); } );
            setTimeout( loadFancybox, 1000 );
        }

        loadFancybox();
    </script>
{% endblock body_js %}