{% extends 'CoreSysCoreBundle:Helpers:datatablesView.html.twig' %}

{% block body_title %}
    Menus Management
{% endblock body_title %}

{% block head_css %}
    {{ parent() }}
    {{ cs_datatableStyles() }}
{% endblock head_css %}

{% block body_breadcrumbs_items %}
    <a class="breadcrumb-item" href="{{ url( 'admin_configuration' ) }}">Configuration</a>
    <span class="breadcrumb-item active">Menus</span>
{% endblock body_breadcrumbs_items %}

{% block body_content %}
    {{ cs_adminThemeHelper( 'tabs', {tabs:[
        {id: 'menu-list', text: 'Menu List'},
        {id: 'menu-reorder', text: 'Menu Reorder'}
        ]}) }}
    <div class="tab-content">
        <div class="tab-pane fade in active" id="menu-list" role="tabpanel">
            {{ parent() }}
        </div>
        <div class="tab-pane fade" id="menu-reorder" role="tabpanel">
            <div data-ng-controller="MenuReorderController">
                <div ng-nestable ng-model="menus">
                    {% verbatim %}{{ $item.display }}{% endverbatim %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_tag %}
    {{ parent() }}
    data-ng-app="CSApp"
{% endblock body_tag %}

{% block body_js %}
    {{ parent() }}
    {% include 'CoreSysCoreBundle:Helpers:Angular/coreJavascripts.html.twig' %}
    <script type="application/javascript"
            src="{{ asset( 'bundles/coresyscore/lib/nestable/jquery.nestable.js') }}"></script>
    <script type="application/javascript"
            src="{{ asset( 'bundles/coresyscore/lib/angular/angular-nestable.js') }}"></script>
    {{ cs_datatableJavascript() }}
    <script type="application/javascript">
        {{ cs_helperAngularModule('CSApp', 'CSApp', ['ngResource','ng-nestable']) }}
        function registerDatatableEvent() {
            if ( DTMenu === undefined || DTMenu === null ) {
                setTimeout( function () { registerDatatableEvent(); }, 500 );
                return;
            }

            setTimeout( function () {
                DTMenu.on( 'draw.dt', function () {
                    $( '.menu-render' ).load( Routing.generate( 'admin_menus_render' ), function () {
                        if ( typeof themeLoadSideMenu === 'function' ) {
                            themeLoadSideMenu();
                        }
                    } );
                } );
            }, 500 );
        }
        registerDatatableEvent();
        CSApp.controller( 'MenuReorderController', ['$scope', '$resource', function ( $scope, $resource ) {
            $scope.menus = [];

            $scope.fetchMenus = function () {
                var resource = $resource( Routing.generate( 'api_menu_get_menus_admin_root' ), {}, {
                    getAll: {
                        method:  'get',
                        isArray: true
                    }
                } );

                resource.getAll( {}, function ( res ) {
                    var menus = [];
                    if ( $.isArray( res ) ) {
                        function processMenu( m ) {
                            var item = {item: m, children: []};
                            if ( $.isArray( m.children ) && m.children.length > 0 ) {
                                $.each( m.children, function ( idx, child ) {
                                    item.children.push( processMenu( child ) );
                                } );
                            }
                            return item;
                        }

                        $.each( res, function ( idx, menu ) {
                            menus.push( processMenu( menu ) );
                        } );
                    }

                    while ( $scope.menus.length > 0 ) {
                        $scope.menus.splice( 0, 1 );
                    }

                    $.each( menus, function ( idx, menu ) {
                        $scope.menus.push( menu );
                    } );

                    $scope.timedApply();
                }, function ( err ) {
                    $.CoreSysTheme.error( 'Could not fetch menus' );
                } );
            };

            $scope.timedApply = function () {
                setTimeout( function () {
                    $scope.$apply();
                }, 100 );
            };

            $( 'body' ).on( 'reloaded-dt-table', function () {
                console.debug( 'Table redrawn' );
            } );

            $scope.fetchMenus();
            window.scope = $scope;
        }] );
    </script>
{% endblock body_js %}