{% set forcedRoute = 'admin_menus' %}
{{ cs_renderAdminMenu( null, {
    forcedRoute: forcedRoute,
    urlName: 'admin_index',
    label: 'Dashboard',
    icon: 'fa fa-dashboard'
} ) }}
{{ cs_adminThemeHelper( 'adminMenus', { forcedRoute: forcedRoute, menus: cs_getAdminMenus( true ) }) }}