{% extends cs_extendAdmin() %}

{% block body_title %}
    Role Management
{% endblock body_title %}

{% block head_css %}
    {{ parent() }}
    {{ cs_datatableStyles() }}
    <link type="text/css" rel="stylesheet"
          href="{{ asset( '/bundles/coresyscore/lib/Bootstrap4/plugins/colorpicker/bootstrap.colorpickersliders.min.css') }}"/>
{% endblock head_css %}

{% block body_content %}
    {{ cs_datatable_html( role ) }}
{% endblock body_content %}

{% block body_title_actions %}
{% endblock body_title_actions %}

{% block body_js %}
    {{ parent() }}
    {{ cs_datatableJavascript() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/tinycolor/0.11.1/tinycolor.min.js"></script>
    <script type="application/javascript"
            src="{{ asset( '/bundles/coresyscore/lib/Bootstrap4/plugins/colorpicker/bootstrap.colorpickersliders.min.js') }}"></script>
    <script type="application/javascript">
        {{ cs_datatable_js( role ) }}
    </script>
{% endblock body_js %}