{% extends cs_extendAdmin() %}

{% block head_meta_title %}
    {{ user.username }}
{% endblock head_meta_title %}

{% block body_title %}
    User {{ user.username }}
{% endblock body_title %}

{% block body_title_actions_items %}
    {% if user.enabled %}
        <a class="dropdown-item" href="#">
            <i class="fa fa-close text-danger"></i>
            Disable User
        </a>
    {% else %}
        <a class="dropdown-item" href="#">
            <i class="fa fa-check text-success"></i>
            Enable User
        </a>
    {% endif %}
    {% if user.locked %}
        <a class="dropdown-item" href="#">
            <i class="fa fa-unlock"></i>
            Unlock User
        </a>
    {% else %}
        <a class="dropdown-item" href="#">
            <i class="fa fa-lock"></i>
            Lock User
        </a>
    {% endif %}
    <a class="dropdown-item" href="#">
        <i class="fa fa-edit"></i>
        Edit User
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">
        <i class="fa fa-trash-o"></i>
        Delete User
    </a>
{% endblock body_title_actions_items %}

{% block head_css %}
    {{ parent() }}
    {% include 'CoreSysCoreBundle:Helpers:plugins/uploadifiveCss.html.twig' %}
{% endblock head_css %}

{% block body_content %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="card bg-white">
                <div class="card-header">
                    <h4 class="card-title">{{ user.username }}</h4>
                </div>
                <div class="card-block">
                    <div class="thumbnail text-xs-center">
                        {% set defaultImage =  app.request.getSchemeAndHttpHost() ~ asset( '/bundle/coresyscore/images/defaultUser.jpg' ) %}
                        {% if user.socialData %}
                            {% if user.socialData.facebookData %}
                                {% if user.socialdata.facebookData.picture %}
                                    {% if user.socialdata.facebookData.picture.data %}
                                        {% if user.socialdata.facebookData.picture.data %}
                                            {% if user.socialdata.facebookData.picture.data.url %}
                                                {% set defaultImage = user.socialdata.facebookData.picture.data.url %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if user.getGravatarUse() %}
                            <img src="{{ user.gravatarUrl }}?d={{ cs_urlEncode( defaultImage ) }}&s=150"/>
                        {% else %}
                            <img src="{{ defaultImage }}"/>
                        {% endif %}
                    </div>
                    <br>
                    <ul class="list-group">
                        <li class="list-group-item text-xs-center">{{ user.username }}</li>
                        {% if user.firstName or user.lastName %}
                            {% if user.firstName and user.lastName %}
                                <li class="list-group-item text-xs-center">{{ user.firstName ~ ' ' ~ user.lastName }}</li>
                            {% elseif user.firstName %}
                                <li class="list-group-item text-xs-center">{{ user.firstName }}</li>
                            {% else %}
                                <li class="list-group-item text-xs-center">{{ user.lastName }}</li>
                            {% endif %}
                        {% endif %}
                        <li class="list-group-item text-xs-center">{{ user.email }}</li>
                        <li class="list-group-item text-xs-center"><b>Last
                                Login: </b>{{ user.lastLogin.format( 'm/d/Y g:i a') }}</li>
                        <li class="list-group-item text-xs-center">
                            <b>Created: </b>{{ user.createdAt.format( 'm/d/Y g:i a') }}</li>
                        <li class="list-group-item text-xs-center">
                            <b>Updated: </b>{{ user.updatedAt.format( 'm/d/Y g:i a') }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="card bg-white">
                <div class="card-header">
                    <h4 class="card-title">{{ user.username }} Details</h4>
                </div>
                <div class="card-block">
                    <ul class="nav nav-tabs" role="tablist">
                        {% set active = 'active' %}
                        {% if user.hasSocialData( 'facebook' ) %}
                            <li class="nav-item">
                                <a class="nav-link {{ active }}" data-toggle="tab" href="#facebook_data">
                                    <i class="fa fa-facebook"></i> Facebook
                                </a>
                            </li>
                            {% set active = '' %}
                        {% endif %}
                        {% if user.hasSocialData( 'twitter' ) %}
                            <li class="nav-item">
                                <a class="nav-link {{ active }}" data-toggle="tab" href="#twitter_data">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                            </li>
                            {% set active = '' %}
                        {% endif %}
                        {% if user.hasSocialData( 'google' ) %}
                            <li class="nav-item">
                                <a class="nav-link {{ active }}" data-toggle="tab" href="#google_data">
                                    <i class="fa fa-google-plus"></i> Google
                                </a>
                            </li>
                            {% set active = '' %}
                        {% endif %}
                        {% if user.hasSocialData( 'instagram' ) %}
                            <li class="nav-item">
                                <a class="nav-link {{ active }}" data-toggle="tab" href="#instagram_data">
                                    <i class="fa fa-instagram"></i> Instagram
                                </a>
                            </li>
                            {% set active = '' %}
                        {% endif %}
                    </ul>

                    <div class="tab-content">
                        {% set active = 'active' %}
                        {% if user.hasSocialData( 'facebook') %}
                            <div class="tab-pane fade {{ active }}" id="facebook_data" role="tabpanel">
                                {% include 'CoreSysCoreBundle:Admin:User/socialFacebook.html.twig' %}
                            </div>
                            {% set active = '' %}
                        {% endif %}
                        {% if user.hasSocialData( 'twitter') %}
                            <div class="tab-pane fade {{ active }}" id="twitter_data" role="tabpanel">
                                {{ cs_dumpArrayCard( user.socialData.twitterData ) | raw }}
                            </div>
                            {% set active = '' %}
                        {% endif %}
                        {% if user.hasSocialData( 'google') %}
                            <div class="tab-pane fade {{ active }}" id="google_data" role="tabpanel">
                                <ul class="list-group">
                                    {% for k,v in user.socialData.googlePlusData %}
                                        <li class="list-group-item">
                                            <b>{{ k }}: </b>
                                            {% if cs_isArray( v ) %}
                                                <ul class="list-group-item">
                                                    {% for k2,v2 in v %}
                                                        <li class="list-group-item">
                                                            <b>{{ k2 }}: </b>
                                                            {% if cs_isArray( v ) %}
                                                                <ul clas="list-group">
                                                                    {% for k3,v3 in v2 %}
                                                                        <li class="list-group-item">
                                                                            <b>{{ k3 }}: </b>{{ v3 }}
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% else %}
                                                                {{ v }}
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                {{ v }}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% set active = '' %}
                        {% endif %}
                        {% if user.hasSocialData( 'instagram') %}
                            <div class="tab-pane {{ active }}" id="instagram_data" role="tabpanel">
                                <ul class="list-group">
                                    {% for k,v in user.socialData.instagramData %}
                                        <li class="list-group-item">
                                            <b>{{ k }}: </b>
                                            {% if cs_isArray( v ) %}
                                                <ul class="list-group-item">
                                                    {% for k2,v2 in v %}
                                                        <li class="list-group-item">
                                                            <b>{{ k2 }}: </b>
                                                            {% if cs_isArray( v ) %}
                                                                <ul clas="list-group">
                                                                    {% for k3,v3 in v2 %}
                                                                        <li class="list-group-item">
                                                                            <b>{{ k3 }}: </b>{{ v3 }}
                                                                        </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% else %}
                                                                {{ v }}
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                {{ v }}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% set active = '' %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% include 'CoreSysCoreBundle:Admin:User/socialAccounts.html.twig' %}
        </div>
    </div>
{% endblock body_content %}

{% block body_js %}
    {{ parent() }}
    {% include 'CoreSysCoreBundle:Helpers:plugins/uploadifiveJs.html.twig' %}
    <script type="application/javascript">
        var timeouts           = {},
            $socialAccountForm = $( 'form#social-account-form' ),
            user               = {{ user | serialize( 'json' ) | raw }};

        window.user = user;

        $( document ).ready( function () {
            $( 'a[data-toggle="tab"]' ).click( function ( e ) {
                e.preventDefault();
                $( this ).tab( 'show' );
            } );

            $socialAccountForm.submit( function ( e ) {
                e.preventDefault();
                submitSocialAccountForm();
            } );
        } );

        function submitSocialAccountForm() {
            var data = $.extend( {}, user );

            $socialAccountForm.find( '[data-ng-model]' ).each( function () {
                var $input              = $( this ),
                    key                 = $input.attr( 'data-ng-model' ).replace( 'user.socialAccount.', '' );
                data.socialAccount[key] = $input.val();
            } );

            if( data.socialAccount.id !== undefined && data.socialAccount.id !== null ) {
                var method = 'PUT',
                    url = Routing.generate( 'put_user_socialaccount', {entity: data.socialAccount.id} );
            } else {
                var method = 'POST',
                    url = Routing.generate( 'post_user_socialaccount' );
                data.socialAccount.user = data.id;
            }

            $.ajax( {
                url:         url,
                type:        method,
                contentType: 'application/json',
                data:        JSON.stringify( data.socialAccount ),
                success:     function ( res ) {
                    user.socialAccount      = res;
                    user.socialAccount.user = data.id;
                    if ( typeof user.socialAccount === 'object' ) {
                        $.each( user.socialAccount, function ( key, val ) {
                            var $el = $( 'span[data-for="' + key + '"]' );
                            if ( $el.length ) {
                                $el.html( val || 'N/A' );
                            }
                        } );
                    }
                }
            } );
        }
    </script>
{% endblock body_js %}