{% if hidden is not defined %}{% set hidden = false %}{% endif %}
{% if container_class is not defined %}{% set container_class = 'text-right text-xs-right' %}{% endif %}
{% if text is not defined %}{% set text = 'Submit' %}{% endif %}
<div class="{{ container_class }}" {% if hidden %}style="display:none"{% endif %}>
    <button type="submit" class="btn btn-primary">{{ text | raw }}</button>
</div>