{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ cs_getConfigSetting( 'site_description') }}">
    <meta name="author" content="{{ cs_getConfigSetting( 'site_author') }}">

    <!-- App title -->
    <title>{% block title %}Login - {{ cs_getConfigSetting( 'site_title' ) }}{% endblock title %}</title>

    {% block head_css %}
        {% stylesheets
        'bundles/coresyscore/lib/Bootstrap4/css/bootstrap.css'
        'bundles/coresyscore/lib/fontAwesome/css/font-awesome.min.css'
        'bundles/coresyscore/lib/Bootstrap4/plugins/bootstrap-switch/css/bootstrap-switch.min.css'
        filter="cssrewrite"
        output="css/coresys_security_core.min.css" %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <link type="text/css" rel="stylesheet"
              href="{{ asset( 'bundles/coresyscore/theme/coresys/css/security.css') }}"/>
    {% endblock head_css %}

    {% block head_js %}
    {% endblock head_js %}
</head>
<body>

<div class="security-wrapper"
     style="background-image:url({{ cs_randomImageUrl( '/bundles/coresyscore/images/backgrounds') }}">
    <div class="text-xs-center">
        <a href="/" class="logo">{{ cs_getConfigSetting( 'site_name' ) }}</a>
        <h5 class="text-muted m-t-0 font-600">{{ cs_getConfigSetting( 'site_slogan' ) }}</h5>
    </div>

    {% block content %}
    {% endblock content %}

    {% block content_links %}
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                {% if not cs_routeContains( 'security_login') %}
                    <p class="text-muted">Have an account? <a href="{{ url( 'fos_user_security_login' ) }}"
                                                              class="text-primary m-l-5"><b>Login</b></a></p>
                {% endif %}
                <p class="text-muted">Don't have an account? <a href="{{ url( 'fos_user_registration_register' ) }}"
                                                                class="text-primary m-l-5"><b>Sign Up Free</b></a></p>
            </div>
        </div>
    {% endblock content_links %}

</div>

{% javascripts
'bundles/coresyscore/lib/jquery/jquery.min.js'
'bundles/coresyscore/lib/Tether/js/tether.min.js'
'bundles/coresyscore/lib/Bootstrap4/js/bootstrap.min.js'
'bundles/coresyscore/lib/Bootstrap4/plugins/bootstrap-switch/js/bootstrap-switch.min.js'
'bundles/coresyscore/js/modernizr.min.js'
'bundles/coresyscore/theme/coresys/js/waves.js'
'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'
'https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js'
output="js/coresys_security_core.js" %}
<script type="application/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="application/javascript"
        src="{{ asset( '/bundles/coresyscore/theme/coresys/js/core.js') }}"></script>

</body>
</html>
