{% extends cs_extendSecurity() %}

{% block content %}
    <div clas="row">
        <div class="col-xs-12 col-sm-8 col-md-6 offset-sm-2 offset-md-3">
            <div class="well-muted">
                <div class="card" id="login">
                    <div class="text-xs-center">
                        <h4 class="text-uppercase title m-t-1 font-bold m-b-0">Sign In</h4>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-xs-12">
                                {% if error %}
                                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                {% include 'CoreSysCoreBundle:Security:loginForm.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}