<form class="form-horizontal m-t-20" action="{{ path("fos_user_security_check") }}"
      method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    <div class="form-group ">
        <input class="form-control" type="text" id="username" name="_username"
               value="{{ last_username }}" required="required"
               placeholder="Username or Email Address"/>
    </div>

    <div class="form-group">
        <input class="form-control" type="password" id="password" name="_password"
               required="required"
               placeholder="Password"/>
    </div>

    <div class="form-group text-xs-center">
        <button class="btn btn-block btn-success"
                type="submit">
            Log In
        </button>
    </div>
    {% if cs_getConfigSetting( 'socialLogin' ) %}
        <div class="row">
            {% if cs_getConfigSetting( 'facebookLogin' ) %}
                <div class="col-xs-6 m-t-1">
                    <a class="btn btn-block btn-social btn-facebook"
                       href="{{ url( 'login_facebook' ) }}"
                    >
                        <span class="fa fa-facebook"></span>
                        Sign in with Facebook
                    </a>
                </div>
            {% endif %}
            {% if cs_getConfigSetting( 'instagramLogin' ) %}
                <div class="col-xs-6 m-t-1">
                    <a class="btn btn-block btn-social btn-instagram"
                       href="{{ url( 'login_instagram' ) }}"
                    >
                        <span class="fa fa-instagram"></span>
                        Sign in with Instagram
                    </a>
                </div>
            {% endif %}
            {% if cs_getConfigSetting( 'googleLogin' ) %}
                <div class="col-xs-6 m-t-1">
                    <a class="btn btn-block btn-social btn-google"
                       href="{{ url( 'login_google' ) }}"
                    >
                        <span class="fa fa-google-plus"></span>
                        Sign in with Google +
                    </a>
                </div>
            {% endif %}
            {% if cs_getConfigSetting( 'twitterLogin' ) %}
                <div class="col-xs-6 m-t-1">
                    <a class="btn btn-block btn-social btn-twitter"
                       href="{{ url( 'login_twitter' ) }}"
                    >
                        <span class="fa fa-twitter"></span>
                        Sign in with Twitter
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="form-group m-t-2 m-b-0">
        <a href="{{ url( 'fos_user_resetting_request' ) }}" class="text-muted"><i
                    class="fa fa-lock m-r-5"></i> Forgot your password?</a>
    </div>
    <div style="display:none">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on"
               checked="checked"/>
    </div>
</form>