<?php

namespace {{ namespace }}\Controller{{ entity_namespace ? '\\' ~ entity_namespace : '' }};

{% block use_statements %}
use {{ namespace }}\Entity\{{ entity }};
use {{ namespace }}\Form\{{ entity }}Type;

use CoreSys\CoreBundle\Controller\BaseRestController;
use FOS\RestBundle\Controller\Annotations as Rest;
use FOS\RestBundle\Request\ParamFetcherInterface;
use FOS\RestBundle\Util\Codes;
use FOS\RestBundle\View\View as FOSView;
use Sensio\Bundle\FrameworkExtraBundle\Configuration\ParamConverter;
{% if 'annotation' == format -%}
use Sensio\Bundle\FrameworkExtraBundle\Configuration\Method;
use Sensio\Bundle\FrameworkExtraBundle\Configuration\Route;
use Sensio\Bundle\FrameworkExtraBundle\Configuration\Template;
{%- endif %}
use Symfony\Component\Form\Form;
use Symfony\Component\HttpFoundation\Request;
use Symfony\Component\HttpFoundation\Response;
use Nelmio\ApiDocBundle\Annotation\ApiDoc;
{% endblock use_statements %}

/**
{% block phpdoc_class_header %}
* {{ entity }} Controller
{% endblock phpdoc_class_header %}
* @Rest\RouteResource("{{ entity }}")
{% block phpdoc_class_annotations %}
{% if 'annotation' == format %}
* @Route("/{{ route_prefix }}", options={"expose"=true})
{% endif %}
* @Rest\NamePrefix("api_")
{% endblock phpdoc_class_annotations %}
*/
class {{ entity_class }}RestController extends BaseRestController
{
{% block class_body %}
    {%- include 'rest/actions/getDatatables.php.twig' %}

    {%- include 'rest/actions/postDatatables.php.twig' %}

    {%- include 'rest/actions/getById.php.twig' %}

    {%- include 'rest/actions/getAll.php.twig' %}

    {%- include 'rest/actions/post.php.twig' %}

    {%- include 'rest/actions/put.php.twig' %}

    {%- include 'rest/actions/patch.php.twig' %}

    {%- include 'rest/actions/delete.php.twig' %}

    {%- include 'rest/actions/new.php.twig' %}

    {%- include 'rest/actions/edit.php.twig' %}
{% endblock class_body %}
}