{% extends cs_extendSecurity() %}

{% trans_default_domain 'FOSUserBundle' %}

    {% block content %}
        <div class="m-t-40 card-box">
            <div class="text-xs-center">
                <h4 class="text-uppercase font-bold m-t-1 m-b-0">Password Reset Email Sent</h4>
            </div>
            <div class="card-block">
                <p>{{ 'resetting.password_already_requested'|trans }}</p>
            </div>
        </div>
    {% endblock content %}
