{% extends cs_extendSecurity() %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %}Forgot Password{% endblock title %}
{% block content %}
    <div class="m-t-40 card card-box">
        <div class="text-xs-center">
            <h4 class="text-uppercase font-bold m-t-1 m-b-0">Reset Password</h4>

            <p class="text-muted m-b-0 font-13 m-t-20">Enter your email address and we'll send you an email with
                instructions to reset your password. </p>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal m-t-20" action="{{ path('fos_user_resetting_send_email') }}"
                          method="post">
                        {% if invalid_username is defined %}
                            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                        {% endif %}
                        <div class="form-group">
                            <input type="text" id="username" name="username" required="required"
                                   class="form-control" placeholder="Enter Username or Email Address"/>
                        </div>

                        <div class="form-group text-xs-center m-t-20 m-b-0">
                            <button class="btn btn-custom btn-bordred btn-block waves-effect waves-light"
                                    type="submit">Send Email
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block content_links %}
    <div class="row">
        <div class="col-sm-12 text-xs-center">
            {% if not cs_routeContains( 'fos_user_security_login') %}
                <p class="text-muted">Have an account? <a href="{{ url( 'fos_user_security_login' ) }}"
                                                          class="text-primary m-l-5"><b>Login</b></a></p>
            {% endif %}
            <p class="text-muted">Don't have an account? <a href="javascript:void(0)" class="text-primary m-l-5"><b>Sign
                        Up Free</b></a></p>
        </div>
    </div>
{% endblock content_links %}