{% javascripts
'bundles/coresyscore/lib/jquery/jquery.easing.js'
'bundles/coresyscore/lib/jquery/jquery.back-to-top.js'
'bundles/coresyscore/lib/jquery/jquery.smooth-scroll.js'
'bundles/coresyscore/lib/jquery/jquery.wow.min.js'
'bundles/coresyscore/lib/swiper/js/swiper.jquery.min.js'
'bundles/coresyscore/lib/masonry/jquery.masonry.pkgd.min.js'
'bundles/coresyscore/lib/masonry/imagesloaded.pkgd.min.js'
'https://maps.googleapis.com/maps/api/js?key=AIzaSyBsXUGTFS09pLVdsYEE9YrO2y4IAncAO2U'
'bundles/coresyscore/theme/aitone/js/layout.min.js'
'bundles/coresyscore/theme/aitone/js/components/wow.min.js'
'bundles/coresyscore/theme/aitone/js/components/swiper.min.js'
'bundles/coresyscore/theme/aitone/js/components/masonry.min.js'
'bundles/coresyscore/theme/aitone/js/components/google-map.min.js'
output="js/aitone_core.js" %}
<script type="application/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}