{% stylesheets
    'http://fonts.googleapis.com/css?family=Hind:300,400,500,600,700'
    'bundles/coresyscore/lib/Bootstrap/dist/css/bootstrap.css'
    'bundles/coresyscore/lib/Bootstrap/dist/css/Bridge.css'
    'bundles/coresyscore/lib/Bootstrap4/plugins/bootstrap-switch/css/bootstrap-switch.min.css'
    'bundles/coresyscore/lib/fontAwesome/css/font-awesome.min.css'
    'bundles/coresyscore/lib/toastr/toastr.min.css'
    'bundles/coresyscore/lib/fancybox/jquery.fancybox.css'
    'bundles/coresyscore/theme/aitone/css/animate.css'
    'bundles/coresyscore/lib/swiper/css/swiper.css'
    'bundles/coresyscore/theme/aitone/css/layout.css'
filter="cssrewrite"
output="css/aitone_core.min.css" %}
<link type="text/css" rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}