    /**
{% block phpdoc_method_header %}
    * Get the form for a(n) {{ entity }} to edit
    *
    * @ApiDoc(
    *       resource=true,
    *       description="Get a the form for {{ entity }} to edit",
    *       statusCodes={
    *           200="Returned when successful",
    *           400="Returned when there is an error",
    *           404="Returned when {{ entity }} not found",
    *           500="Returned when there is an internal server error"
    *       }
    *   )
    *
    * @Rest\View(serializerEnableMaxDepthChecks=true)
    *
    * @return Response
{% endblock phpdoc_method_header %}
{% block phpdoc_method_annotations %}
    {% if 'annotation' == format %}
    {% endif %}
{% endblock phpdoc_method_annotations %}
    */
{% block method_definition %}
    public function editAction({{ entity }} $entity)
{% endblock method_definition %}
{
{% block method_body %}
    $form = $this->createForm({{ entity }}Type::class, $entity, array('method' => 'POST'));
    $view = FOSView::create( array( 'form' => $form->createView() ) );
    $view->setTemplate( "{{ templateNamespace }}:{{ entity_class }}Rest:edit.html.twig" )
    ->setTemplateVar( 'form' );

    return $this->handleView( $view );
{% endblock method_body %}
{% block method_return '' %}
}
{% block form '' %}