   /**
{% block phpdoc_method_header %}
    * Get a {{ entity }} entity
    *
    * @ApiDoc(
    *   resource=true,
    *   description="Get a single {{ entity }} entity",
    *   statusCodes={
    *       200="Returned when successful",
    *       404="Returned when {{ entity }} not found",
    *       500="Returned when there is a server error"
    *   },
    *   parameters={
    *       {"name"="entity", "required"=true, "dataType"="integer", "description"="The ID for {{ entity }}" }
    *   },
    *   output="{{ namespace }}/entity/{{ entity }}"
    * )
    *
    * @Rest\View(serializerEnableMaxDepthChecks=true)
    *
    * @return Response
{% endblock phpdoc_method_header %}
{% block phpdoc_method_annotations %}
    {% if 'annotation' == format %}
    {% endif %}
{% endblock phpdoc_method_annotations %}
    */
{% block method_definition %}
    public function getAction({{ entity }} $entity)
{% endblock method_definition %}
    {
{% block method_body %}
        return $entity;
{% endblock method_body %}
{% block method_return '' %}
    }
{% block form '' %}