/**
{% block phpdoc_method_header %}
    * Patch a(n) {{ entity }} entity
    *
    * @ApiDoc(
    *   resource=true,
    *   description="Update a(n) {{ entity }}",
    *   statusCodes={
    *       201="Returned when successful",
    *       400="Returned when there is an error",
    *       500="Returned where there is a server error"
    *   },
    *   input="{{ namespace }}/Form/{{ entity }}Type",
    *   output="{{ namespace }}/Entity/{{ entity }}"
    * )
    *
    * @Rest\View(serializerEnableMaxDepthChecks=true)
    *
    * @param Request $request
    * @param {{ entity }} $entity
    * @return Response
{% endblock phpdoc_method_header %}
{% block phpdoc_method_annotations %}
    {% if 'annotation' == format %}
    {% endif %}
{% endblock phpdoc_method_annotations %}
*/
{% block method_definition %}
    public function patchAction(Request $request, {{ entity }} $entity)
{% endblock method_definition %}
{
{% block method_body %}
    return $this->putAction( $request, $entity );
{% endblock method_body %}
{% block method_return '' %}
}
{% block form '' %}