    /**
{% block phpdoc_method_header %}
    * Datatables {{ entity }} entity
    *
    * @ApiDoc(
    *       resource=true,
    *       description="Return the datatables response for {{ entity }}",
    *       statusCodes={
    *           200="Returned when successful",
    *           400="Returned when there is an error",
    *           500="Returned when there is an internal server error"
    *       }
    * )
    *
    * @Rest\View(serializerEnableMaxDepthChecks=true)
    *
    * @param Request $request
    * @return Response
{% endblock phpdoc_method_header %}
{% block phpdoc_method_annotations %}
    {% if 'annotation' == format %}
    {% endif %}
{% endblock phpdoc_method_annotations %}
    */
{% block method_definition %}
    public function postDatatablesAction(Request $request)
{% endblock method_definition %}
{
{% block method_body %}
    $repo = $this->getRepo( '{{ templateNamespace }}:{{ entity }}' );
    return $this->processDatatables( $request, $repo );
{% endblock method_body %}
{% block method_return '' %}
}
{% block form '' %}