/**
{% block phpdoc_method_header %}
    * Create a new {{ entity }}
    *
    * @ApiDoc(
    *   resource=true,
    *   description="Create a new {{ entity }}",
    *   statusCodes={
    *       201="Returned when successful",
    *       400="Returned when there is an error",
    *       500="Returned where there is a server error"
    *   },
    *   input="{{ namespace }}/Form/{{ entity }}Type",
    *   output="{{ namespace }}/Entity/{{ entity }}"
    * )
    *
    * @Rest\View(statusCode=201, serializerEnableMaxDepthChecks=true)
    *
    * @param Request $request
    * @return Response
{% endblock phpdoc_method_header %}
{% block phpdoc_method_annotations %}
    {% if 'annotation' == format %}
    {% endif %}
{% endblock phpdoc_method_annotations %}
*/
{% block method_definition %}
    public function postAction(Request $request)
{% endblock method_definition %}
{
{% block method_body %}
    $entity = new {{ entity }}();
    $form = $this->createForm( {{ entity }}Type::class, $entity, array( 'method' => $request->getMethod()));
    $this->removeExtraFields( $request, $form );
    $form->handleRequest( $request );

    if( $form->isValid() ) {
        $entity = $form->getData();
        $this->persistAndFlush( $entity );

        return $entity;
    }
{% endblock method_body %}
{% block method_return %}
    return FOSView::create(array('errors' => $form->getErrors()), Codes::HTTP_INTERNAL_SERVER_ERROR);
{% endblock method_return %}
}
{% block form '' %}