/**
{% block phpdoc_method_header %}
    * Update a(n) {{ entity }} entity
    *
    * @ApiDoc(
    *   resource=true,
    *   description="Update a(n) {{ entity }}",
    *   statusCodes={
    *       201="Returned when successful",
    *       400="Returned when there is an error",
    *       500="Returned where there is a server error"
    *   },
    *   input="{{ namespace }}/Form/{{ entity }}Type",
    *   output="{{ namespace }}/Entity/{{ entity }}"
    * )
    *
    * @Rest\View(serializerEnableMaxDepthChecks=true)
    *
    * @param Request $request
    * @param $entity
    * @return Response
{% endblock phpdoc_method_header %}
{% block phpdoc_method_annotations %}
    {% if 'annotation' == format %}
    {% endif %}
{% endblock phpdoc_method_annotations %}
*/
{% block method_definition %}
    public function putAction(Request $request, {{ entity }} $entity)
{% endblock method_definition %}
{
{% block method_body %}
    try {
        $request->setMethod( 'PATCH' ); /* treat all puts as patch */
        $form = $this->createForm({{ entity }}Type::class, $entity, array( 'method' => $request->getMethod()));
        $this->removeExtraFields( $request, $form );
        $form->handleRequest( $request );
        if( $form->isValid() ) {
            $this->persistAndFlush( $entity );
            return $entity;
        }

        return FOSView::create(array('errors' => $form->getErrors()), Codes::HTTP_INTERNAL_SERVER_ERROR);
    } catch( \Exception $e ) {
        return FOSView::create($e->getMessage(), Codes::HTTP_INTERNAL_SERVER_ERROR);
    }
{% endblock method_body %}
{% block method_return '' %}
}
{% block form '' %}