{% if adminMenuId is not defined %}{% set adminMenuId = '0' %}{% endif %}
{% if menu is not defined %}{% set menu = {} %}{% endif %}

{% if menu.active %}
{{ cs_renderAdminMenu( menu, {
    urlName: null,
    url: 'javascript:void(0)',
    label: 'Configuration',
    icon: 'fa fa-cogs',
    children: [
    {
        urlName: 'admin_configuration',
        label: 'Site Configuration'
    },{
        urlName: 'admin_admin_menus',
        label: 'Admin Menus'
    },{
        urlName: 'admin_configuration_roles',
        label: 'User Roles'
    },{
        urlName: 'admin_configuration_access',
        label: 'User Access'
    },{
        urlName: 'admin_configuration_users',
        label: 'User Management'
    }
    ]
} )
}}
{% endif %}