{% if adminMenuId is not defined %}{% set adminMenuId = '0' %}{% endif %}
{% if menu is not defined %}{% set menu = {} %}{% endif %}

{% if menu.active %}
    {{ cs_renderAdminMenu( menu, {
        url: 'javascript:void(0)',
        urlName: null,
        label: 'Images',
        icon: 'fa fa-cogs',
        children: [
        {
            urlName: 'admin_media_image_sizes',
            label: 'Image Sizes'
        },{
            urlName: 'admin_media_images',
            label: 'Images'
        }
        ]
    } )
    }}
{% endif %}