{{ form_start( form ) }}
<div class="form-group">
    {{ form_label( form.name ) }}
    <div class="input-group">
        {{ form_widget( form.name ) }}
        <span class="input-group-addon">
            {{ form_widget( form.active ) }}
        </span>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">{{ form_row( form.maxWidth ) }}</div>
    <div class="col-xs-6">{{ form_row( form.maxHeight ) }}</div>
</div>

<div class="form-group">
    {{ form_label( form.cropLocation ) }}
    <div class="input-group">
        {{ form_widget( form.cropLocation ) }}
        <span class="input-group-addon">
            {{ form_widget( form.crop ) }}
        </span>
    </div>
</div>
{{ form_row( form.force, {attr:{help: 'Force Create?'} }) }}
{{ form_row( form.forceFormat ) }}
{{ form_row( form.fallback ) }}

<div style="display:none">
    {{ form_rest( form ) }}
</div>
<div style="display:none">
    <button type="submit"></button>
</div>

{{ form_end( form ) }}