{% set menu = menu is defined ? menu : null %}
{% if menu %}
    {% if menu.active %}
        {% set role = menu.role is defined ? menu.role : null %}
        {% set roleName = role ? role.roleName : 'ROLE_GUEST' %}
        {% if is_granted( roleName ) or roleName == 'ROLE_GUEST' %}
            <li class="{{ cs_routeContains( menu.routesList, false, forcedRoute ) ? ' active opened' : '' }}">
                {% if menu.internal %}
                    <a class="{{ cs_routeContains( menu.routesList, false, forcedRoute ) ? 'active' : '' }}" href="{{ url( menu.urlName ) }}">
                        <span class="lbl">{% if menu.icon %}<i class="{{ menu.icon }}"></i>{% endif %}{{ menu.display }}</span>
                    </a>
                {% else %}
                    <a href="{{ menu.url | default( 'javascript:void(0)' ) }}">
                        {% if menu.icon %}<i class="{{ menu.icon }}"></i>{% endif %}
                        <span class="lbl">{{ menu.display }}</span>
                    </a>
                {% endif %}
            </li>
        {% endif %}
    {% endif %}
{% endif %}