{% set menu = menu is defined ? menu : null %}
{% set forcedRoute = forcedRoute is defined ? forcedRoute : null %}
{% if menu %}
    {% if menu.active %}
        {% set role = menu.role is defined ? menu.role : null %}
        {% set roleName = role ? role.roleName : 'ROLE_GUEST' %}
        {% if is_granted( roleName ) or roleName == 'ROLE_GUEST' %}
            <li class="with-sub{{ cs_routeContains( menu.routesList, false, forcedRoute ) ? ' active opened' : '' }}">
                <span>
                    {% if menu.icon %}
                        <i class="{{ menu.icon }}"></i>
                    {% endif %}
                    <span class="lbl">{{ menu.display }}</span>
                </span>
                <ul>
                    {% if menu.children | length > 0 %}
                        {{ cs_adminThemeHelper( 'adminMenus', {forcedRoute: forcedRoute, menus: menu.children} ) }}
                    {% else %}
                        <li><span class="lbl">No Sub-Menus</span></li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
    {% endif %}
{% endif %}