{{ form_start( form, { name: 'menu-form' } ) }}

<div class="form-group">
    {{ form_label( form.display ) }}
    <div class="input-group">
        {{ form_widget( form.display ) }}
        <span class="input-group-addon">
            {{ form_widget( form.active ) }}
        </span>
    </div>
    <small>Menu Display Text | Active State</small>
</div>

{{ form_row( form.parent ) }}

<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        {{ form_row( form.type ) }}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="form-group">
            {{ form_label( form.icon ) }}
            <div class="input-group">
                {{ form_widget( form.icon ) }}
                <span class="input-group-addon icon-preview">
                    <i></i>
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 item-type">
        <label>&nbsp;</label>
        {{ form_row( form.internal ) }}
    </div>
</div>

<div class="row item-type">
    <div class="col-xs-12 internal-link">
        {{ form_row( form.urlName, { attr: {rel: 'selectpicker'} }  ) }}
    </div>
    <div class="col-xs-12 external-link">
        {{ form_row( form.url ) }}
    </div>
</div>

{{ form_row( form.role, { attr: {rel: 'selectpicker'} } ) }}

<div class="internal-link">
    {{ form_label( form.parameters ) }}
    <ul
            id="parameters-list"
            class="list-group row"
            data-prototype="{{ form_widget( form.parameters.vars.prototype ) | e }}"
    >
        {% for parameter in form.parameters %}
            <li class="list-group-item col-xs-6" data-index="{{ loop.index }}">
                {{ form_errors( parameter ) }}
                <div class="input-group">
                    {{ form_widget( parameter ) }}
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger" onclick="removeParameter({{ loop.index }})">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </span>
                </div>
            </li>
        {% endfor %}
        <li class="list-group-item col-xs-12" data-index="-1">
            <div class="text-right text-xs-right">
                <button type="button" class="btn btn-sm btn-primary add-parameter">
                    <i class="fa fa-plus-circle"></i>
                    Add Parameter
                </button>
            </div>
        </li>
    </ul>
</div>

<div style="display:none">
    {{ form_rest( form ) }}
    <button type="submit"></button>
</div>
{{ form_end( form ) }}
<script type="application/javascript">
    $( document ).ready( function () {
        var $form      = $( 'form[name="menu-form"]' ),
            $type      = $form.find( 'select[name="type"]' ),
            $internal  = $form.find( 'input[name="internal"]' ),
            $urlName   = $form.find( 'select[name="urlName"]' ),
            $url       = $form.find( 'input[name="url"]' ),
            $icon      = $form.find( 'input[name="icon"]' ),
            $addParam  = $form.find( 'button.add-parameter' ),
            $paramList = $form.find( 'ul#parameters-list' );

        var parametersCount = {{ form.parameters|length }};
        $addParam.click( function ( e ) {
            e.preventDefault();
            var $li              = $( '<li class="list-group-item col-xs-6" data-index="' + parametersCount + '" />' ),
                $formGroup       = $( '<div class="form-group" />' ),
                $inputGroup      = $( '<div class="input-group" />' ),
                $inputGroupAddon = $( '<span class="input-group-btn" />' ),
                $inputGroupBtn   = $( '<button class="btn btn-danger" type="button" onclick="removeParameter(' + parametersCount + ')"><i class="fa fa-trash-o"></i></button>' ),
                proto            = $paramList.attr( 'data-prototype' ),
                $proto;

            proto  = proto.replace( /__name__/g, parametersCount );
            $proto = $( proto );
            parametersCount++;

            $paramList.append(
                    $li.append(
                            $formGroup.append(
                                    $inputGroup.append(
                                            $proto
                                    ).append(
                                            $inputGroupAddon.append(
                                                    $inputGroupBtn
                                            )
                                    )
                            )
                    )
            );
            $li.find( 'input' ).attr( 'placeholder', 'var=val' );

            var $last = $paramList.find( 'li[data-index="-1"]' );
            $last.detach();
            $paramList.append( $last );
        } );

        $type.change( function ( e ) {
            e.preventDefault();
            if ( $( this ).val() === 'menu' ) {
                var $els = $( '.item-type ' ).find( 'select,input,textarea' );
                $els.each( function () {
                    if ( !$( this ).is( ':checkbox' ) ) {
                        var req = $( this ).prop( 'required' );
                        $( this ).attr( 'orig-required', req );
                        $( this ).prop( 'required', false );
                        console.debug( "Set ", $(this).attr('name'), false, $(this));
                    }
                } );
                $( '.item-type' ).hide();
            } else {
                var $els = $( '.item-type ' ).find( 'select,input,textarea' );
                $els.each( function () {
                    if ( !$( this ).is( ':checkbox' ) ) {
                        var orig = $( this ).attr( 'orig-required' );
                        orig     = orig || orig === 1 || orig === 'true';
                        $( this ).removeAttr( 'orig-required' );
                        $( this ).prop( 'required', orig );
                    }
                } );
                $( '.item-type' ).show();
            }

            $internal.change();
        } );

        $internal.change( function ( e ) {
            e.preventDefault();
            console.debug( 'Internal changed to: ', $( this ).prop( 'checked' ) ? 'checked' : 'unchecked' );
            if ( $( this ).prop( 'checked' ) ) {
                $( '.internal-link' ).show();
                $( '.external-link' ).hide();
                if( $type.val() !== 'menu' ) {
                    $urlName.prop( 'required', true );
                    $url.prop( 'required', false );
                }
            } else {
                $( '.internal-link' ).hide();
                $( '.external-link' ).show();
                if( $type.val() !== 'menu' ) {
                    $urlName.prop( 'required', false );
                    $url.prop( 'required', true );
                }
            }
        } );

        $icon.on( 'keyup', function ( e ) {
            e.preventDefault();
            updateIcon();
        } );

        function updateIcon() {
            var icon = $icon.val();
            $( '.icon-preview' ).find( 'i' ).attr( 'class', icon );
        }

        setTimeout( function () {
            $type.change();
            $internal.change();
            updateIcon();
        }, 250 );
    } );

    function removeParameter( index ) {
        $.CoreSysTheme.confirmDelete( 'Remove Parameter?', function ( res ) {
            if ( res ) {
                $( 'ul#parameters-list' ).find( 'li[data-index="' + index + '"]' ).remove();
            }
        } );
    }
</script>