{% extends cs_extendSecurity() %}

{% block content %}
    <div class="m-t-40 card card-box">
        <div class="text-xs-center">
            <h4 class="text-uppercase font-bold m-t-1 m-b-0">Register</h4>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-xs-12">
                    {{ cs_getUserRegisterForm( { action: url('fos_user_registration_register') } ) | raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
