form .form-group .input-group-addon {
  padding: .25rem .75rem;
}
form .form-group label {
  font-weight: 600;
}
form .form-group label.required:after {
  content: '*';
  font-size: .75rem;
  color: red;
  margin-left: .75rem;
}
