@import "core.css";
@import "components.css";
@import "icons.css";
@import "pages.css";
@import "menu.css";
@import "responsive.css";

h4 {
  line-height: 2rem
}

.project-box {
  h4 {
    display: inline
  }
}

.wrapper {
  margin-top: 3.5rem;
  padding-bottom: 3.5rem;

  @media (min-width: 991px) {
    margin-top: 7rem;
    padding-bottom: 7rem
  }
}

.mark {
  color: #FFFFFF;
  transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  background: 0;
  margin-right: -0.25rem;
  top: .25rem;

  &:before {
    top: .1rem;
    position: relative
  }
}

.has-submenu {
  > a {
    padding-right: 1.75rem !important;

    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 1rem;
      margin-top: 0;
      right: .3rem;
      top: 1.25rem;
      border: .4rem solid transparent;
      border-top-color: inherit
    }
  }
}

.submenu {
  li {
    > ul {
      list-style: none;

      > li {
        position: relative;

        &:hover {
          &:after {
            position: absolute;
            content: "";
            width: 0;
            height: .75rem;
            margin-top: 0;
            right: 0;
            top: .9rem;
            border: .4rem solid transparent;
            border-right-color: #FF9900
          }
        }
      }
    }
  }
}

form.form {
  margin-bottom: 1rem;

  .input-group-addon {
    padding-top: .3rem;
    padding-bottom: .3rem;

    label {
      margin: 0px auto;
    }

    .bootstrap-switch {
      min-width: 50px !important;
    }
  }
}

.alert {
  &.system-message {
    margin-bottom: 0px;
  }
}

.initialLoading {
  display: none;
}

.modal {
  z-index: 9999999999 !important;
}

.input-group-addon {
  .bootstrap-switch {
    margin-top: -11px;
    margin-bottom: -10px;
  }
}