{% for image in images %}
    <fieldset>
        <legend>{{ image.id }}: {{ image.filename }}</legend>
        <fieldset style="margin:10px;padding:10px">
            <legend>Original</legend>
            {{ cs_getImageElement( image ) }}
        </fieldset>
        {% for size in image.sizes %}
            <fieldset style="margin:10px;padding:10px">
                <legend>{{ size.name }}</legend>
                {{ cs_getImageElement( image, size ) }}
            </fieldset>
        {% endfor %}
    </fieldset>
{% endfor %}