function renderCheckboxColumn( data, type, row ) {
    var value    = !!data,
        $wrapper = $( '<div />' ),
        $content = $( '<div data-cb-id="{{ parameters.uuid }}" class="text-center text-xs-center"><i class="fa fa-' + ( value ? 'check text-success' : 'close text-danger' ) + '"></i></div>' ),
        ret = $wrapper.append( $content ).html();

    return ret;
}