function renderUrlColumn( data ) {
    if ( data === null || data === undefined || data === '' || data.length <= 0 ) {
        return '<span class="text-warning">-</span>';
    } else {
        return '<a class="label label-default" style="margin-right:5px" href="' + data + '" target="_blank">' + data + '</a>';
    }

    return data;
}