{{ form_start( form ) }}

{{ cs_adminThemeHelper( 'tabs', {tabs:[
    {id: 'user-general', text: 'User', icon: 'fa fa-user'},
    {id: 'user-security', text: 'Security', icon: 'fa fa-warning'},
    {id: 'user-media', text: 'Media', icon: 'fa fa-image'},
    ]}) }}

<div class="tab-content">
    <div class="tab-pane fade in active" id="user-general" role="tabpanel">
        <div class="form-group">
            {{ form_errors( form.username ) }}
            {{ form_label( form.username ) }}
            <div class="input-group">
                {{ form_widget( form.username ) }}
                <span class="input-group-addon">
                    {{ form_widget( form.enabled, {label: false} ) }}
                </span>
            </div>
            <small class="form-text text-muted">Desired Username | Enabled?</small>
        </div>
        {{ form_row( form.username ) }}

        <div class="row">
            <div class="col-xs-6">{{ form_row( form.firstName ) }}</div>
            <div class="col-xs-6">{{ form_row( form.lastName ) }}</div>
        </div>

        {{ form_row( form.email ) }}
    </div>
    <div class="tab-pane fade" id="user-security" role="tabpanel">
        {{ form_row( form.plainPassword ) }}
        {{ form_row( form.sys_roles ) }}
        <div class="row">
            <div class="col-xs-6 text-xs-center">{{ form_row( form.locked ) }}</div>
            <div class="col-xs-6 text-xs-center">{{ form_row( form.expired ) }}</div>
        </div>
    </div>
    <div class="tab-pane fade" id="user-media" role="tabpanel">
        <fieldset>
            <legend>Gravatar</legend>
            <div class="form-group">
                {{ form_errors( form.gravatar ) }}
                {{ form_label( form.gravatar ) }}
                <div class="input-group">
                    {{ form_widget( form.gravatar ) }}
                    <span class="input-group-addon">
                    {{ form_widget( form.gravatar_use, {label: false} ) }}
                </span>
                </div>
                <small class="form-text text-muted">Email address for Gravatar | Enabled?</small>
            </div>
        </fieldset>
        <fieldset>
            <legend>User Image</legend>
            {% include 'CoreSysCoreBundle:Helpers:fileUploadSingle.html.twig' with {previewSize: 'thumbnail', auto: false, showPreview: true, preview: form.vars.value.image} %}
        </fieldset>
    </div>
</div>

<div class="alert alert-danger mt-1 form-errors-container" style="display:none">
</div>

<div style="display:none">
    {{ form_rest( form ) }}
    <button type="submit"></button>
</div>
{{ form_end( form ) }}
<script type="application/javascript">
    {% include 'CoreSysCoreBundle:Helpers:fileUploadSingle.js.twig' with
    {options: {auto: false}, targetInput: 'select[name="image"]'} %}
    $( document ).ready( function () {
        var $form            = $( 'form[name=""]' ),
            $required        = $form.find( 'input[required], select[required], textarea[required]' ),
            $passwords       = $form.find( 'input[type="password"]' ),
            $submitButton    = $( 'button.modal-user-submit-btn' ),
            $errorsContainer = $( '.alert.form-errors-container' ),
            timeout, errors  = [];

        function validateForm() {
            if ( timeout ) {
                clearTimeout( timeout );
            }

            timeout = setTimeout( function () {
                $form.find( '.has-danger' ).removeClass( 'has-danger has-success' );
                errors          = [];
                var hasPassword = false;
                $passwords.each( function () {
                    if ( $( this ).val() !== null && $( this ).val() !== undefined && $( this ).val().length > 0 ) {
                        hasPassword = true;
                    }
                } );

                var $first  = $( 'input#plainPassword_first' ),
                    $second = $( 'input#plainPassword_second' );

                if ( hasPassword ) {
                    var first  = $first.val(),
                        second = $second.val();
                    if ( ( first !== null && first !== '' ) || ( second !== null && second !== '' ) ) {
                        if ( first.length < 6 || second.length < 6 ) {
                            errors.push( 'Passwords must be 6 or more characters in length' );
                            $first.closest( '.form-group' ).addClass( 'has-danger' );
                            $second.closest( '.form-group' ).addClass( 'has-danger' );
                        } else if ( first !== second ) {
                            errors.push( 'Passwords do not match' );
                            $first.closest( '.form-group' ).addClass( 'has-danger' );
                            $second.closest( '.form-group' ).addClass( 'has-danger' );
                        }
                    }
                } else {
                    $first.closest( '.form-group' ).addClass( 'has-success' );
                    $second.closest( '.form-group' ).addClass( 'has-success' );
                }

                var hasRequiredError = false;

                $required.each( function () {
                    var $input = $( this ),
                        value  = $input.val(),
                        valid  = false;

                    if ( $input.attr( 'type' ) === 'email' ) {
                        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                        valid  = re.test( value );
                    } else {
                        var minLength = $input.attr( 'min-length' ),
                            maxLength = $input.attr( 'max-length' );
                        if ( ( minLength !== null && minLength !== undefined ) || ( maxLength !== null && maxLength !== undefined ) ) {
                            if ( minLength !== null && minLength !== undefined && maxLength !== null && maxLength !== undefined ) {
                                minLength = parseInt( minLength );
                                maxLength = parseInt( maxLength );
                                valid     = value.length >= minLength && value.length <= maxLength;
                            } else if ( minLength !== null && minLength !== undefined ) {
                                minLength = parseInt( minLength );
                                valid     = value.length >= minLength;
                            } else {
                                maxLength = parseInt( maxLength );
                                valid     = value.length <= maxLength;
                            }
                        } else {
                            // no minimum or maximum lengths
                            valid = value !== null && value !== undefined && value != '' && value.length > 0;
                        }
                    }

                    if ( !valid ) {
                        hasRequiredError = true;
                        $input.closest( '.form-group' ).addClass( 'has-danger' );
                    } else {
                        $input.closest( '.form-group' ).removeClass( 'has-danger' ).addClass( 'has-success' );
                    }
                } );

                if ( hasRequiredError ) {
                    errors.push( 'There are required fields that need attention.' );
                }

                updateErrors();
            }, 500 );
        }

        function updateErrors() {
            $errorsContainer.html( '' );
            if ( errors.length === 0 ) {
                $errorsContainer.hide();
                $submitButton.prop( 'disabled', false );
            } else {
                $.each( errors, function ( idx, err ) {
                    $errorsContainer.append( $( '<div>' + err + '</div>' ) );
                } );
                $errorsContainer.show();
                $submitButton.prop( 'disabled', true );
            }
        }

        $form.find( 'input,select,textarea' ).on( 'change keyup', function ( e ) {
            validateForm();
        } );
        validateForm();
    } );
</script>