form {
  .form-group {
    .input-group-addon {
      padding: .25rem .75rem;
    }

    label {
      font-weight: 600;

      &.required {
        &:after {
          content: '*';
          font-size: .75rem;
          color: red;
          margin-left: .75rem;
        }
      }
    }
  }
}