@import "core.less";

.security-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;

  .well-muted {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: rgba(255, 255, 255, .2);
    padding: 10px;
  }

  .title {
    font-family: 'Rancho', cursive;
    font-size: 2rem;
  }

  .logo {
    > span:first-child {
      color: @white;
    }
  }
}