/*
 * Social Buttons for Bootstrap
 *
 * Copyright 2013-2015 Panayiotis Lipiridis
 * Licensed under the MIT License
 *
 * https://github.com/lipis/bootstrap-social
 */

.btn-social {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.btn-social > :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-social.btn-lg {
  padding-left: 61px
}

.btn-social.btn-lg > :first-child {
  line-height: 45px;
  width: 45px;
  font-size: 1.8em
}

.btn-social.btn-sm {
  padding-left: 38px
}

.btn-social.btn-sm > :first-child {
  line-height: 28px;
  width: 28px;
  font-size: 1.4em
}

.btn-social.btn-xs {
  padding-left: 30px
}

.btn-social.btn-xs > :first-child {
  line-height: 20px;
  width: 20px;
  font-size: 1.2em
}

.btn-social-icon {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 34px;
  width: 34px;
  padding: 0
}

.btn-social-icon > :first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-social-icon.btn-lg {
  padding-left: 61px
}

.btn-social-icon.btn-lg > :first-child {
  line-height: 45px;
  width: 45px;
  font-size: 1.8em
}

.btn-social-icon.btn-sm {
  padding-left: 38px
}

.btn-social-icon.btn-sm > :first-child {
  line-height: 28px;
  width: 28px;
  font-size: 1.4em
}

.btn-social-icon.btn-xs {
  padding-left: 30px
}

.btn-social-icon.btn-xs > :first-child {
  line-height: 20px;
  width: 20px;
  font-size: 1.2em
}

.btn-social-icon > :first-child {
  border: none;
  text-align: center;
  width: 100% !important
}

.btn-social-icon.btn-lg {
  height: 45px;
  width: 45px;
  padding-left: 0;
  padding-right: 0
}

.btn-social-icon.btn-sm {
  height: 30px;
  width: 30px;
  padding-left: 0;
  padding-right: 0
}

.btn-social-icon.btn-xs {
  height: 22px;
  width: 22px;
  padding-left: 0;
  padding-right: 0
}

.btn-adn {
  color: #FFFFFF;
  background-color: #D87A68;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-adn:focus, .btn-adn.focus {
  color: #FFFFFF;
  background-color: #CE563F;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-adn:hover {
  color: #FFFFFF;
  background-color: #CE563F;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-adn:active, .btn-adn.active, .open > .dropdown-toggle.btn-adn {
  color: #FFFFFF;
  background-color: #CE563F;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-adn:active:hover, .btn-adn.active:hover, .open > .dropdown-toggle.btn-adn:hover, .btn-adn:active:focus, .btn-adn.active:focus, .open > .dropdown-toggle.btn-adn:focus, .btn-adn:active.focus, .btn-adn.active.focus, .open > .dropdown-toggle.btn-adn.focus {
  color: #FFFFFF;
  background-color: #B94630;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-adn:active, .btn-adn.active, .open > .dropdown-toggle.btn-adn {
  background-image: none
}

.btn-adn.disabled, .btn-adn[disabled], fieldset[disabled] .btn-adn, .btn-adn.disabled:hover, .btn-adn[disabled]:hover, fieldset[disabled] .btn-adn:hover, .btn-adn.disabled:focus, .btn-adn[disabled]:focus, fieldset[disabled] .btn-adn:focus, .btn-adn.disabled.focus, .btn-adn[disabled].focus, fieldset[disabled] .btn-adn.focus, .btn-adn.disabled:active, .btn-adn[disabled]:active, fieldset[disabled] .btn-adn:active, .btn-adn.disabled.active, .btn-adn[disabled].active, fieldset[disabled] .btn-adn.active {
  background-color: #D87A68;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-adn .badge {
  color: #D87A68;
  background-color: #FFFFFF
}

.btn-bitbucket {
  color: #FFFFFF;
  background-color: #205081;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-bitbucket:focus, .btn-bitbucket.focus {
  color: #FFFFFF;
  background-color: #163758;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-bitbucket:hover {
  color: #FFFFFF;
  background-color: #163758;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-bitbucket:active, .btn-bitbucket.active, .open > .dropdown-toggle.btn-bitbucket {
  color: #FFFFFF;
  background-color: #163758;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-bitbucket:active:hover, .btn-bitbucket.active:hover, .open > .dropdown-toggle.btn-bitbucket:hover, .btn-bitbucket:active:focus, .btn-bitbucket.active:focus, .open > .dropdown-toggle.btn-bitbucket:focus, .btn-bitbucket:active.focus, .btn-bitbucket.active.focus, .open > .dropdown-toggle.btn-bitbucket.focus {
  color: #FFFFFF;
  background-color: #0F253C;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-bitbucket:active, .btn-bitbucket.active, .open > .dropdown-toggle.btn-bitbucket {
  background-image: none
}

.btn-bitbucket.disabled, .btn-bitbucket[disabled], fieldset[disabled] .btn-bitbucket, .btn-bitbucket.disabled:hover, .btn-bitbucket[disabled]:hover, fieldset[disabled] .btn-bitbucket:hover, .btn-bitbucket.disabled:focus, .btn-bitbucket[disabled]:focus, fieldset[disabled] .btn-bitbucket:focus, .btn-bitbucket.disabled.focus, .btn-bitbucket[disabled].focus, fieldset[disabled] .btn-bitbucket.focus, .btn-bitbucket.disabled:active, .btn-bitbucket[disabled]:active, fieldset[disabled] .btn-bitbucket:active, .btn-bitbucket.disabled.active, .btn-bitbucket[disabled].active, fieldset[disabled] .btn-bitbucket.active {
  background-color: #205081;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-bitbucket .badge {
  color: #205081;
  background-color: #FFFFFF
}

.btn-dropbox {
  color: #FFFFFF;
  background-color: #1087DD;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-dropbox:focus, .btn-dropbox.focus {
  color: #FFFFFF;
  background-color: #0D6AAD;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-dropbox:hover {
  color: #FFFFFF;
  background-color: #0D6AAD;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-dropbox:active, .btn-dropbox.active, .open > .dropdown-toggle.btn-dropbox {
  color: #FFFFFF;
  background-color: #0D6AAD;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-dropbox:active:hover, .btn-dropbox.active:hover, .open > .dropdown-toggle.btn-dropbox:hover, .btn-dropbox:active:focus, .btn-dropbox.active:focus, .open > .dropdown-toggle.btn-dropbox:focus, .btn-dropbox:active.focus, .btn-dropbox.active.focus, .open > .dropdown-toggle.btn-dropbox.focus {
  color: #FFFFFF;
  background-color: #0A568C;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-dropbox:active, .btn-dropbox.active, .open > .dropdown-toggle.btn-dropbox {
  background-image: none
}

.btn-dropbox.disabled, .btn-dropbox[disabled], fieldset[disabled] .btn-dropbox, .btn-dropbox.disabled:hover, .btn-dropbox[disabled]:hover, fieldset[disabled] .btn-dropbox:hover, .btn-dropbox.disabled:focus, .btn-dropbox[disabled]:focus, fieldset[disabled] .btn-dropbox:focus, .btn-dropbox.disabled.focus, .btn-dropbox[disabled].focus, fieldset[disabled] .btn-dropbox.focus, .btn-dropbox.disabled:active, .btn-dropbox[disabled]:active, fieldset[disabled] .btn-dropbox:active, .btn-dropbox.disabled.active, .btn-dropbox[disabled].active, fieldset[disabled] .btn-dropbox.active {
  background-color: #1087DD;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-dropbox .badge {
  color: #1087DD;
  background-color: #FFFFFF
}

.btn-facebook {
  color: #FFFFFF;
  background-color: #3B5998;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:focus, .btn-facebook.focus {
  color: #FFFFFF;
  background-color: #2D4373;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:hover {
  color: #FFFFFF;
  background-color: #2D4373;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook {
  color: #FFFFFF;
  background-color: #2D4373;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:active:hover, .btn-facebook.active:hover, .open > .dropdown-toggle.btn-facebook:hover, .btn-facebook:active:focus, .btn-facebook.active:focus, .open > .dropdown-toggle.btn-facebook:focus, .btn-facebook:active.focus, .btn-facebook.active.focus, .open > .dropdown-toggle.btn-facebook.focus {
  color: #FFFFFF;
  background-color: #23345A;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook:active, .btn-facebook.active, .open > .dropdown-toggle.btn-facebook {
  background-image: none
}

.btn-facebook.disabled, .btn-facebook[disabled], fieldset[disabled] .btn-facebook, .btn-facebook.disabled:hover, .btn-facebook[disabled]:hover, fieldset[disabled] .btn-facebook:hover, .btn-facebook.disabled:focus, .btn-facebook[disabled]:focus, fieldset[disabled] .btn-facebook:focus, .btn-facebook.disabled.focus, .btn-facebook[disabled].focus, fieldset[disabled] .btn-facebook.focus, .btn-facebook.disabled:active, .btn-facebook[disabled]:active, fieldset[disabled] .btn-facebook:active, .btn-facebook.disabled.active, .btn-facebook[disabled].active, fieldset[disabled] .btn-facebook.active {
  background-color: #3B5998;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-facebook .badge {
  color: #3B5998;
  background-color: #FFFFFF
}

.btn-flickr {
  color: #FFFFFF;
  background-color: #FF0084;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-flickr:focus, .btn-flickr.focus {
  color: #FFFFFF;
  background-color: #CC006A;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-flickr:hover {
  color: #FFFFFF;
  background-color: #CC006A;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-flickr:active, .btn-flickr.active, .open > .dropdown-toggle.btn-flickr {
  color: #FFFFFF;
  background-color: #CC006A;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-flickr:active:hover, .btn-flickr.active:hover, .open > .dropdown-toggle.btn-flickr:hover, .btn-flickr:active:focus, .btn-flickr.active:focus, .open > .dropdown-toggle.btn-flickr:focus, .btn-flickr:active.focus, .btn-flickr.active.focus, .open > .dropdown-toggle.btn-flickr.focus {
  color: #FFFFFF;
  background-color: #A80057;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-flickr:active, .btn-flickr.active, .open > .dropdown-toggle.btn-flickr {
  background-image: none
}

.btn-flickr.disabled, .btn-flickr[disabled], fieldset[disabled] .btn-flickr, .btn-flickr.disabled:hover, .btn-flickr[disabled]:hover, fieldset[disabled] .btn-flickr:hover, .btn-flickr.disabled:focus, .btn-flickr[disabled]:focus, fieldset[disabled] .btn-flickr:focus, .btn-flickr.disabled.focus, .btn-flickr[disabled].focus, fieldset[disabled] .btn-flickr.focus, .btn-flickr.disabled:active, .btn-flickr[disabled]:active, fieldset[disabled] .btn-flickr:active, .btn-flickr.disabled.active, .btn-flickr[disabled].active, fieldset[disabled] .btn-flickr.active {
  background-color: #FF0084;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-flickr .badge {
  color: #FF0084;
  background-color: #FFFFFF
}

.btn-foursquare {
  color: #FFFFFF;
  background-color: #F94877;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-foursquare:focus, .btn-foursquare.focus {
  color: #FFFFFF;
  background-color: #F71752;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-foursquare:hover {
  color: #FFFFFF;
  background-color: #F71752;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-foursquare:active, .btn-foursquare.active, .open > .dropdown-toggle.btn-foursquare {
  color: #FFFFFF;
  background-color: #F71752;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-foursquare:active:hover, .btn-foursquare.active:hover, .open > .dropdown-toggle.btn-foursquare:hover, .btn-foursquare:active:focus, .btn-foursquare.active:focus, .open > .dropdown-toggle.btn-foursquare:focus, .btn-foursquare:active.focus, .btn-foursquare.active.focus, .open > .dropdown-toggle.btn-foursquare.focus {
  color: #FFFFFF;
  background-color: #E30742;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-foursquare:active, .btn-foursquare.active, .open > .dropdown-toggle.btn-foursquare {
  background-image: none
}

.btn-foursquare.disabled, .btn-foursquare[disabled], fieldset[disabled] .btn-foursquare, .btn-foursquare.disabled:hover, .btn-foursquare[disabled]:hover, fieldset[disabled] .btn-foursquare:hover, .btn-foursquare.disabled:focus, .btn-foursquare[disabled]:focus, fieldset[disabled] .btn-foursquare:focus, .btn-foursquare.disabled.focus, .btn-foursquare[disabled].focus, fieldset[disabled] .btn-foursquare.focus, .btn-foursquare.disabled:active, .btn-foursquare[disabled]:active, fieldset[disabled] .btn-foursquare:active, .btn-foursquare.disabled.active, .btn-foursquare[disabled].active, fieldset[disabled] .btn-foursquare.active {
  background-color: #F94877;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-foursquare .badge {
  color: #F94877;
  background-color: #FFFFFF
}

.btn-github {
  color: #FFFFFF;
  background-color: #444444;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:focus, .btn-github.focus {
  color: #FFFFFF;
  background-color: #2B2B2B;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:hover {
  color: #FFFFFF;
  background-color: #2B2B2B;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:active, .btn-github.active, .open > .dropdown-toggle.btn-github {
  color: #FFFFFF;
  background-color: #2B2B2B;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:active:hover, .btn-github.active:hover, .open > .dropdown-toggle.btn-github:hover, .btn-github:active:focus, .btn-github.active:focus, .open > .dropdown-toggle.btn-github:focus, .btn-github:active.focus, .btn-github.active.focus, .open > .dropdown-toggle.btn-github.focus {
  color: #FFFFFF;
  background-color: #191919;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-github:active, .btn-github.active, .open > .dropdown-toggle.btn-github {
  background-image: none
}

.btn-github.disabled, .btn-github[disabled], fieldset[disabled] .btn-github, .btn-github.disabled:hover, .btn-github[disabled]:hover, fieldset[disabled] .btn-github:hover, .btn-github.disabled:focus, .btn-github[disabled]:focus, fieldset[disabled] .btn-github:focus, .btn-github.disabled.focus, .btn-github[disabled].focus, fieldset[disabled] .btn-github.focus, .btn-github.disabled:active, .btn-github[disabled]:active, fieldset[disabled] .btn-github:active, .btn-github.disabled.active, .btn-github[disabled].active, fieldset[disabled] .btn-github.active {
  background-color: #444444;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-github .badge {
  color: #444444;
  background-color: #FFFFFF
}

.btn-google {
  color: #FFFFFF;
  background-color: #DD4B39;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:focus, .btn-google.focus {
  color: #FFFFFF;
  background-color: #C23321;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:hover {
  color: #FFFFFF;
  background-color: #C23321;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:active, .btn-google.active, .open > .dropdown-toggle.btn-google {
  color: #FFFFFF;
  background-color: #C23321;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:active:hover, .btn-google.active:hover, .open > .dropdown-toggle.btn-google:hover, .btn-google:active:focus, .btn-google.active:focus, .open > .dropdown-toggle.btn-google:focus, .btn-google:active.focus, .btn-google.active.focus, .open > .dropdown-toggle.btn-google.focus {
  color: #FFFFFF;
  background-color: #A32B1C;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-google:active, .btn-google.active, .open > .dropdown-toggle.btn-google {
  background-image: none
}

.btn-google.disabled, .btn-google[disabled], fieldset[disabled] .btn-google, .btn-google.disabled:hover, .btn-google[disabled]:hover, fieldset[disabled] .btn-google:hover, .btn-google.disabled:focus, .btn-google[disabled]:focus, fieldset[disabled] .btn-google:focus, .btn-google.disabled.focus, .btn-google[disabled].focus, fieldset[disabled] .btn-google.focus, .btn-google.disabled:active, .btn-google[disabled]:active, fieldset[disabled] .btn-google:active, .btn-google.disabled.active, .btn-google[disabled].active, fieldset[disabled] .btn-google.active {
  background-color: #DD4B39;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-google .badge {
  color: #DD4B39;
  background-color: #FFFFFF
}

.btn-instagram {
  color: #FFFFFF;
  background-color: #3F729B;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram:focus, .btn-instagram.focus {
  color: #FFFFFF;
  background-color: #305777;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram:hover {
  color: #FFFFFF;
  background-color: #305777;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram:active, .btn-instagram.active, .open > .dropdown-toggle.btn-instagram {
  color: #FFFFFF;
  background-color: #305777;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram:active:hover, .btn-instagram.active:hover, .open > .dropdown-toggle.btn-instagram:hover, .btn-instagram:active:focus, .btn-instagram.active:focus, .open > .dropdown-toggle.btn-instagram:focus, .btn-instagram:active.focus, .btn-instagram.active.focus, .open > .dropdown-toggle.btn-instagram.focus {
  color: #FFFFFF;
  background-color: #26455D;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram:active, .btn-instagram.active, .open > .dropdown-toggle.btn-instagram {
  background-image: none
}

.btn-instagram.disabled, .btn-instagram[disabled], fieldset[disabled] .btn-instagram, .btn-instagram.disabled:hover, .btn-instagram[disabled]:hover, fieldset[disabled] .btn-instagram:hover, .btn-instagram.disabled:focus, .btn-instagram[disabled]:focus, fieldset[disabled] .btn-instagram:focus, .btn-instagram.disabled.focus, .btn-instagram[disabled].focus, fieldset[disabled] .btn-instagram.focus, .btn-instagram.disabled:active, .btn-instagram[disabled]:active, fieldset[disabled] .btn-instagram:active, .btn-instagram.disabled.active, .btn-instagram[disabled].active, fieldset[disabled] .btn-instagram.active {
  background-color: #3F729B;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-instagram .badge {
  color: #3F729B;
  background-color: #FFFFFF
}

.btn-linkedin {
  color: #FFFFFF;
  background-color: #007BB6;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-linkedin:focus, .btn-linkedin.focus {
  color: #FFFFFF;
  background-color: #005983;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-linkedin:hover {
  color: #FFFFFF;
  background-color: #005983;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-linkedin:active, .btn-linkedin.active, .open > .dropdown-toggle.btn-linkedin {
  color: #FFFFFF;
  background-color: #005983;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-linkedin:active:hover, .btn-linkedin.active:hover, .open > .dropdown-toggle.btn-linkedin:hover, .btn-linkedin:active:focus, .btn-linkedin.active:focus, .open > .dropdown-toggle.btn-linkedin:focus, .btn-linkedin:active.focus, .btn-linkedin.active.focus, .open > .dropdown-toggle.btn-linkedin.focus {
  color: #FFFFFF;
  background-color: #00405F;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-linkedin:active, .btn-linkedin.active, .open > .dropdown-toggle.btn-linkedin {
  background-image: none
}

.btn-linkedin.disabled, .btn-linkedin[disabled], fieldset[disabled] .btn-linkedin, .btn-linkedin.disabled:hover, .btn-linkedin[disabled]:hover, fieldset[disabled] .btn-linkedin:hover, .btn-linkedin.disabled:focus, .btn-linkedin[disabled]:focus, fieldset[disabled] .btn-linkedin:focus, .btn-linkedin.disabled.focus, .btn-linkedin[disabled].focus, fieldset[disabled] .btn-linkedin.focus, .btn-linkedin.disabled:active, .btn-linkedin[disabled]:active, fieldset[disabled] .btn-linkedin:active, .btn-linkedin.disabled.active, .btn-linkedin[disabled].active, fieldset[disabled] .btn-linkedin.active {
  background-color: #007BB6;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-linkedin .badge {
  color: #007BB6;
  background-color: #FFFFFF
}

.btn-microsoft {
  color: #FFFFFF;
  background-color: #2672EC;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-microsoft:focus, .btn-microsoft.focus {
  color: #FFFFFF;
  background-color: #125ACD;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-microsoft:hover {
  color: #FFFFFF;
  background-color: #125ACD;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-microsoft:active, .btn-microsoft.active, .open > .dropdown-toggle.btn-microsoft {
  color: #FFFFFF;
  background-color: #125ACD;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-microsoft:active:hover, .btn-microsoft.active:hover, .open > .dropdown-toggle.btn-microsoft:hover, .btn-microsoft:active:focus, .btn-microsoft.active:focus, .open > .dropdown-toggle.btn-microsoft:focus, .btn-microsoft:active.focus, .btn-microsoft.active.focus, .open > .dropdown-toggle.btn-microsoft.focus {
  color: #FFFFFF;
  background-color: #0F4BAC;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-microsoft:active, .btn-microsoft.active, .open > .dropdown-toggle.btn-microsoft {
  background-image: none
}

.btn-microsoft.disabled, .btn-microsoft[disabled], fieldset[disabled] .btn-microsoft, .btn-microsoft.disabled:hover, .btn-microsoft[disabled]:hover, fieldset[disabled] .btn-microsoft:hover, .btn-microsoft.disabled:focus, .btn-microsoft[disabled]:focus, fieldset[disabled] .btn-microsoft:focus, .btn-microsoft.disabled.focus, .btn-microsoft[disabled].focus, fieldset[disabled] .btn-microsoft.focus, .btn-microsoft.disabled:active, .btn-microsoft[disabled]:active, fieldset[disabled] .btn-microsoft:active, .btn-microsoft.disabled.active, .btn-microsoft[disabled].active, fieldset[disabled] .btn-microsoft.active {
  background-color: #2672EC;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-microsoft .badge {
  color: #2672EC;
  background-color: #FFFFFF
}

.btn-odnoklassniki {
  color: #FFFFFF;
  background-color: #F4731C;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-odnoklassniki:focus, .btn-odnoklassniki.focus {
  color: #FFFFFF;
  background-color: #D35B0A;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-odnoklassniki:hover {
  color: #FFFFFF;
  background-color: #D35B0A;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-odnoklassniki:active, .btn-odnoklassniki.active, .open > .dropdown-toggle.btn-odnoklassniki {
  color: #FFFFFF;
  background-color: #D35B0A;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-odnoklassniki:active:hover, .btn-odnoklassniki.active:hover, .open > .dropdown-toggle.btn-odnoklassniki:hover, .btn-odnoklassniki:active:focus, .btn-odnoklassniki.active:focus, .open > .dropdown-toggle.btn-odnoklassniki:focus, .btn-odnoklassniki:active.focus, .btn-odnoklassniki.active.focus, .open > .dropdown-toggle.btn-odnoklassniki.focus {
  color: #FFFFFF;
  background-color: #B14C09;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-odnoklassniki:active, .btn-odnoklassniki.active, .open > .dropdown-toggle.btn-odnoklassniki {
  background-image: none
}

.btn-odnoklassniki.disabled, .btn-odnoklassniki[disabled], fieldset[disabled] .btn-odnoklassniki, .btn-odnoklassniki.disabled:hover, .btn-odnoklassniki[disabled]:hover, fieldset[disabled] .btn-odnoklassniki:hover, .btn-odnoklassniki.disabled:focus, .btn-odnoklassniki[disabled]:focus, fieldset[disabled] .btn-odnoklassniki:focus, .btn-odnoklassniki.disabled.focus, .btn-odnoklassniki[disabled].focus, fieldset[disabled] .btn-odnoklassniki.focus, .btn-odnoklassniki.disabled:active, .btn-odnoklassniki[disabled]:active, fieldset[disabled] .btn-odnoklassniki:active, .btn-odnoklassniki.disabled.active, .btn-odnoklassniki[disabled].active, fieldset[disabled] .btn-odnoklassniki.active {
  background-color: #F4731C;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-odnoklassniki .badge {
  color: #F4731C;
  background-color: #FFFFFF
}

.btn-openid {
  color: #FFFFFF;
  background-color: #F7931E;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-openid:focus, .btn-openid.focus {
  color: #FFFFFF;
  background-color: #DA7908;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-openid:hover {
  color: #FFFFFF;
  background-color: #DA7908;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-openid:active, .btn-openid.active, .open > .dropdown-toggle.btn-openid {
  color: #FFFFFF;
  background-color: #DA7908;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-openid:active:hover, .btn-openid.active:hover, .open > .dropdown-toggle.btn-openid:hover, .btn-openid:active:focus, .btn-openid.active:focus, .open > .dropdown-toggle.btn-openid:focus, .btn-openid:active.focus, .btn-openid.active.focus, .open > .dropdown-toggle.btn-openid.focus {
  color: #FFFFFF;
  background-color: #B86607;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-openid:active, .btn-openid.active, .open > .dropdown-toggle.btn-openid {
  background-image: none
}

.btn-openid.disabled, .btn-openid[disabled], fieldset[disabled] .btn-openid, .btn-openid.disabled:hover, .btn-openid[disabled]:hover, fieldset[disabled] .btn-openid:hover, .btn-openid.disabled:focus, .btn-openid[disabled]:focus, fieldset[disabled] .btn-openid:focus, .btn-openid.disabled.focus, .btn-openid[disabled].focus, fieldset[disabled] .btn-openid.focus, .btn-openid.disabled:active, .btn-openid[disabled]:active, fieldset[disabled] .btn-openid:active, .btn-openid.disabled.active, .btn-openid[disabled].active, fieldset[disabled] .btn-openid.active {
  background-color: #F7931E;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-openid .badge {
  color: #F7931E;
  background-color: #FFFFFF
}

.btn-pinterest {
  color: #FFFFFF;
  background-color: #CB2027;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-pinterest:focus, .btn-pinterest.focus {
  color: #FFFFFF;
  background-color: #9F191F;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-pinterest:hover {
  color: #FFFFFF;
  background-color: #9F191F;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-pinterest:active, .btn-pinterest.active, .open > .dropdown-toggle.btn-pinterest {
  color: #FFFFFF;
  background-color: #9F191F;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-pinterest:active:hover, .btn-pinterest.active:hover, .open > .dropdown-toggle.btn-pinterest:hover, .btn-pinterest:active:focus, .btn-pinterest.active:focus, .open > .dropdown-toggle.btn-pinterest:focus, .btn-pinterest:active.focus, .btn-pinterest.active.focus, .open > .dropdown-toggle.btn-pinterest.focus {
  color: #FFFFFF;
  background-color: #801419;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-pinterest:active, .btn-pinterest.active, .open > .dropdown-toggle.btn-pinterest {
  background-image: none
}

.btn-pinterest.disabled, .btn-pinterest[disabled], fieldset[disabled] .btn-pinterest, .btn-pinterest.disabled:hover, .btn-pinterest[disabled]:hover, fieldset[disabled] .btn-pinterest:hover, .btn-pinterest.disabled:focus, .btn-pinterest[disabled]:focus, fieldset[disabled] .btn-pinterest:focus, .btn-pinterest.disabled.focus, .btn-pinterest[disabled].focus, fieldset[disabled] .btn-pinterest.focus, .btn-pinterest.disabled:active, .btn-pinterest[disabled]:active, fieldset[disabled] .btn-pinterest:active, .btn-pinterest.disabled.active, .btn-pinterest[disabled].active, fieldset[disabled] .btn-pinterest.active {
  background-color: #CB2027;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-pinterest .badge {
  color: #CB2027;
  background-color: #FFFFFF
}

.btn-reddit {
  color: #000000;
  background-color: #EFF7FF;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-reddit:focus, .btn-reddit.focus {
  color: #000000;
  background-color: #BCDDFF;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-reddit:hover {
  color: #000000;
  background-color: #BCDDFF;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-reddit:active, .btn-reddit.active, .open > .dropdown-toggle.btn-reddit {
  color: #000000;
  background-color: #BCDDFF;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-reddit:active:hover, .btn-reddit.active:hover, .open > .dropdown-toggle.btn-reddit:hover, .btn-reddit:active:focus, .btn-reddit.active:focus, .open > .dropdown-toggle.btn-reddit:focus, .btn-reddit:active.focus, .btn-reddit.active.focus, .open > .dropdown-toggle.btn-reddit.focus {
  color: #000000;
  background-color: #98CCFF;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-reddit:active, .btn-reddit.active, .open > .dropdown-toggle.btn-reddit {
  background-image: none
}

.btn-reddit.disabled, .btn-reddit[disabled], fieldset[disabled] .btn-reddit, .btn-reddit.disabled:hover, .btn-reddit[disabled]:hover, fieldset[disabled] .btn-reddit:hover, .btn-reddit.disabled:focus, .btn-reddit[disabled]:focus, fieldset[disabled] .btn-reddit:focus, .btn-reddit.disabled.focus, .btn-reddit[disabled].focus, fieldset[disabled] .btn-reddit.focus, .btn-reddit.disabled:active, .btn-reddit[disabled]:active, fieldset[disabled] .btn-reddit:active, .btn-reddit.disabled.active, .btn-reddit[disabled].active, fieldset[disabled] .btn-reddit.active {
  background-color: #EFF7FF;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-reddit .badge {
  color: #EFF7FF;
  background-color: #000000
}

.btn-soundcloud {
  color: #FFFFFF;
  background-color: #FF5500;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-soundcloud:focus, .btn-soundcloud.focus {
  color: #FFFFFF;
  background-color: #CC4400;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-soundcloud:hover {
  color: #FFFFFF;
  background-color: #CC4400;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-soundcloud:active, .btn-soundcloud.active, .open > .dropdown-toggle.btn-soundcloud {
  color: #FFFFFF;
  background-color: #CC4400;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-soundcloud:active:hover, .btn-soundcloud.active:hover, .open > .dropdown-toggle.btn-soundcloud:hover, .btn-soundcloud:active:focus, .btn-soundcloud.active:focus, .open > .dropdown-toggle.btn-soundcloud:focus, .btn-soundcloud:active.focus, .btn-soundcloud.active.focus, .open > .dropdown-toggle.btn-soundcloud.focus {
  color: #FFFFFF;
  background-color: #A83800;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-soundcloud:active, .btn-soundcloud.active, .open > .dropdown-toggle.btn-soundcloud {
  background-image: none
}

.btn-soundcloud.disabled, .btn-soundcloud[disabled], fieldset[disabled] .btn-soundcloud, .btn-soundcloud.disabled:hover, .btn-soundcloud[disabled]:hover, fieldset[disabled] .btn-soundcloud:hover, .btn-soundcloud.disabled:focus, .btn-soundcloud[disabled]:focus, fieldset[disabled] .btn-soundcloud:focus, .btn-soundcloud.disabled.focus, .btn-soundcloud[disabled].focus, fieldset[disabled] .btn-soundcloud.focus, .btn-soundcloud.disabled:active, .btn-soundcloud[disabled]:active, fieldset[disabled] .btn-soundcloud:active, .btn-soundcloud.disabled.active, .btn-soundcloud[disabled].active, fieldset[disabled] .btn-soundcloud.active {
  background-color: #FF5500;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-soundcloud .badge {
  color: #FF5500;
  background-color: #FFFFFF
}

.btn-tumblr {
  color: #FFFFFF;
  background-color: #2C4762;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-tumblr:focus, .btn-tumblr.focus {
  color: #FFFFFF;
  background-color: #1C2D3F;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-tumblr:hover {
  color: #FFFFFF;
  background-color: #1C2D3F;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-tumblr:active, .btn-tumblr.active, .open > .dropdown-toggle.btn-tumblr {
  color: #FFFFFF;
  background-color: #1C2D3F;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-tumblr:active:hover, .btn-tumblr.active:hover, .open > .dropdown-toggle.btn-tumblr:hover, .btn-tumblr:active:focus, .btn-tumblr.active:focus, .open > .dropdown-toggle.btn-tumblr:focus, .btn-tumblr:active.focus, .btn-tumblr.active.focus, .open > .dropdown-toggle.btn-tumblr.focus {
  color: #FFFFFF;
  background-color: #111C26;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-tumblr:active, .btn-tumblr.active, .open > .dropdown-toggle.btn-tumblr {
  background-image: none
}

.btn-tumblr.disabled, .btn-tumblr[disabled], fieldset[disabled] .btn-tumblr, .btn-tumblr.disabled:hover, .btn-tumblr[disabled]:hover, fieldset[disabled] .btn-tumblr:hover, .btn-tumblr.disabled:focus, .btn-tumblr[disabled]:focus, fieldset[disabled] .btn-tumblr:focus, .btn-tumblr.disabled.focus, .btn-tumblr[disabled].focus, fieldset[disabled] .btn-tumblr.focus, .btn-tumblr.disabled:active, .btn-tumblr[disabled]:active, fieldset[disabled] .btn-tumblr:active, .btn-tumblr.disabled.active, .btn-tumblr[disabled].active, fieldset[disabled] .btn-tumblr.active {
  background-color: #2C4762;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-tumblr .badge {
  color: #2C4762;
  background-color: #FFFFFF
}

.btn-twitter {
  color: #FFFFFF;
  background-color: #55ACEE;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:focus, .btn-twitter.focus {
  color: #FFFFFF;
  background-color: #2795E9;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:hover {
  color: #FFFFFF;
  background-color: #2795E9;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:active, .btn-twitter.active, .open > .dropdown-toggle.btn-twitter {
  color: #FFFFFF;
  background-color: #2795E9;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:active:hover, .btn-twitter.active:hover, .open > .dropdown-toggle.btn-twitter:hover, .btn-twitter:active:focus, .btn-twitter.active:focus, .open > .dropdown-toggle.btn-twitter:focus, .btn-twitter:active.focus, .btn-twitter.active.focus, .open > .dropdown-toggle.btn-twitter.focus {
  color: #FFFFFF;
  background-color: #1583D7;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter:active, .btn-twitter.active, .open > .dropdown-toggle.btn-twitter {
  background-image: none
}

.btn-twitter.disabled, .btn-twitter[disabled], fieldset[disabled] .btn-twitter, .btn-twitter.disabled:hover, .btn-twitter[disabled]:hover, fieldset[disabled] .btn-twitter:hover, .btn-twitter.disabled:focus, .btn-twitter[disabled]:focus, fieldset[disabled] .btn-twitter:focus, .btn-twitter.disabled.focus, .btn-twitter[disabled].focus, fieldset[disabled] .btn-twitter.focus, .btn-twitter.disabled:active, .btn-twitter[disabled]:active, fieldset[disabled] .btn-twitter:active, .btn-twitter.disabled.active, .btn-twitter[disabled].active, fieldset[disabled] .btn-twitter.active {
  background-color: #55ACEE;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-twitter .badge {
  color: #55ACEE;
  background-color: #FFFFFF
}

.btn-vimeo {
  color: #FFFFFF;
  background-color: #1AB7EA;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-vimeo:focus, .btn-vimeo.focus {
  color: #FFFFFF;
  background-color: #1295BF;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-vimeo:hover {
  color: #FFFFFF;
  background-color: #1295BF;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-vimeo:active, .btn-vimeo.active, .open > .dropdown-toggle.btn-vimeo {
  color: #FFFFFF;
  background-color: #1295BF;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-vimeo:active:hover, .btn-vimeo.active:hover, .open > .dropdown-toggle.btn-vimeo:hover, .btn-vimeo:active:focus, .btn-vimeo.active:focus, .open > .dropdown-toggle.btn-vimeo:focus, .btn-vimeo:active.focus, .btn-vimeo.active.focus, .open > .dropdown-toggle.btn-vimeo.focus {
  color: #FFFFFF;
  background-color: #0F7B9F;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-vimeo:active, .btn-vimeo.active, .open > .dropdown-toggle.btn-vimeo {
  background-image: none
}

.btn-vimeo.disabled, .btn-vimeo[disabled], fieldset[disabled] .btn-vimeo, .btn-vimeo.disabled:hover, .btn-vimeo[disabled]:hover, fieldset[disabled] .btn-vimeo:hover, .btn-vimeo.disabled:focus, .btn-vimeo[disabled]:focus, fieldset[disabled] .btn-vimeo:focus, .btn-vimeo.disabled.focus, .btn-vimeo[disabled].focus, fieldset[disabled] .btn-vimeo.focus, .btn-vimeo.disabled:active, .btn-vimeo[disabled]:active, fieldset[disabled] .btn-vimeo:active, .btn-vimeo.disabled.active, .btn-vimeo[disabled].active, fieldset[disabled] .btn-vimeo.active {
  background-color: #1AB7EA;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-vimeo .badge {
  color: #1AB7EA;
  background-color: #FFFFFF
}

.btn-vk {
  color: #FFFFFF;
  background-color: #587EA3;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-vk:focus, .btn-vk.focus {
  color: #FFFFFF;
  background-color: #466482;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-vk:hover {
  color: #FFFFFF;
  background-color: #466482;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-vk:active, .btn-vk.active, .open > .dropdown-toggle.btn-vk {
  color: #FFFFFF;
  background-color: #466482;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-vk:active:hover, .btn-vk.active:hover, .open > .dropdown-toggle.btn-vk:hover, .btn-vk:active:focus, .btn-vk.active:focus, .open > .dropdown-toggle.btn-vk:focus, .btn-vk:active.focus, .btn-vk.active.focus, .open > .dropdown-toggle.btn-vk.focus {
  color: #FFFFFF;
  background-color: #3A526B;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-vk:active, .btn-vk.active, .open > .dropdown-toggle.btn-vk {
  background-image: none
}

.btn-vk.disabled, .btn-vk[disabled], fieldset[disabled] .btn-vk, .btn-vk.disabled:hover, .btn-vk[disabled]:hover, fieldset[disabled] .btn-vk:hover, .btn-vk.disabled:focus, .btn-vk[disabled]:focus, fieldset[disabled] .btn-vk:focus, .btn-vk.disabled.focus, .btn-vk[disabled].focus, fieldset[disabled] .btn-vk.focus, .btn-vk.disabled:active, .btn-vk[disabled]:active, fieldset[disabled] .btn-vk:active, .btn-vk.disabled.active, .btn-vk[disabled].active, fieldset[disabled] .btn-vk.active {
  background-color: #587EA3;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-vk .badge {
  color: #587EA3;
  background-color: #FFFFFF
}

.btn-yahoo {
  color: #FFFFFF;
  background-color: #720E9E;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-yahoo:focus, .btn-yahoo.focus {
  color: #FFFFFF;
  background-color: #500A6F;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-yahoo:hover {
  color: #FFFFFF;
  background-color: #500A6F;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-yahoo:active, .btn-yahoo.active, .open > .dropdown-toggle.btn-yahoo {
  color: #FFFFFF;
  background-color: #500A6F;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-yahoo:active:hover, .btn-yahoo.active:hover, .open > .dropdown-toggle.btn-yahoo:hover, .btn-yahoo:active:focus, .btn-yahoo.active:focus, .open > .dropdown-toggle.btn-yahoo:focus, .btn-yahoo:active.focus, .btn-yahoo.active.focus, .open > .dropdown-toggle.btn-yahoo.focus {
  color: #FFFFFF;
  background-color: #39074E;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-yahoo:active, .btn-yahoo.active, .open > .dropdown-toggle.btn-yahoo {
  background-image: none
}

.btn-yahoo.disabled, .btn-yahoo[disabled], fieldset[disabled] .btn-yahoo, .btn-yahoo.disabled:hover, .btn-yahoo[disabled]:hover, fieldset[disabled] .btn-yahoo:hover, .btn-yahoo.disabled:focus, .btn-yahoo[disabled]:focus, fieldset[disabled] .btn-yahoo:focus, .btn-yahoo.disabled.focus, .btn-yahoo[disabled].focus, fieldset[disabled] .btn-yahoo.focus, .btn-yahoo.disabled:active, .btn-yahoo[disabled]:active, fieldset[disabled] .btn-yahoo:active, .btn-yahoo.disabled.active, .btn-yahoo[disabled].active, fieldset[disabled] .btn-yahoo.active {
  background-color: #720E9E;
  border-color: rgba(0, 0, 0, 0.2)
}

.btn-yahoo .badge {
  color: #720E9E;
  background-color: #FFFFFF
}