{% set forcedRoute = forcedRoute is defined ? forcedRoute : null %}
{% set menus = menus is defined ? menus : [] %}
{% for menu in menus %}
    {% if menu.active %}
        {% set type = menu.type is defined ? menu.type : null %}
        {% if type %}
            {{ cs_adminThemeHelper( 'Menu/' ~ type, {menu: menu, forcedRoute: forcedRoute} ) }}
        {% endif %}
    {% endif %}
{% endfor %}