{% set url = url is defined ? url : null %}
{% set urlName = urlName is defined ? urlName : null %}
{% set class = class is defined ? class : null %}
{% set icon = icon is defined ? icon : null %}
{% set label = label is defined ? label : 'Undefined' %}
{% set activeClass = activeClass is defined ? activeClass : 'active' %}
{% set children = children is defined ? children : null %}
{% set routeMatches = routeMatches is defined ? routeMatches : [] %}
<li class="{{ class }} {{ children ? 'with-sub' : '' }} {{ cs_routeContains( routeMatches ) ? 'active open opened' : '' }}">
    {% if children %}
    <span>
        {% if icon %}
        <i class="{{ icon }}"></i>
        {% endif %}
        <span class="lbl">{{ label }}</span>
    </span>
    <ul>
        {% for child in children %}
         {{ cs_renderAdminMenu( null, child ) }}
        {% endfor %}
    </ul>
    {% else %}
        {% if urlName %}
            <a href="{{ url( urlName ) }}">
        {% else %}
            <a href="{{ url|default('javascript:void(0)') }}">
        {% endif %}
        {% if icon %}
            <i class="{{ icon }}"></i>
        {% endif %}
        <span class="lbl">{{ label }}</span>
        </a>
    {% endif %}
</li>