{% set tabs = tabs is defined ? tabs : [] %}
<ul class="nav nav-tabs" role="tablist">
    {% for tab in tabs %}
        {% set icon = tab.icon is defined ? tab.icon : null %}
    <li role="presentation" class="nav-item">
        <a class="nav-link{{ loop.first ? ' active' : '' }}" data-toggle="tab" href="#{{ tab.id }}">
            {% if icon %}<i class="{{ icon }}"></i>{% endif %}
            {{ tab.text }}
        </a>
    </li>
    {% endfor %}
</ul>