@import 'vendor/theme';
@import 'vendor/jscrollpane';
@import 'vendor/flag-icon/flag-icon';
@import 'vendor/bootstrap-notify';
@import 'lib/bootstrap-switch/bootstrap-switch';
@import 'partials/reset';
@import 'partials/mixins';
@import 'partials/vars';
@import 'partials/helpers';
@import 'partials/glyphicons';
@import 'partials/icons';
@import 'partials/fonts';
@import 'partials/typography';
@import 'partials/forms';
@import 'partials/grids';
@import 'partials/interface';
@import 'partials/base';
@import 'partials/side';
@import 'partials/print';

table {
  .action-column {
    min-width: 100px;
  }
}

.tab-content {
  border: 1px solid #DDDDDD;
  border-top: none;
  padding: 20px 10px;
  background: #FFFFFF;
}

.btn[disabled],
.btn.disabled {
  background-color: #CCCCCC !important;
}