<!DOCTYPE html>
<html data-ng-app="CSApp" {% block html_tag %}{% endblock html_tag %}>
<head {% block head_tag %}{% endblock head_tag %}>

    {% block head %}
    {% block head_meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ cs_getConfigSetting( 'meta_description' ) }}">
    <meta name="author" content="{{ cs_getConfigSetting( 'site_author' ) }}">
    <meta name="keywords" content="{{ cs_getConfigSetting( 'site_keywords', null, ',' ) }}">
    <link rel="shortcut icon" href="{{ cs_adminThemeAsset( '/bundles/coresyscore/images/favicon.ico' ) }}">
        <title>Admin - {% block head_title %}{{ cs_getConfigSetting( 'site_title' ) }}{% endblock head_title %}</title>
    {% endblock head_meta %}

    {% block head_css %}
        {% stylesheets
        'bundles/coresyscore/lib/Bootstrap4/css/bootstrap.min.css'
        'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap3/bootstrap-switch.min.css'
        filter="cssrewrite"
        output="css/core.css" %}
    <link type="text/css" rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}

    <link type="text/css" rel="stylesheet" href="{{ asset( '/bundles/coresyscore/theme/default/css/admin.css' ) }}"/>

    {% endblock head_css %}

        {% block head_css_custom %}
        {% endblock head_css_custom %}

    {% block head_js %}
        <script type="application/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="application/javascript"
                src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        {% javascripts
        'bundles/coresyscore/lib/jquery/jquery.min.js'
        'bundles/coresyscore/lib/Tether/js/tether.min.js'
        'bundles/coresyscore/lib/Bootstrap4/js/bootstrap.min.js'
        'bundles/coresyscore/js/modernizr.min.js'
        'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js'
        output="js/apps.js" %}
        <script type="application/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:/ -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    {% endblock head_js %}

        {% block head_js_post %}
        {% endblock head_js_post %}
    {% endblock head %}
</head>
<body {% block body_tag %}{% endblock body_tag %}>
{% block body %}
{% block body_header %}
    <!-- Navigation Bar-->
    <header id="topnav">
        <div class="topbar-main">
            <div class="container">
                <div class="row m-t-0 m-b-0">
                    {% block header %}
                        {% block header_logo %}
                            <!-- LOGO -->
                            <div class="topbar-left">
                                {% block header_logo_link %}
                                    <a href="{{ url( 'admin_index' ) }}" class="logo">
                                        {% block header_logo_link_text %}
                                            {{ cs_getConfigSetting( 'site_name' ) }}
                                        {% endblock header_logo_link_text %}
                                    </a>
                                {% endblock header_logo_link %}
                            </div>
                            <!-- End Logo container-->
                        {% endblock header_logo %}

                        <div class="menu-extras">
                            {% block header_tools %}
                                <ul class="nav nav-inline navbar-right pull-right">
                                    {% block header_navigation_tools %}
                                    {% endblock %}

                                    {% block header_tools_user %}
                                        <li class="nav-item dropdown">
                                            <a href="javascript:void(0)" class="nav-link dropdown-toggle"
                                               data-toggle="dropdown" role="button"
                                               aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-user"></i>
                                                Account
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="javascript:void(0)"
                                                   class="dropdown-item right-bar-toggle hidden-md-up"><i
                                                            class="fa fa-bell"></i> ToDos</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                            class="fa fa-user"></i> Profile</a>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                            class="fa fa-gear"></i> Settings</a>
                                                <div class="dropdown-divider"></div>
                                                <a href="javascript:void(0)" class="dropdown-item"><i
                                                            class="fa fa-power-off"></i> Logout</a>
                                            </div>
                                        </li>
                                    {% endblock header_tools_user %}

                                    {% block header_tools_notifications %}
                                        <li class="nav-item hidden-sm-down">
                                            <!-- Notification -->
                                            <div class="notification-box">
                                                <ul class="list-inline m-b-0">
                                                    <li>
                                                        <a href="javascript:void(0);" class="right-bar-toggle">
                                                            <i class="zmdi zmdi-notifications-none"></i>
                                                        </a>
                                                        <div class="noti-dot">
                                                            <span class="dot"></span>
                                                            <span class="pulse"></span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- End Notification bar -->
                                        </li>
                                    {% endblock header_tools_notifications %}


                                </ul>
                            {% endblock header_tools %}
                        </div>
                    {% endblock header %}
                </div>
                {% block header_tools_toggler %}
                    <button class="navbar-toggler navbar-toggle hidden-lg-up" type="button" data-toggle="collapse"
                            data-target="#exCollapsingNavbar2">
                        &#9776;
                    </button>
                {% endblock header_tools_toggler %}
            </div>
            {% block navigation_container %}
                <div class="navbar-custom">
                    <div class="container">
                        <div id="navigation">
                            {% block navigation %}
                                <!-- Navigation Menu-->
                                <ul class="navigation-menu">
                                    {% block navigation_home %}
                                        <li class="{{ cs_routeContains( 'admin_index' ) ? 'active' : '' }}">
                                            <a href="{{ url( 'admin_index' ) }}"><i
                                                        class="fa fa-cubes"></i> <span> Dashboard</span> </a>
                                        </li>
                                    {% endblock navigation_home %}
                                    {% block navigation_items %}
                                        {% set menus = cs_getAdminMenus( ) %}
                                        {% for menu in menus %}
                                            {% include '' ~ menu with {adminMenuId: menu.id} %}
                                        {% endfor %}
                                        {#KEEP THE BELOW FOR REFERENCE WHILE WE ARE DEVELOPING#}
                                        {#KEEP THE BELOW FOR REFERENCE WHILE WE ARE DEVELOPING#}
                                        {#KEEP THE BELOW FOR REFERENCE WHILE WE ARE DEVELOPING#}
                                        {#KEEP THE BELOW FOR REFERENCE WHILE WE ARE DEVELOPING#}
                                        {#KEEP THE BELOW FOR REFERENCE WHILE WE ARE DEVELOPING#}
                                        {#KEEP THE BELOW FOR REFERENCE WHILE WE ARE DEVELOPING#}
                                        {#<li class="has-submenu">#}
                                        {#<a href="#"><i class="zmdi zmdi-invert-colors"></i>#}
                                        {#<span> User Interface </span> </a>#}
                                        {#<ul class="submenu megamenu">#}
                                        {#<li>#}
                                        {#<ul>#}
                                        {#<li><a href="ui-buttons.html">Buttons</a></li>#}
                                        {#<li><a href="ui-cards.html">Cards</a></li>#}
                                        {#<li><a href="ui-typography.html">Typography </a></li>#}
                                        {#<li><a href="ui-checkbox-radio.html">Checkboxs-Radios</a></li>#}
                                        {#<li><a href="ui-material-icons.html">Material Design Icons</a></li>#}
                                        {#<li><a href="ui-font-awesome-icons.html">Font Awesome</a></li>#}
                                        {#<li><a href="ui-themify-icons.html">Themify Icons</a></li>#}
                                        {#</ul>#}
                                        {#</li>#}
                                        {#<li>#}
                                        {#<ul>#}
                                        {#<li><a href="ui-modals.html">Modals</a></li>#}
                                        {#<li><a href="ui-notification.html">Notification</a></li>#}
                                        {#<li><a href="ui-range-slider.html">Range Slider</a></li>#}
                                        {#<li><a href="ui-components.html">Components</a>#}
                                        {#<li><a href="ui-sweetalert.html">Sweet Alert</a>#}
                                        {#<li><a href="ui-treeview.html">Tree view</a>#}
                                        {#<li><a href="ui-widgets.html">Widgets</a></li>#}
                                        {#</ul>#}
                                        {#</li>#}
                                        {#</ul>#}
                                        {#</li>#}

                                        {#<li class="has-submenu">#}
                                        {#<a href="#"><i class="zmdi zmdi-collection-text"></i><span> Forms </span> </a>#}
                                        {#<ul class="submenu">#}
                                        {#<li><a href="form-elements.html">General Elements</a></li>#}
                                        {#<li><a href="form-advanced.html">Advanced Form</a></li>#}
                                        {#<li><a href="form-validation.html">Form Validation</a></li>#}
                                        {#<li><a href="form-wizard.html">Form Wizard</a></li>#}
                                        {#<li><a href="form-fileupload.html">Form Uploads</a></li>#}
                                        {#<li><a href="form-wysiwig.html">Wysiwig Editors</a></li>#}
                                        {#<li><a href="form-xeditable.html">X-editable</a></li>#}
                                        {#</ul>#}
                                        {#</li>#}

                                        {#<li class="has-submenu">#}
                                        {#<a href="#"><i class="zmdi zmdi-view-list"></i> <span> Tables </span> </a>#}
                                        {#<ul class="submenu">#}
                                        {#<li><a href="tables-basic.html">Basic Tables</a></li>#}
                                        {#<li><a href="tables-datatable.html">Data Table</a></li>#}
                                        {#<li><a href="tables-editable.html">Editable Table</a></li>#}
                                        {#</ul>#}
                                        {#</li>#}

                                        {#<li class="has-submenu">#}
                                        {#<a href="#"><i class="zmdi zmdi-chart"></i><span> Charts </span> </a>#}
                                        {#<ul class="submenu">#}
                                        {#<li><a href="chart-flot.html">Flot Chart</a></li>#}
                                        {#<li><a href="chart-morris.html">Morris Chart</a></li>#}
                                        {#<li><a href="chart-chartist.html">Chartist Charts</a></li>#}
                                        {#<li><a href="chart-other.html">Other Chart</a></li>#}
                                        {#</ul>#}
                                        {#</li>#}

                                        {#<li class="has-submenu">#}
                                        {#<a href="#"><i class="zmdi zmdi-collection-item"></i><span> Pages </span> </a>#}
                                        {#<ul class="submenu">#}
                                        {#<li class="active"><a href="page-starter.html">Starter Page</a></li>#}
                                        {#<li><a href="page-login.html">Login</a></li>#}
                                        {#<li><a href="page-register.html">Register</a></li>#}
                                        {#<li><a href="page-recoverpw.html">Recover Password</a></li>#}
                                        {#<li><a href="page-lock-screen.html">Lock Screen</a></li>#}
                                        {#<li><a href="page-confirm-mail.html">Confirm Mail</a></li>#}
                                        {#<li><a href="page-404.html">Error 404</a></li>#}
                                        {#<li><a href="page-500.html">Error 500</a></li>#}
                                        {#</ul>#}
                                        {#</li>#}

                                        {#<li class="has-submenu">#}
                                        {#<a href="#"><i class="zmdi zmdi-layers"></i><span>Extra Pages </span> </a>#}
                                        {#<ul class="submenu megamenu">#}
                                        {#<li>#}
                                        {#<ul>#}
                                        {#<li><a href="extras-projects.html">Projects</a></li>#}
                                        {#<li><a href="extras-tour.html">Tour</a></li>#}
                                        {#<li><a href="extras-taskboard.html">Taskboard</a></li>#}
                                        {#<li><a href="extras-inbox.html">Mail</a></li>#}
                                        {#<li><a href="extras-taskdetail.html">Task Detail</a></li>#}
                                        {#<li><a href="extras-maps.html">Maps</a></li>#}
                                        {#<li><a href="extras-calendar.html">Calendar</a></li>#}
                                        {#<li><a href="extras-contact.html">Contact list</a></li>#}
                                        {#<li><a href="extras-pricing.html">Pricing</a></li>#}
                                        {#</ul>#}
                                        {#</li>#}
                                        {#<li>#}
                                        {#<ul>#}
                                        {#<li><a href="extras-timeline.html">Timeline</a></li>#}
                                        {#<li><a href="extras-invoice.html">Invoice</a></li>#}
                                        {#<li><a href="extras-profile.html">Profile</a></li>#}
                                        {#<li><a href="extras-faq.html">FAQ</a></li>#}
                                        {#<li><a href="extras-gallery.html">Gallery</a></li>#}
                                        {#<li><a href="extras-email-template.html">Email template</a></li>#}
                                        {#<li><a href="extras-maintenance.html">Maintenance</a></li>#}
                                        {#<li><a href="extras-comingsoon.html">Coming soon</a></li>#}
                                        {#</ul>#}
                                        {#</li>#}
                                        {#</ul>#}
                                        {#</li>#}
                                    {% endblock navigation_items %}
                                </ul>
                                <!-- End navigation menu  -->
                            {% endblock navigation %}
                        </div>
                    </div>
                </div>
            {% endblock navigation_container %}
    </header>
    <!-- End Navigation Bar-->
{% endblock body_header %}

{% block body_container %}
    <div class="wrapper">
        <div class="container">

            {% block messages %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% set class = type == 'error' ? 'danger' : type %}
                    {% for message in messages %}
                        <div class="system-message alert alert-{{ class }}  alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <i class="{{ cs_getFlashbagClass( type ) }} fa-lg m-r-1"></i> {{ message|raw }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock messages %}

            {% block body_container_title %}
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        {% block body_title_tools %}{% endblock %}
                        <h4 class="page-title">{% block body_title %}Welcome Message{% endblock %}</h4>
                    </div>
                </div>
            {% endblock body_container_title %}

            {% block body_content %}
            {% endblock body_content %}

            {% block body_container_footer %}
                <!-- Footer -->
                <footer class="footer text-right">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6">
                                2016 &copy; {{ cs_getConfigSetting( 'company_name', 'Company Name' ) }}.
                            </div>
                            <div class="col-xs-6">
                                <ul class="pull-right list-inline m-b-0">
                                    <li>
                                        <a href="#"><i class="fa fa-info-circle"></i> Help</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-envelope-o"></i> Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End Footer -->
            {% endblock body_container_footer %}
        </div>
        <!-- end container -->

        {% block body_container_sidebar %}
            <!-- Right Sidebar -->
            <div class="side-bar right-bar">
                <a href="javascript:void(0);" class="right-bar-toggle">
                    <i class="zmdi zmdi-close-circle-o"></i>
                </a>
                <h4 class="">Todos</h4>
                <div class="notification-list nicescroll">
                    {% block sidebar_todos %}
                        {% include 'CoreSysCoreBundle:TodoRest:sidebarTodos.html.twig' %}
                    {% endblock sidebar_todos %}
                </div>
            </div>
            <!-- /Right-bar -->
        {% endblock body_container_sidebar %}

    </div>
{% endblock body_container %}

{% block body_js_core %}
    <!-- jQuery  -->
    {% javascripts
    'bundles/coresyscore/js/detect.js'
    'bundles/coresyscore/js/fastclick.js'
    'bundles/coresyscore/lib/jquery/jquery.slimscroll.js'
    'bundles/coresyscore/lib/jquery/jquery.blockUI.js'
    'bundles/coresyscore/js/waves.js'
    'bundles/coresyscore/js/wow.min.js'
    'bundles/coresyscore/lib/jquery/jquery.nicescroll.js'
    'bundles/coresyscore/lib/jquery/jquery.scrollTo.min.js'
    output="js/jquery-plugins.js" %}
    <script type="application/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {#<script src="{{ asset( '/bundles/coresyscore/js/detect.js' ) }}"></script>#}
    {#<script src="{{ asset( '/bundles/coresyscore/js/fastclick.js' ) }}"></script>#}
    {#<script src="{{ asset( '/bundles/coresyscore/lib/jquery/jquery.slimscroll.js' ) }}"></script>#}
    {#<script src="{{ asset( '/bundles/coresyscore/lib/jquery/jquery.blockUI.js' ) }}"></script>#}
    {#<script src="{{ asset( '/bundles/coresyscore/js/waves.js' ) }}"></script>#}
    {#<script src="{{ asset( '/bundles/coresyscore/js/wow.min.js' ) }}"></script>#}
    {#<script src="{{ asset( '/bundles/coresyscore/lib/jquery/jquery.nicescroll.js' ) }}"></script>#}
    {#<script src="{{ asset( '/bundles/coresyscore/lib/jquery/jquery.scrollTo.min.js' ) }}"></script>#}
{% endblock body_js_core %}

    {% block body_js %}
    {% endblock body_js %}

{% block body_js_app %}
    <!-- App js -->
    {% javascripts
    'bundles/coresyscore/theme/default/admin/js/jquery.core.js'
    'bundles/coresyscore/theme/default/admin/js/jquery.app.js'
    output="js/core.js" %}
    <script type="application/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {#<script src="{{ cs_adminThemeAsset( 'js/jquery.core.js' ) }}"></script>#}
    {#<script src="{{ cs_adminThemeAsset( 'js/jquery.app.js' ) }}"></script>#}
{% endblock body_js_app %}
{% endblock body %}

{{ cs_helperAngularIncludes() }}
<script>
    {{ cs_helperAngularModule() }}
</script>
<script type="application/javascript" src="{{ asset( '/bundles/coresyscore/lib/bootbox.js' ) }}"></script>
<script type="application/javascript" src="{{ asset( '/bundles/coresyscore/js/angular/adminTodos.js' ) }}"></script>

<!-- modal -->
{% block body_modals %}
{% endblock body_modals %}
</body>
</html>