@import "variables.less";
@import "elements.less";
.topbar {

  left: 0px;
  position: fixed;
  right: 0;
  top: 0px;
  z-index: 999;

  .topbar-left {
    background: @white;
    border-top: 3px solid @custom;
    float: left;
    text-align: center;
    height: 73px;
    position: relative;
    width: 250px;
    z-index: 1;

    .logo {
      line-height: 70px;
    }
  }
}

.navbar-default {
  background-color: @white;
  border-radius: 0px;
  border: none;
  border-top: 3px solid @custom;
  margin-bottom: 0px;
  padding: 0px 20px;
  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);

  .navbar-left {
    padding-left: 10px;
    li {
      padding: 0px 10px;
    }
  }

  .navbar-right {
    li {

    }
  }

  .button-menu-mobile {
    display: none;
  }
}

.logo {
  color: @primary !important;
  font-size: 32px;
  font-family: 'Rancho', cursive;

  i {
    display: none;
  }

  span {
    span {
      color: @success;
    }
  }
}

.user-box {
  text-align: center;
  padding: 30px 0px 20px 0px;

  .user-img {
    position: relative;
    height: 88px;
    width: 88px;
    margin: 0px auto;

  }

  h5{
    a{
      color: @muted;
    }
  }

  .user-status {
    height: 12px;
    width: 12px;
    position: absolute;
    bottom: 7px;
    right: 15px;

    i {
      font-size: 15px;
    }
  }
  .user-status.away {
    i {
      color: @warning;
    }
  }
  .user-status.offline {
    i {
      color: @danger;
    }
  }
  .user-status.online {
    i {
      color: @success;
    }
  }
  .user-status.busy {
    i {
      color: @muted;
    }
  }

  ul {
    li {
      a{
        color: @muted;

        &:hover {
          color: @custom;
        }
      }
    }
  }
}

.notification-box {

  ul {
    max-height: 60px;
    li {
      a {
        font-size: 26px;
        color: @dark;
        display: block;
        line-height: 70px;
      }
    }
  }

  .noti-dot {
    position: relative;
    top: -45px;
  }

  .pulse {
    width: 2px;
    height: 2px;
    border: 3px solid @danger;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: @danger;
    z-index: 10;
    position: absolute;
    right: 3px;
  }

  .dot {
    border: 4px solid @danger;
    background: transparent;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    height: 30px;
    width: 30px;
    -webkit-animation: pulse 3s ease-out;
    -moz-animation: pulse 3s ease-out;
    animation: pulse 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    top: -12px;
    left: -4px;
    z-index: 1;
    opacity: 0;
  }

  @-moz-keyframes pulse {
    0% {
      -moz-transform: scale(0);
      opacity: 0.0;
    }
    25% {
      -moz-transform: scale(0);
      opacity: 0.1;
    }
    50% {
      -moz-transform: scale(0.1);
      opacity: 0.3;
    }
    75% {
      -moz-transform: scale(0.5);
      opacity: 0.5;
    }
    100% {
      -moz-transform: scale(1);
      opacity: 0.0;
    }
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(0);
      opacity: 0.0;
    }
    25% {
      -webkit-transform: scale(0);
      opacity: 0.1;
    }
    50% {
      -webkit-transform: scale(0.1);
      opacity: 0.3;
    }
    75% {
      -webkit-transform: scale(0.5);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1);
      opacity: 0.0;
    }
  }
}


.side-menu {
  top: 70px;
  width: 250px;
  z-index: 10;
  background: #2f353f;
  bottom: 50px;
  height: @height;
  margin-bottom: -70px;
  margin-top: 0px;
  padding-bottom: 70px;
  position: fixed;
  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);

  .waves-effect {
    .waves-ripple {
      background-color: fade(@custom, 40%);
    }
  }
}

.content-page {
  margin-left: 250px;
  overflow: hidden;

  .content {
    padding: 0px 5px;
    margin-top: 93px;
  }
}

.button-menu-mobile {
  background: transparent;
  border: none;
  color: @dark;
  font-size: 21px;
  line-height: 68px;

  &:hover {
    color: @custom;
  }
}

.sidebar-inner {
  height: @height;
}

#sidebar-menu, #sidebar-menu ul, #sidebar-menu li, #sidebar-menu a {
  border: 0;
  font-weight: normal;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}

#sidebar-menu {
  padding-bottom: 30px;
  width: 100%;

  a {
    line-height: 1.3;
  }

  ul {
    li {
      .menu-arrow {
        -webkit-transition: -webkit-transform .15s;
        -o-transition: -o-transform .15s;
        transition: transform .15s;
        position: absolute;
        right: 20px;
        display: inline-block;
        font-family: 'Material-Design-Iconic-Font';
        text-rendering: auto;
        line-height: 18px;
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);

        &:before {
          content: '\f2fb';
        }
      }
      a.subdrop .menu-arrow {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
    ul {
      display: none;
      li {
        border-top: 0;
      }
      li.active {
        a {
          color: @custom;
        }
      }
      a {
        color: #838F9A;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        border-left: 3px solid transparent;
        display: block;
        padding: 10px 20px 10px 65px;
        &:hover {
          color: @white;
        }
        i {
          margin-right: 5px;
        }
      }
      ul {
        a {
          padding-left: 80px;
        }
      }
    }
  }
  .label {
    margin-top: 2px;
  }
  .subdrop {
    border-left: 3px solid @custom;
    color: @custom !important;
  }
}


#sidebar-menu > ul > li > a {
  color: #838F9A;
  display: block;
  padding: 12px 20px;
  margin: 4px 0px;
  border-left: 3px solid transparent;

  &:hover {
    color: @custom;
    text-decoration: none;
  }
}

#sidebar-menu > ul > li > a > span {
  vertical-align: middle;
}

#sidebar-menu {
  ul {
    li {
      a{
        i{
          display: inline-block;
          font-size: 16px;
          line-height: 17px;
          margin-left: 3px;
          margin-right: 15px;
          text-align: center;
          vertical-align: middle;
          width: 20px;
        }
        i.md {
          font-size: 18px;
        }
        .drop-arrow {
          float: right;

          i{
            margin-right: 0px;
          }
        }
      }
    }
  }
}


#sidebar-menu > ul > li > a.active {
  border-left: 3px solid @custom;
  color: @custom !important;
}


.menu-title {
  padding: 12px 20px !important;
  letter-spacing: .035em;
  pointer-events: none;
  cursor: default;
  font-size: 13px;
}


#wrapper.enlarged {
  .menu-title ,.menu-arrow{
    display: none !important;
  }

  .user-box {
    .user-img {
      height: 48px;
      width: 48px;
    }
    h5 {
      display: none;
    }
  }

  #sidebar-menu {
    ul {
      ul {
        border: 2px solid transparent;
        margin-top: -5px;
        padding-top: 5px;
        z-index: 9999;
        background-color: @white;
      }
    }
  }
  .left.side-menu {
    width: 70px;
    z-index: 5;
    position: absolute;

    #sidebar-menu > ul > li > a {
      padding: 15px 20px;
      &:hover {
        background: #272c35 !important;
      }
      &:active {
        background: #272c35 !important;
      }
      &:focus {
        background: #272c35 !important;
      }

      i {
        margin-right: 20px !important;
        font-size: 20px;
      }
    }
    .label {
        position: absolute;
        top: 5px;
        left: 35px;
        text-indent: 0;
        display: block !important;
        padding: .2em .6em .3em !important;
    }
    #sidebar-menu {
      ul > li {
        position: relative;
        white-space: nowrap;
        &:hover > a {
          position: relative;
          width: 260px;
          background: #272c35;
          color: @custom;
          border-color: transparent;
        }
        &:hover > ul {
          display: block;
          left: 70px;
          position: absolute;
          width: 190px;
          background: #272c35;
          a {
            box-shadow: none;
            padding-left: 15px;
            position: relative;
            width: 186px;
            z-index: 6;

            &:hover {
              color: @custom;
            }
          }
        }
        &:hover {
          a {
            span {
              display: inline;
            }
          }
        }
      }
      li{
        .show-menu + ul{
            display: block;
            left: 70px;
            position: absolute;
            width: 190px;
            a {
              background: @white;
              box-shadow: none;
              padding-left: 15px;
              position: relative;
              width: 186px;
              z-index: 6;

              &:hover {
                color: @custom;
              }
            }

        }
      }
      a.subdrop {
        color: @custom !important;
      }
      ul > li > ul {
        display: none;
      }
      ul {
        ul {
          li {
            &:hover > ul {
              display: block;
              left: 190px;
              margin-top: -36px;
              position: absolute;
              width: 190px;
            }
          }
          li > a {
            span.pull-right {
              -ms-transform: rotate(270deg);
              -webkit-transform: rotate(270deg);
              position: absolute;
              right: 20px;
              top: 12px;
              transform: rotate(270deg);
            }
          }
          li.active {
            a{
              color: @custom;
            }
          }
        }
      }
      ul > li > a {
        span {
          display: none;
          padding-left: 10px;
        }
      }
    }
    .user-details {
      display: none;
    }
  }
  .content-page {
    margin-left: 70px;
  }
  .footer {
    left: 70px;
  }
  .topbar {
    .topbar-left {
      width: 70px !important;
      .logo {
        span {
          display: none;
          opacity: 0;
        }
        i {
          display: block;
          line-height: 70px;
          color: @dark !important;
        }
      }
    }

  }
  #sidebar-menu > ul > li {
    &:hover > a.open {
      :after {
        display: none;
      }
    }
    &:hover > a.active {
      :after {
        display: none;
      }
    }
  }

}

#wrapper.right-bar-enabled {
  .right-bar {
    right: 0;
  }
  .left-layout {
    left: 0;
  }
}

/* Right sidebar */
.side-bar.right-bar {
  float: right !important;
  right: -266px;
  top: 0px;
}

.side-bar {
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  background-color: @white;
  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  display: block;
  float: left;
  height: @height;
  position: fixed;
  transition: all 200ms ease-out;
  width: 240px;
}

.right-bar {
  background: @white !important;
  z-index: 999 !important;
  h4 {
    border-bottom: 1px solid fade(@muted,50%);
    padding: 4px 10px 10px 18px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.03em;
  }
  .right-bar-toggle {
    float: right;
    line-height: 46px;
    font-size: 20px;
    color: #333;
    padding: 0px 10px;
  }
}

.notification-list {
  padding-bottom: 60px;
  height: 100%;

  .list-group-item {
    border-bottom: 1px solid fade(@muted,20%) !important;
    margin-bottom: 0px;
  }
  .list-group-item.active {
    background-color: fade(@muted,10%);
  }
}

.user-list {
  .user-list-item {

    .avatar {
      float: left;
      margin-right: 5px;
      width: 30px;
      height: 30px;

      img {
        border-radius: 50%;
        width: @width;
      }
    }

    .icon {
      float: left;
      margin-right: 5px;
      height: 30px;
      width: 30px;
      border-radius: 50%;
      text-align: center;

      i {
        color: @white;
        line-height: 30px;
        font-size: 16px;
      }
    }

    .user-desc {
      margin-left: 40px;

      span.name {
        color: @dark;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        width: 100%;
        overflow: hidden;
      }


      span.desc {
        color: @muted;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        width: 100%;
        overflow: hidden;
        font-size: 12px;
      }
      span.time {
        font-size: 11px;
        color: @custom;
        font-style: italic;
      }
    }
  }
}

/* Seach */
.app-search {
  position: relative;

  a {
    position: absolute;
    top: 7px;
    right: 20px;
    color: fade(@muted, 70%);

    &:hover {
      color: @muted;
    }
  }

  .form-control,
  .form-control:focus {
    border: 1px solid fade(@muted, 15%);
    font-size: 13px;
    height: 34px;
    color: @dark;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 40px;
    margin-top: 18px;
    margin-left: 20px;
    background: fade(@muted, 10%);
    box-shadow: none;
    border-radius: 30px;
    width: 190px;
  }
}

input.app-search-input {
  &::-webkit-input-placeholder {
    color: fade(@white, 70%);
    font-weight: normal;
  }
  &:-moz-placeholder {
    color: fade(@white, 70%);
  }
  &::-moz-placeholder {
    color: fade(@white, 70%);
  }
  &:-ms-input-placeholder {
    color: fade(@white, 70%);
  }
}


