{% set todos = cs_getTodos() %}
var adminTodos = {{ todos | serialize( 'json' ) | raw }};
window.adminTodos = adminTodos;
function toggleTodoComplete( todoId ) {
    var todo = findTodo;
    if ( todo ) {
        $.ajax( {
            url:         Routing.generate( 'api_put_todo', {entity: todo.id} ),
            type:        'PUT',
            data:        JSON.stringify( todo ),
            contentType: 'application/json',
            success:     function ( res ) {
                updateTodo( todo );
            }
        } );
    }
}
function findTodo( todoId, retIndex ) {
    var ret   = null,
        index = null;

    $.each( adminTodos, function ( idx, todo ) {
        if ( parseInt( todoId ) === parseInt( todo.id ) ) {
            ret   = todo;
            index = idx;
            return false;
        }
    } );
    if ( retIndex ) {
        return index;
    } else {
        return ret;
    }
}
function deleteTodo( todoId ) {
    var todo = findTodo( todoId );
    if ( todo ) {
        bootbox.confirm( 'Are you sure you want to remove this todo?', function ( res ) {
            if ( res ) {
                $.ajax( {
                    url:         Routing.generate( 'api_delete_todo', {entity: todoId} ),
                    contentType: 'application/json',
                    type:        'DELETE',
                    success:     function () {
                        $( '[data-todo-id="' + todoId + '"]' ).remove();
                    }
                } );
            }
        } );
    }
}
function updateTodo( todo ) {
    var index = findTofo( todo.id );
    if ( index !== null ) {
        adminTodos[index] = todo;
        var $container    = $( '[data-todo-id="' + todo.id + '"]' ),
            $icon         = $container.find( 'i.todo-complete' );
        if ( todo.complete ) {
            $icon.removeClass( 'fa-close text-danger' ).addClass( 'fa-check text-success' );
        } else {
            $icon.addClass( 'fa-close text-danger' ).removeClass( 'fa-check text-success' );
        }
    }
}