{{ form_start( form ) }}
 {{ form_row( form.title ) }}
{{ form_row( form.body ) }}
<div style="display:none">
    {{ form_rest( form ) }}
    <button type="submit"></button>
</div>
{{ form_end( form ) }}