<div class="row">
    <div class="col-xs-12">
        {{ form_start( form, {name:"create-role", attr:{name:"create-role", class:"form form-horizontal"}} ) }}
        <div class="form-group">
            {{ form_errors( form.name ) }}
            {{ form_label( form.name ) }}
            <div class="input-group">
                {{ form_widget( form.name ) }}
                <span class="input-group-addon">
                {{ form_widget( form.active, {label: false} ) }}
            </span>
            </div>
            <small class="form-text text-muted">Role Name | Active state</small>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <div class="text-sm-center">
                    {{ form_errors( form.switch ) }}
                    {{ form_label( form.switch ) }}
                    {{ form_widget( form.switch ) }}
                    <small class="form-text text-muted">Allow role to switch?</small>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="text-sm-center">
                    {{ form_errors( form.mandatory ) }}
                    {{ form_label( form.mandatory ) }}
                    {{ form_widget( form.mandatory ) }}
                    <small class="form-text text-muted">Is this Role Mandatory?</small>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                {{ form_errors( form.parent ) }}
                {{ form_label(form.parent) }}
                {{ form_widget(form.parent) }}
                <small class="form-text text-muted">Will this role inherit another?</small>
            </div>
            <div class="col-sm-6">
                {{ form_errors( form.color ) }}
                {{ form_label(form.color) }}
                {{ form_widget(form.color) }}
                <small class="form-text text-muted">Choose a display color</small>
            </div>
        </div>
        <div style="display:none">
            {{ form_rest( form ) }}
            <button type="submit"></button>
        </div>
        {{ form_end( form ) }}
    </div>
</div>