{
{% for optionKey, optionVal in options %}
{{ optionKey | raw }}:
    {% if optionKey == 'createdRow' %}
    function(row,data,idx) {
        if( typeof {{ optionVal }} === 'function' ) {
            {{ optionVal }}(row,data,idx);
        }
    }
    {% else %}
    {% if cs_isNull(optionVal) %}null
    {% elseif cs_isBool( optionVal ) %}
    {{ optionVal ? 'true' : 'false' | raw }}
    {% elseif cs_isNumeric( optionVal ) %}
    {{ optionVal | raw }}
    {% elseif cs_isString( optionVal ) %}
    "{{ optionVal | raw }}"
            {% elseif cs_isArray( optionVal ) %}
            {% if optionKey == 'columns' %}
            [
            {% for column in optionVal %}
    {
    {% for k,v in column %}{{ k | raw }}:
    {% if cs_isNull(v) %}null
    {% elseif cs_isBool(v) %}{{ v ? 'true' : 'false' | raw }}
    {% elseif cs_isNumeric(v) %}{{ v | raw }}
    {% elseif cs_isString(v) %}{% if k == 'render' %}{{ v | raw }}{% else %}"{{ v | raw }}"{% endif %}
    {% elseif cs_isArray(v) %}{{ v | serialize('json', context) | raw }}
    {% endif %}
    {{ loop.last ? '' : ',' }}
    {% endfor %}
}
    {{ loop.last ? '' : ',' }}
    {% endfor %}
]
    {% else %}
    {{ optionVal | serialize('json',context) | raw }}
    {% endif %}
    {% endif %}
    {% endif %}
{{ loop.last ? '' : ',' }}
{% endfor %}
}