<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ title }}
            {% if hasTableActions %}
                <span class="pull-right">
                <div class="btn-group btn-group-xs">
                    {% for action in tableActions %}
                        {{ action.item | raw }}
                    {% endfor %}
                </div>
            </span>
            {% endif %}
        </h3>
    </div>
    <div class="panel-body">
        <table id="dt-table-{{ resource | lower }}" class="display table table-bordered table-striped" width="100%"></table>
    </div>
</div>
<div id="{{ resource | lower | raw }}-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->