<div class="card card-default">
    <div class="card-header">
        <div class="row">
            {% if hasTableActions %}
                <div class="text-sm-right pull-md-right text-xs-center pull-sm-right pull-right">
                    <div class="btn-group btn-group-sm">
                        {% for action in tableActions %}
                            {{ action.item | raw }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            <div class="col-xs-12 col-sm-8 col-md-6 text-sm-left text-xs-center">
                <span class="card-title" style="font-size: 1.5rem;margin-bottom: 0;">{{ title }}</span>
            </div>
        </div>
    </div>
    <div class="card-block">
        <table id="dt-table-{{ resource | lower }}" class="display table table-bordered table-striped" width="100%"></table>
    </div>
</div>
<div id="{{ resource | lower | raw }}-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $( 'div#{{ resource | lower | raw }}-modal' ).on( 'hide.bs.modal', function ( e ) {
        $( '.popover' ).remove();
    } );
</script>