{% set resource = options.resource | raw %}
{% set tableId = 'dt-table-' ~ resource | lower %}
{% set tableVar = '$table' ~ resource | raw %}
{% set dtOptionsVar = 'dt' ~ resource ~ 'Options' |raw %}
{% set dtVar = 'DT' ~ resource | raw %}
{% set modalVar = '$modal' ~ resource | raw %}

var {{ tableVar | raw }} = $( 'table#{{ tableId | raw }}' ),
        {{ modalVar | raw }} = $( '.modal#{{ resource | lower | raw }}-modal'),
        {{ dtOptionsVar | raw }} = {{ cs_removeLineBreaks( dtOptions ) | raw }};

var {{ dtVar | raw }} = {{ tableVar | raw }}.DataTable( {{ dtOptionsVar | raw }} );

{% if options.hasTableActions or options.hasRowActions %}
    {% include 'CoreSysCoreBundle:Datatables:actionColumns.js.twig' with {tableData:options} %}
{% endif %}

{% if options.renderers | length %}
{% for renderer in options.renderers %}
{{ renderer | raw }}
{% endfor %}
{% endif %}