{% stylesheets
'@CoreSysCoreBundle/Resources/public/lib/angular/angular-ui.select.css'
output="css/angular/core.css" %}
<link type="text/css" rel="stylesheet" href="{{ asset_url }}"></link>
{% endstylesheets %}