{% javascripts
'@CoreSysCoreBundle/Resources/public/lib/angular/angular.js'
'@CoreSysCoreBundle/Resources/public/lib/angular/angular-animate.js'
'@CoreSysCoreBundle/Resources/public/lib/angular/angular-resource.js'
'@CoreSysCoreBundle/Resources/public/lib/angular/angular-route.js'
'@CoreSysCoreBundle/Resources/public/lib/angular/angular-sanitize.js'
'@CoreSysCoreBundle/Resources/public/lib/angular/angular-touch.js'
'@CoreSysCoreBundle/Resources/public/lib/angular/angular-ui-router.min.js'
'@CoreSysCoreBundle/Resources/public/lib/angular/angular-ui-bootstrap.min.js'
'@CoreSysCoreBundle/Resources/public/lib/angular/angular-ui-sortable.min.js'
'@CoreSysCoreBundle/Resources/public/lib/angular/angular-ui.select.js'
output="js/angular/core.js" %}
<script type="application/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}