<div class="card">
    <div class="card-block">
        <div class="row">
            {% set photo = user.socialData.getFacebookPicture() %}
            {% set fbdata = user.socialData.getFacebookData() %}
            {% set leftClass = photo ? 'col-md-4' : '' %}
            {% set rightClass = photo ? 'col-md-8' : '' %}
            {% if photo %}
            <div class="col-xs-12 col-sm-12 {{ leftClass }}">
                <div class="thumbnail text-xs-center">
                    <img src="{{ photo }}" class="img-fluid" style="margin: 0 auto;"/>
                </div>
            </div>
            {% endif %}
            <div class="col-xs-12 col-sm-12 {{ rightClass }}">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2"><b>ID</b></div>
                    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-10">{{ fbdata.id }}</div>

                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2"><b>Name</b></div>
                    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-10">{{ fbdata.name }}</div>

                    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2"><b>Email</b></div>
                    <div class="col-xs-8 col-sm-8 col-md-9 col-lg-10">{{ fbdata.email }}</div>
                </div>
            </div>
        </div>
    </div>
</div>