<div class="card bg-white">
    <div class="card-header">
        <div class="card-title">Social Accounts</div>
    </div>
    <div class="card-block">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#account_facebook">
                    <i class="fa fa-facebook"></i>
                    Facebook
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#account_twitter">
                    <i class="fa fa-twitter"></i>
                    Twitter
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#account_google">
                    <i class="fa fa-google-plus"></i>
                    Google Plus
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#account_instagram">
                    <i class="fa fa-instagram"></i>
                    Instagram
                </a>
            </li>
            <li class="nav-item pull-right" style="float:right" data-placement="left" data-container="body"
                data-toggle="tooltip" title="Edit Social Accounts">
                <a class="nav-link" data-toggle="tab" href="#account_edit">
                    <i class="fa fa-edit"></i>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="account_facebook" role="tabpanel">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4">
                        <b>Facebook Email</b>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-7 col-lg-8">
                        <span data-for="facebookEmail">
                        {{ user.socialAccount.facebookEmail | default('N/A') }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="account_twitter" role="tabpanel">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4">
                        <b>Twitter Email</b>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-7 col-lg-8">
                        <span data-for="twitterEmail">
                        {{ user.socialAccount.twitterEmail | default('N/A') }}
                            </span>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4">
                        <b>Twitter Screen Name</b>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-7 col-lg-8">
                        <span data-for="twitterScreenName">
                        {{ user.socialAccount.twitterScreenName | default('N/A') }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="account_google" role="tabpanel">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4">
                        <b>Google+ Email</b>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-7 col-lg-8">
                        TBD
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="account_instagram" role="tabpanel">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-5 col-lg-4">
                        <b>Instagram Email</b>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-7 col-lg-8">
                        TBD
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="account_edit" role="tabpane">
                <form id="social-account-form" class="form form-horizontal">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                <i class="fa fa-facebook"></i> Facebook
                            </h4>
                        </div>
                        <div class="card-block">
                            {{ form_row( accountForm.facebookEmail ) }}
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">
                                <i class="fa fa-twitter"></i> Twitter
                            </h4>
                        </div>
                        <div class="card-block">
                            {{ form_row( accountForm.twitterScreenName ) }}
                            {{ form_row( accountForm.twitterEmail ) }}
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <i class="fa fa-google-plus"></i> Google +
                            </div>
                        </div>
                        <div class="card-block">
                            {{ form_row( accountForm.googleEmail ) }}
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <i class="fa fa-instagram"></i> Instagram
                            </div>
                        </div>
                        <div class="card-block">
                            {{ form_row( accountForm.instagramEmail ) }}
                        </div>
                    </div>

                    <div class="hidden-xs-up" style="display:none">
                        {{ form_rest( accountForm ) }}
                    </div>
                    <div class="text-xs-right">
                        <button type="submit" class="btn btn-primary btn-md">
                            <i class="fa fa-check"></i>
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>